<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/category/categorypage4-doll.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>category</title>
</head>
<div id="wrapper">
    <div id="header">
        <div class=cartbar>
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="category-box">
                <div class="category"><a href="home.html">홈</a></div>
                <div class="category"><a href="new_projects.html">신규 프로젝트</a></div>
                <div class="category"><a href="closing_soon_projects.html">마감 임박 프로젝트</a></div>
                <div class="category"><a href="early_bird_projects.html">얼리버드 프로젝트</a></div>
            </div>
        </div>
        <div class="logo">
            <img src="/icon/logo2.png" alt="">
        </div>
        <div class="menu">
            <!-- <div class="menu-item"><img src ="/icon/likebutton.svg" alt="" width="35px" height="35px"></div> -->
            <a href="like.html" class="menu-item"><img src="/icon/likebutton.svg" alt="" width="35px" height="35px"></a>
            <a href="alarm.html" class="menu-item"><img src="/icon/alarmbutton.svg" alt="" width="37px" height="35.36px"></a>
            <a href="upload.html" class="menu-item"><img src="/icon/uploadbutton.svg" alt="" width="118px" height="35.36px"></a>
            <a href="login.html" class="menu-item"><img src="/icon/loginbutton.svg" alt="" width="118px" height="35.36px"></a>
        </div>               
        <div id="search-area">
            <form id="search-form">
                <div id="search-text-area">
                    <input type="text" id="search-input" name="search-input" placeholder="  검색어를 입력해주세요." 
                    onfocus="this.placeholder=''" onblur="this.placeholder='  검색어를 입력해주세요.'" >
                </div>
                <div id="search-btn-area">
                    <button type="submit" id="search-btn" ><img src="/icon/searchbutton.png"></button>
                </div>
            </form>
        </div>



    </div>
<body>

<div id="content">

        <div class="proCategoryInner">


            <div class="categorycontainer">
                <ul>
                    <li>
                        <a href="/category/category-all">                                <span class="categoryimg">
                                    <img src="/icon/CategoryIcon1_all.png" alt="전체"></span>
                            <span class="categorytext">전체</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/category/category-acc">
                                <span class="categoryimg Acc"><img
                                        src="/icon/CategoryIcon2_accessory.png" alt="액세서리"></span>
                            <span class="categorytext">액세서리</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/category/category-digit">
                                <span class="categoryimg Digit"><img
                                        src="/icon/CategoryIcon4_doll.png" alt="디지털액세서리"></span>
                            <span class="categorytext">디지털<br>액세서리</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/category/category-doll">
                                <span class="categoryimg Doll">
                                    <img src="/icon/CategoryIcon4_doll.png" alt="인형"></span>

                            <span class="categorytext cateActive">인형</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/category/category-stationery">
                                <span class="categoryimg Sta"><img
                                        src="/icon/CategoryIcon5_stationery.png" alt="문구"></span>
                            <span class="categorytext">문구</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/category/category-fancyGoods">
                                <span class="categoryimg Fan"><img
                                        src="/icon/CategoryIcon6_fancyGoods.png" alt="잡화"></span>
                            <span class="categorytext">잡화</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/category/category-apparel">
                                <span class="categoryimg App"><img src="/icon/CategoryIcon7_apparel.png"
                                                                   alt="의류"></span>
                            <span class="categorytext">의류</span>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/category/category-etc">
                                <span class="categoryimg Etc"><img src="/icon/CategoryIcon8_etc.png"
                                                                   alt="기타"></span>
                            <span class="categorytext">기타</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div  class="cateResult">
                <div class="mainCateIndicate">인형</div>
                <!-- <i class="fa-solid fa-angle-right"></i>
                <div class="subCateIndicate">지비츠</div> -->
            </div>

            <div class="dropdown-cate-wrapper">


                <!-- <div class="cate-dropdown">
                    <span class="cateBtn">세부 카테고리</span>
                    <div class="cate-content">
                        <a href="">그립톡</a>
                        <a href="">에어팟 케이스</a>
                        <a href="">버즈 케이스</a>
                        <a href="">핸드폰 케이스</a>

                    </div>
                </div> -->
            </div>

            <div class="cateMiddle">
                <div class="proCount">
                    53,043개의 프로젝트가 있습니다.
                </div>
                <div class="cateRow">최신순 | 인기순 | 마감임박순</div>
            </div>

            <div class="card-wrapper">
                <div th:if="${categoryId == 3}"  th:each="project : ${dollProjectList}" class="cards">
                    <a th:href="|/projectdetail/projectdetail?no=${project.projectCode}|">
                        <i class="fa-solid fa-heart"></i>
                        <img src="/images/Ohmygirl.png" alt="Ohmygirl">
                    </a>
                    <div class="card-body">
                        <span class="percent">38%</span>
                        <span class="amount">17,268,000원</span>
                        <span class="dayleft">18일 남음</span>
                    </div>
                    <h4 th:text="${project.projectTitle}"></h4>
                    <p class="card-description" th:text="${project.projectDetail}"></p>
                    <div class="creatorname" th:text="${project.creatorName.nickName}"></div>
                    </a>
                </div>



            <br><br>
            <hr>
        </div>
            


    
</div>
</div>
</div>

</body>

<!--<div id="footer">-->
<!--    <div id="footer-1">-->
<!--        <img src="/icon/logo2.png" alt="" class="img-responsive">-->
<!--        <div class="text-container">-->
<!--            <p><a href="https://github.com/JellyBearss" target="_blank" class="my-link">https://github.com/JellyBearss</a></p>-->
<!--            <p> Team :  JellyBears</p></div>-->
<!--            -->
<!--    </div>-->
<!--    <div id="footer-2">-->
<!--        <ul><li><a href="notice.html">공지사항</a></li></ul>-->
<!--    </div>-->
<!--    <div id="footer-3">-->
<!--        <ul>-->
<!--            <li><a href="guide.html">이용안내</a></li>-->
<!--            <li><a href="first_support_guide.html">첫 후원 가이드</a></li>-->
<!--            <li><a href="creator_guide.html">창작자 가이드</a></li>-->
<!--            <li><a href="copyright_guide.html">저작권 안내</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div id="footer-4">-->
<!--        <ul>-->
<!--            <li><a href="policy.html">정책</a></li>-->
<!--            <li><a href="terms_of_service.html">이용약관</a></li>-->
<!--            <li><a href="privacy_policy.html">개인정보 처리방침</a></li>-->
<!--            <li><a href="project_criteria.html">프로젝트 심사 기준</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div id="footer-5">-->
<!--        <p>고객지원</p>-->
<!--        <p>평일 9:00 ~ 17:00 (12:00 ~14:00 제외)</p>-->
<!--        <a href="contact.html"><button>고객센터에 문의</button></a>-->
<!--    </div>-->
<!--    -->
<!--</div>-->
<!--<div id="notify">-->
<!--    <p>크라우드 팝핑은 플랫폼 제공자로서 프로젝트의 당사자가 아니며, -->
<!--        직접적인 통신판매를 진행하지 않습니다. 프로젝트의 완수 및 선물제공의 책임은 해당 프로젝트의 창작자에게 있으며, 프로젝트와 관련하여 후원자와 발생하는 법적 분쟁에 대한 책임은 해당 창작자가 부담합니다. </p>-->
<!--</div>-->
</html>