<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jellybears.krowdpoping.main.model.dao.MainMapper">

    <resultMap id="CaUserResultMap" type="com.jellybears.krowdpoping.category.model.dto.CaUserDTO">
        <id property="userCode" column="user_code"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="nickName" column="nickname"/>

    </resultMap>

    <resultMap id="categoryResultMap" type="com.jellybears.krowdpoping.category.model.dto.CategoryDTO">
        <id property="categoryCode" column="category_code"/>
        <result property="categoryTitle" column="category_title"/>
        <result property="upperCategoryCode" column="upper_category_code"/>
        <result property="subCategoryCode" column="CATEGORY_CODE"/>

    </resultMap>

    <resultMap id="caProjectResultMap" type="com.jellybears.krowdpoping.category.model.dto.CaProjectDTO">
        <id property="projectCode" column="project_code"/>
        <result property="projectTitle" column="title"/>
        <result property="projectDetail" column="content"/>
        <association property="creatorName" resultMap="CaUserResultMap"/>
        <collection property="image" resultMap="caProjectImageResultMap"/>
    </resultMap>


    <resultMap id="caProjectImageResultMap" type="com.jellybears.krowdpoping.category.model.dto.CaProjectImageDTO">
        <id property="projectFileCode" column="projectfile_code"/>
        <result property="originFileName" column="original_name"/>
        <result property="changedFileName" column="saved_name"/>
        <result property="updateDate" column="update_date"/>
        <result property="whetherDeleted" column="whether_deleted"/>
        <result property="fileType" column="file_type"/>
        <result property="refProjectCode" column="project_code"/>
        <result property="savePath" column="save_path"/>
        <result property="thumbnailPath" column="thumbnail_path"/>

    </resultMap>

    <select id="getMainAllProjectList" resultMap="caProjectResultMap">
        select
            A.project_code,
            A.title,
            A.content,
            B.nickname,
            C.original_name,
            C.save_path,
            C.saved_name,
            C.file_type,
            C.thumbnail_path,
            C.whether_deleted,
            C.update_date


        from project A
                 join user_info B on A.user_code = B.user_code
                 left join project_files C on A.project_code = C.project_code
--         where judge_status = '심사완료'
        order by project_code desc
    </select>

    <select id="getMainDeadlineProjectList" resultMap="caProjectResultMap">
        SELECT
            A.project_code,
            A.title,
            A.content,
            A.end_date,
            B.nickname,
            C.original_name,
            C.save_path,
            C.saved_name,
            C.file_type,
            C.thumbnail_path,
            C.whether_deleted,
            C.update_date
        FROM
            project A
                JOIN user_info B ON A.user_code = B.user_code
                LEFT JOIN project_files C ON A.project_code = C.project_code
        WHERE
            A.end_date BETWEEN CURDATE() AND DATE_ADD(CURDATE(), INTERVAL 7 DAY)
        ORDER BY
            A.project_code DESC;
    </select>


</mapper>