<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/user_layout}">
<head>    <link rel="stylesheet" href="/css/mypage/MYP_following_yes.css"></head>
<th:block layout:fragment="content">
    <div id="wrapper">

        <div id="content">
            <!-- 여기가 중간 부분 여기에 코드 작성-->
            <div id="content-1">
                <div id="profile-container">
                    <div id="profilepic"><img src="/icon/basicpic.png" alt=""></div>
                    <div id="nickname">체리토끼 님</div>
                    <!-- <button type="submit" id="changepic">프로필 사진 변경</button> -->
                </div>

                <button type="submit" id="changepic" >프로필 사진 변경</button>
                <ul class="mplist1">
                    <li><a href="/user/regist">내 정보 수정</a></li>
                    <li>나의 배송지</li>
                    <ul class="tree">
                        <a class="projectlink">프로젝트</a>
                        <li><a href="/mypage/projectlist1_ing">후원한 프로젝트</a></li>
                        <li><a href="/mypage/projectlist2_yes">찜한 프로젝트</a></li>
                        <li><a href="/mypage/projectlist3_no">등록한 프로젝트</a></li>
                        <li><a href="/mypage/projectlist4">최근 본 프로젝트</a></li>
                    </ul>
                    <ul class="mypageunder">
                        <li>결제 내역</li>
                        <li class="project4"><a href="/mypage/followinglist_yes">팔로잉 목록</a></li>
                        <li><a href="/mypage/followerlist_yes">내 팔로워</a></li>
                        <li>알림</li>

                    </ul>
                </ul>
                <ul class="mplist2">
                    <li>신고</li>
                    <li>고객센터</li>
                    <li>로그아웃</li>
                    <li class="delete_user" th:onclick="'location.href=\'/user/delete?id='+ @{${ #authentication.getPrincipal().userDTO.getUserId() }} + '\''">회원탈퇴</li>
                </ul>

            </div>
            <div class="content-2">
                <div id="edittitle">
                    <span class="highlight-text">팔로잉</span>
                </div>
                <div id="under_line"></div>
                <div id="projectlist_menucontainer"> 
                    <div class="lm-1">1 명을 팔로잉 하고 있습니다.</div>
                    <!-- <div class="lm-2">찜한 프로젝트</div>
                    <div class="lm-3">등록한 프로젝트</div>
                    <div class="lm-4">최근 본 프로젝트</div> -->
                </div>
                <div id="pjminilist">
                    <div class="mini-1">&nbsp&nbsp&nbsp</div>

                </div>
                <div id="supported_project1_container">
                    <div class="follower1_image"></div>
                    <div id="spcontainer_1">
                        <div class="sp1_1"> 흑석동핵주먹 </div>
                        <div class="sp1_2"> chukk0503</div>

                        </div>                            


                    <div id="spcontainer_2">
                        <button type="button" id="detail_button" >
                            <div class="button_content">
                                <img src="/icon/unfollow.png" class="follow_icon">
                                <span class="follow_text">팔로잉 취소</span>
                            </div>
                        </button>

                    </div>

                </div>


            </div>
        </div>

    </div>
</th:block>


</html>