<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/layouts/user_layout}">
<head>    <link rel="stylesheet" href="/css/mypage/MYP_editprofile.css"> </head>
<th:block layout:fragment="content">
    <div id="wrapper">

        <div id="content">
            <!-- 여기가 중간 부분 여기에 코드 작성-->
            <div id="content-1">
                <div id="profile-container">
                    <div id="profilepic"><img src="/icon/basicpic.png" alt=""></div>
                    <div id="nickname"><span sec:authentication="principal.userDTO.nickname"></span>님</div>
                    <!-- <button type="submit" id="changepic">프로필 사진 변경</button> -->
                </div>

                <button type="submit" id="changepic" >프로필 사진 변경</button>
                <ul class="mplist1">
                    <li><a href="/user/regist">내 정보 수정</a></li>
                    <li>나의 배송지</li>

                    <ul class="tree">
                        <a class="projectlink">프로젝트</a>
                            <li><a href="/user/regist">후원한 프로젝트</a></li>
                            <li><a href="/mypage/projectlist2_yes">찜한 프로젝트</a></li>
                            <li><a href="/mypage/projectlist3_no">등록한 프로젝트</a></li>
                            <li><a href="/mypage/projectlist4">최근 본 프로젝트</a></li>
                    </ul>
                    <ul class="mypageunder">
                        <li>결제 내역</li>
                        <li><a href="/mypage/followinglist_yes">팔로잉 목록</a></li>
                        <li><a href="/mypage/followerlist_yes">내 팔로워</a></li>
                        <li>알림</li>
                    </ul>
                </ul>
                <ul class="mplist2">
                    <li>신고</li>
                    <li>고객센터</li>
                    <li>로그아웃</li>
                </ul>

            </div>
        <form id="joinForm" th:action="@{/user/update}" method="post">
            <div class="content-2">
                <div id="edittitle">
                    <span class="highlight-text">내 정보 수정</span>
                </div>
                <div id="under_line"></div>
                <input
                        type="hidden"
                        id="userId"
                        name="userId"
                        th:value="${ #authentication.getPrincipal().userDTO.getUserId() }"
                >


                <div id="edittitle-1">프로필 사진</div>
                <div id="profile_img"><img src="/icon/basicpic.png" alt=""></div>
                <button type="submit" id="changepicture" >변경하기</button>
                <button type="submit" id="deletepicture" >삭제하기</button>
                <div class="id_part">
                    <span id="id_title">내 아이디 </span><span class="user_id" th:text="${ #authentication.getPrincipal().userDTO.getUserId() }"></span>
                </div>

                <div id="edittitle-2">비밀번호 변경</div>
                <div class="profile_password">
                    <div class="password-container">
                        <div class="password-info">
                            <span id="password-description1">현재 비밀번호 </span>
                            <input type="password" class="password-input1" id="password-input" placeholder="  비밀번호 입력">
                            <span class="toggle-password" onclick="togglePasswordVisibility('password-input')">
                                <img src="/icon/show.png" alt="eye-open-icon">
                            </span>
                        </div>
                    </div>

                    <div class="password-container">
                        <div class="password-info">
                            <span id="password-description2">변경할 비밀번호</span>
                            <input type="password" class="password-input2" id="new-password-input" name="password" oninput="pwCheck()"  placeholder="  변경할 비밀번호 입력">
                            <span class="toggle-password" onclick="togglePasswordVisibility('new-password-input')">
                                <img src="/icon/show.png" alt="eye-open-icon">
                            </span>
                        </div>
                    </div>
                
                    <div class="password-container">
                        <div class="password-info">
                            <span id="password-description3">비밀번호 확인</span>
                            <input type="password" class="password-input3" id="confirm-password-input" oninput="pwCheck()" placeholder="  한번 더 비밀번호 입력">
                            <span class="toggle-password" onclick="togglePasswordVisibility('confirm-password-input')">
                                <img src="/icon/show.png" alt="eye-open-icon">
                            </span>
                            
                        </div>
                        <button type="submit" id="savebutton-1">저장</button>
                    </div>
                    <span id="chkPW"></span>
                </div>

                <script>
                    function togglePasswordVisibility(inputId) {
                        var passwordInput = document.getElementById(inputId);
                        var toggleButton = passwordInput.nextElementSibling;

                        if (passwordInput.type === 'password') {
                            passwordInput.type = 'text';
                            toggleButton.innerHTML = '<img src="/icon/hide.png" alt="eye-close-icon">';
                        } else {
                            passwordInput.type = 'password';
                            toggleButton.innerHTML = '<img src="/icon/show.png" alt="eye-open-icon">';
                        }
                    }

                    function pwCheck() {
                        const password = document.getElementById('new-password-input').value;
                        const userPwd2 = document.getElementById('confirm-password-input').value;
                        const chkPW = document.getElementById('chkPW');

                        if (password === userPwd2) {
                            chkPW.textContent = '비밀번호가 일치합니다';
                            chkPW.style.color = 'green';
                        } else {
                            chkPW.textContent = '비밀번호가 불일치합니다. ';
                            chkPW.style.color = 'red';
                        }
                    }
                </script>
                <div id="edittitle-3">닉네임 변경</div>
                <div class="nickname-container">
                    <div id="current_nickname">현재 닉네임</div>
                    <div id="real_nickname"><span sec:authentication="principal.userDTO.nickname"></span></div>
                </div>
                <div id="change_nickname">
                    <div id="change_nickname_label">변경할 닉네임</div>
                    <input type="text" id="new_nickname_input" name="nickname" placeholder="  새로운 닉네임 입력">
                    <input type="submit" id="savebutton-2" value="저장">
                </div>





            </div>
        </form>
        </div>

    </div>
</th:block>

    <script>
        function togglePasswordVisibility(inputId) {
            var passwordInput = document.getElementById(inputId);
            var toggleButton = passwordInput.nextElementSibling;

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleButton.innerHTML = '<img src="/icon/hide.png" alt="eye-close-icon">';
            } else {
                passwordInput.type = 'password';
                toggleButton.innerHTML = '<img src="/icon/show.png" alt="eye-open-icon">';
            }
        }
    </script>

</html>