<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jellybears.krowdpoping.admin.model.dao.NoticeMapper">

    <resultMap id="NoticeResultMap" type="com.jellybears.krowdpoping.admin.model.dto.NoticeDTO">
        <id property="noticeCode" column="NOTICE_CODE"/>
        <result property="title" column="NOTICE_TITLE"/>
        <result property="content" column="NOTICE_CONTENT"/>
        <result property="updateDate" column="UPDATE_DATE"/>
        <result property="type" column="NOTICE_TYPE"/>
        <result property="count" column="NOTICE_COUNT"/>
        <result property="noticeAdminUserCode" column="USER_CODE"/>
        <association property="userDTO" resultMap="UserResultMap"/>

    </resultMap>

    <resultMap id="UserResultMap" type="com.jellybears.krowdpoping.user.model.dto.UserDTO">
        <id property="user_code" column="USER_CODE"/>
        <result property="userId" column="ID"/>
        <result property="password" column="PASSWORD"/>
        <result property="name" column="NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="birthday" column="BIRTHDAY"/>
        <result property="email" column="EMAIL"/>
        <result property="phone_number" column="PHONE_NUMBER"/>
        <result property="user_status" column="USER_STATUS"/>
    </resultMap>

    <!-- 공지사항 전체 목록 조회 -->
    <select id="selectAllNoticeList" resultMap="NoticeResultMap">
        SELECT A.NOTICE_CODE
                , A.NOTICE_TITLE
                , A.UPDATE_DATE
                , A.NOTICE_TYPE
                , A.USER_CODE
                , B.NICKNAME
        FROM NOTICE A
        JOIN USER_INFO B ON (A.USER_CODE = B.USER_CODE)
        ORDER BY A.NOTICE_CODE DESC
    </select>

    <!-- 공지사항 내용 추가 -->
    <insert id="noticeRegist" parameterType="com.jellybears.krowdpoping.admin.model.dto.NoticeDTO">
        INSERT INTO NOTICE ( NOTICE_TITLE
                    , UPDATE_DATE
                    , NOTICE_TYPE
                    , NOTICE_CONTENT
                    , USER_CODE
        )
        VALUES ( #{ title }
                , #{ updateDate }
--                 , now()
                , #{ type }
                , #{ content }
                , #{ noticeAdminUserCode }
        )
    </insert>

    <!-- 공지사항 수 증가 -->
    <update id="incrementNoticeCount" parameterType="int">
        UPDATE NOTICE
        SET NOTICE_COUNT = NOTICE_CODE + 1
        WHERE NOTICE_CODE = #{ noticeCode }
    </update>

    <!-- 공지사항 상세 조회 -->
    <select id="selectNoticeDetail" parameterType="int" resultMap="NoticeResultMap">
        SELECT A.NOTICE_CODE
                , A.NOTICE_TITLE
                , A.UPDATE_DATE
                , A.NOTICE_TYPE
                , A.NOTICE_CONTENT
                , A.USER_CODE
                , B.NICKNAME
        FROM NOTICE A
        JOIN USER_INFO B ON (A.USER_CODE = B.USER_CODE)
        AND A.NOTICE_CODE = #{ noticeCode }
    </select>

    <!-- 공지사항 갱신 -->
    <update id="noticeModify" parameterType="com.jellybears.krowdpoping.admin.model.dto.NoticeDTO">
        UPDATE NOTICE
        SET NOTICE_TITLE = #{ title }
            , NOTICE_CONTENT = #{ content }
        WHERE NOTICE_CODE = #{ noticeCode }
    </update>

    <!-- 공지사항 삭제 -->
    <delete id="noticeRemove" parameterType="int">
        DELETE FROM NOTICE
        WHERE NOTICE_CODE = #{ noticeCode }
    </delete>

</mapper>