<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>창작자 정보</title>
  <link rel="stylesheet" href="/css/creatorInfo/reset2.css">
  <link rel="stylesheet" href="/css/creatorInfo/creatorInfo2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header>
    <div class="guide">
      <div><button class="guide-btn">프로젝트 심사 약관</button></div>
      <div><button class="guide-btn">창작자 가이드</button></div>
    </div>

    <nav>
      <ul class="gnb-menu-list">
        <li class="gnb-menu-item"><a href="#">기본 정보</a></li>
        <li class="gnb-menu-item"><a href="#">창작자 정보</a></li>
        <li class="gnb-menu-item"><a href="#">요금제 선택</a></li>
        <li class="gnb-menu-item"><a href="#">펀딩 계획</a></li>
        <li class="gnb-menu-item"><a href="#">상세 정보</a></li>
        <li class="gnb-menu-item"><a href="#">선물 구성</a></li>
        <li class="gnb-menu-item"><a href="#">정책</a></li>
      </ul>
    </nav>
  </header>

  <div id="wrap">
    <h1>창작자 정보</h1>
    <h2>창작자 유형</h2>
    <div class="button-type">
      <div><button class="btn1">개인</button></div>
      <div><button class="btn1">개인 사업자</button></div>
    </div>

    <h2 th:text="${creator}"></h2>
    <p>개인 사업자는 주민등록상 성명 또는 상호 / 개인은 주민등록상 성명을 입력해주세요.</p>
    <input class="input" type="text" placeholder="창작자명을 입력하세요">
    <br><br>
    <h2>창작자 프로필 이미지</h2>
    <p>창작자 개인이나 팀의 사진을 올려주세요.</p>
    <form method="post" enctype="multipart/form-data">
      <div class="button">
        <label id="file-button" for="choose-file">
          이미지 파일 업로드
        </label>
      </div>
      <input id="image-file-input" type="file" multiple class="choose-file" name="choose-file" accept="image/*">
    </form>
    <div class="file-container">
      <div class="file-input">
        <p>FILE NAME: </p>
        <p id="file-name-list"></p>
      </div>
      <div>
        <button class="submit-button" id="submit-button">업로드</button>
      </div>
    </div>
    <div class="image-show" id="image-show"></div>
    <h2>문의 전화번호</h2>
    <input class="input" type="tel" placeholder="전화번호를 입력하세요">
    <h2>문의 이메일</h2>
    <input class="input" type="email" placeholder="이메일을 입력하세요">
    <h2>창작자 소개</h2>
    <p>2~3문장으로 창작자님의 이력과 간단한 소개를 써주세요.</p>
    <input class="input2" type="text" placeholder="간단한 이력과 소개를 써주세요">
    <h2>본인 인증</h2>
    <p>창작자 본인 이메일로 인증해주세요.</p>
    <fieldset>
      <div class="email-div">
        <div class="email-label">이메일</div>
        <div>
          <input id="input-email" type="email">
        </div>
        <div>
          <button id="email-check" class="btn2" onclick="emailSend()">인증번호 받기</button>
        </div>
      </div>
      <div class="email-div">
        <div class="email-label">인증번호</div>
        <div>
          <input type="text" id="certificationNumber">
        </div>
        <div>
          <button id="certificationBtn" class="btn2" onclick="emailCertification()">인증하기</button>
          <input type="hidden" id="certificationYN" value="false">
        </div>
      </div>
    </fieldset>
    <h2>세금 계산서 발행</h2>
    <p>수수료 세금 계산서 발행에 필요한 정보를 등록해주세요.</p>
    
         

    <h2>카카오톡 채널(선택)</h2>
    <input class="input-sns" type="text" placeholder="검색용 아이디 입력"><br>
    <input class="input-sns" type="text" placeholder="URL 입력">
    <br><br>
    <h2>SNS(선택)</h2>
    <input class="input-sns" type="text" placeholder="https://www.facebook.com/"><br>
    <input class="input-sns" type="text" placeholder="https://www.instagram.com/"><br>
    <input class="input-sns" type="text" placeholder="https://www.twitter.com/">
    <br><br>
    <h2>함께하는 멤버(선택)</h2>
    <p>KROWD-POPING 회원으로 가입된 팀원이 있다면 함께 소개해 주세요. 후원자님들의 신뢰를 높을 수 있어요.</p>
    <input class="input-sns" type="text" placeholder="팀원을 추가해주세요.">
    <button class="btn2">추가</button>
  </div>

  <div><button class="final-button">저장</button></div>

  <script>
    const fileButton = document.querySelector('#file-button')
    const imageFileInput = document.querySelector('#image-file-input')
    const fileNameList = document.querySelector('#file-name-list')
    const fileUpload=document.querySelector('#file-upload')
    const identificationFile=document.querySelector('#identification-file')
    const enroll=document.querySelector('#enroll')
    const issueType1=document.querySelector('#issue-type1')
    const issueType2=document.querySelector('#issue-type2')
    const section=document.querySelector('.section')


    fileButton.onclick = (e) => {
      imageFileInput.click()
    }

    fileUpload.onclick= (e) => {
      identificationFile.click()
    }

    imageFileInput.onchange = (e) => {
      if (e?.target?.files?.length) {
        const nameList = []
        for (let i = 0; i < e?.target?.files?.length; i++) {
          nameList.push(e.target.files[i].name)
        }
        fileNameList.textContent = nameList.join(',')
      }
    }

    

  </script>
</body>

</html>