<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>창작자 정보</title>
  <link rel="stylesheet" href="/css/creatorInfo/reset2.css">
  <link rel="stylesheet" href="/css/creatorInfo/creatorInfo2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
<th:block th:replace="creatorInfo/registerHeader.html"></th:block>
<main>
<!--  <form name="creator-form" id="frm" method="post",>-->
    <input type="hidden" name="isNew" id="isNew"  />

    <input type="hidden" name="crType" id="cr_type"/>
    <div class="out-div">
      <div class="title-div">
        <ul>
          <li class="title">창작자 이름 <i class="fa-solid fa-asterisk"></i></li>
          <li class="title-content">
            <p>창작자 개인이나 팀을 대표할 수 있는 이름을 써주세요.</p>
          </li>
        </ul>
      </div>
      <div class="content-div">
        <div>
          <input name="creatorNm" id="creator_nm" class="input" type="text" maxlength="21" onkeyup="countern(this,20)" placeholder="창작자님의 이름을 입력해주세요" /> <!--   th:field="${creator.creatorNm}"-->
        </div>
        <div class="text-length-check">
          <span class="text-length-check" id="text-length-checkn">(0 / 20)</span>
        </div>
      </div>
    </div>
    <div class="out-div">
      <div class="title-div">
        <ul>
          <li class="title">창작자 유형 <i class="fa-solid fa-asterisk"></i></li>
          <li class="title-content">
            <p>유형을 선택해주세요.</p>
          </li>
        </ul>
      </div>
      <div class="content-type-div">
        <div>
          <input type="radio" class="type-button" name="buttonGroup" id="button1" onclick="fn_crType0('0');">
          <label for="button1">개인</label>
        </div>
        <div>
          <input type="radio" class="type-button" name="buttonGroup" id="button2" onclick="fn_crType1('1');">
          <label for="button2">개인 사업자</label>
        </div>
      </div>
    </div>
    <div class="out-div">
      <div class="title-div">
        <ul>
          <li class="title">프로필 이미지 <i class="fa-solid fa-asterisk"></i></li>
          <li class="title-content">
            <p> 창작자 개인이나 팀의 사진을 올려주세요.</p>
          </li>
        </ul>
      </div>
      <div class="content-idiv">
        <div class="image-div">
          <input id="file-input" name="fileInput" class="file" type="file" accept="image/*" onchange="readURL(this)">
          <div><img id="preview"></div>
          <div><button type="button" id="image-button" class="image-button"><i class="fa-solid fa-arrow-up-from-bracket"></i> 이미지 파일 업로드</button></div>
        </div>
      </div>
    </div>
    <div class="out-div">
      <div class="title-div">
        <ul>
          <li class="title">창작자 소개 <i class="fa-solid fa-asterisk"></i></li>
          <li class="title-content">
            <p> 창작자님의 이력과 간단한 소개를 써주세요.</p>
          </li>
        </ul>
      </div>
      <div class="content-div">
        <div>
          <textarea id="input-intro" name="introduce" class="input" maxlength="301" onkeyup="counteri(this,300)" placeholder="간단한 이력과 소개를 써주세요" required ></textarea> <!-- th:field="${creator.introduce}" -->
        </div>
        <div class="text-length-check">
          <span class="text-length-check" id="text-length-checki">(0 / 300)</span>
        </div>
      </div>
    </div>
    <div class="out-div">
      <div class="title-div">
        <ul>
          <li class="title">문의 이메일 <i class="fa-solid fa-asterisk"></i></li>
          <li class="title-content">
            <p>프로젝트 공개 후 후원자님들이 문의할 수 있는 이메일을 안내해 주세요</p>
          </li>
        </ul>
      </div>
      <div class="content-div">
        <div>
          <input id="input-email" name="inquiryEmail" class="input" type="email" maxlength="41" onkeyup="countere(this,40)" placeholder="창작자님의 이메일을 입력해주세요" required > <!-- th:field="${creator.email}" -->
        </div>
        <div class="text-length-check">
          <span class="text-length-check" id="text-length-checke">(0 / 40)</span>
        </div>
      </div>
    </div>
    <div class="out-div">
      <div class="out-div-phone">
        <div class="title-div">
          <ul>
            <li class="title">문의 전화번호 <i class="fa-solid fa-asterisk"></i></li>
            <li class="title-content">
              <p>프로젝트 공개 후 후원자님들이 문의할 수 있는 전화번호를 안내해 주세요</p>
            </li>
          </ul>
        </div>
        <div class="content-div">
          <div>
            <input id="input-phone" name="phone" class="input" type="tel" maxlength="21" onkeyup="counterp(this,20)" placeholder="창작자님의 전화번호를 입력해주세요" required > <!-- th:field="${creator.phone}" -->
          </div>
          <div class="text-length-check">
            <span class="text-length-check" id="text-length-checkp">(0 / 20)</span>
          </div>
        </div>
      </div>
    </div>
    <!--    <input type="hidden" name="userCode" id="user_code2" th:value="${creator.userCode}" /> 확인 -->
    <input type="hidden" name="issueType" id="issue_type" />

    <div class="out-div" id="accountInfo">
      <div class="title-tax-div">
        <ul>
          <li class="title">세금 계산서 발행 <i class="fa-solid fa-asterisk"></i></li>
          <li class="title-content">
            <p> 수수료 세금계산서 발행에 필요한 정보를 등록해주세요.</p>
          </li>
        </ul>
      </div>
      <div class="content-tax-div">
        <div class="tax-button-div">
          <button type="button" id="tax-button" class="tax-button active" onclick="showTax('sub')";><i class="fa-solid fa-receipt"></i> 등록하기</button>
        </div>
        <div id="sub" class="sub">
          <h6>발행 종류 <i class="fa-regular fa-circle-question"></i></h6>
          <div class="tax-nav active">
            <div>
              <button type="button" id="personal" class="personal-button active" onclick="showPage('subpage1');fn_issue_type('0')"><i class="fa-solid fa-user"></i> 개인</button>
            </div>
            <div>
              <button type="button" id="business" class="business-button" onclick="showPage('subpage2');fn_issue_type('1')"><i class="fa-solid fa-shop"></i> 개인 사업자</button>
            </div>
          </div>


          <!--          <form id="subpage1" name="subpage1" action="/projectReg/creatorAccount" method="post" enctype="multipart/form-data">-->
          <!--            <input type="hidden" name="isNew" th:value="${isNew}" />  확인 -->


          <div id="subpage1" class="subpage active">
            <h6>이메일</h6>
            <input type="email" id="email" name="email" class="sub-input" placeholder="이메일을 입력해주세요" required>
            <div class="identi">
              <div>
                <h6>성명(개인)</h6>
                <input type="text" id="name" name="name" class="sub-input-half" required maxlength="4" minlength="2">
              </div>
              <div class="id-num">
                <h6>주민등록번호</h6>
                <div class="identinum">
                  <div><input type="text" class="sub-input-dhalf" name="identiNum1" id="identi_num1" required maxlength="6" minlength="6" ></div>
                  <div class="dash">-</div>
                  <div><input type="text" class="sub-input-dhalf" name="identiNum2" id="identi_num2" required maxlength="7" minlength="7" ></div>
                </div>
              </div>
            </div>
            <h6>주소</h6>
            <input type="text" class="sub-input" id="address" name="address" placeholder="주소를 입력해주세요" required maxlength="30" minlength="10">
            <div class="tupload">
              <div class="buttonWrap buttonWrap2">
                <button type="button" id="cancel1" class="box3_btn1 tbutton">취소</button>
              </div>
            </div>
          </div>

          <div id="subpage2" class="subpage active">
            <h6>이메일</h6>
            <input type="email" id="p1_email" name="email" class="sub-input" placeholder="이메일을 입력해주세요" required>
            <div class="identi">
              <div>
                <h6>상호명(사업자)</h6>
                <input type="text" id="p1_acc_user_nm" name="accUserNm" class="sub-input-half" required minlength="2" maxlength="30">
              </div>
              <div class="id-num">
                <h6>사업자 번호</h6>
                <input type="text" class="sub-input-halft" id="p1_business_num" name="businessNum" required maxlength="10" minlength="10" onkeydown="return checkNumber(event);">
              </div>
            </div>
            <h6>대표자명</h6>
            <input type="text" class="sub-input" id="p1_ceo_nm" name="ceoNm" placeholder="세금 계산서 발행을 위해 대표자명을 입력해주세요" required minlength="2" maxlength="4">
            <h6>주소</h6>
            <input type="text" id="p1_address" name="address" class="sub-input" placeholder="주소를 입력해주세요" required maxlength="30" minlength="10">
            <div class="tupload">
              <div>
                <button type="button" id="cancel2" class="tbutton">취소</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  </form>-->
  <div class="first_button_div">
    <button type="submit" id="btn_submit" class="first_button" onclick="final();">저장</button>
  </div>
</main>
<div id="msgValue" th:if="${msgValue != null}" style="display: none;">
  <p th:text="${msg}"></p>
</div>




<script>

  $("#btn_submit").click(function(){
    console.log('--------------->', $("#issue_type").val())
    if($("#issue_type").val() == '1') { // 1이면 사업자
      $("#frm").attr("action", "/projectReg/creatorRegSeller").submit();
    } else { // 0이면 개인
      $("#frm").attr("action", "/projectReg/creatorRegUser").submit();
    }
  });

  const imageButton = document.getElementById('image-button')
  const fileInput = document.getElementById('file-input')
  const idContent = document.querySelector('#id-content')
  const idContent2 = document.querySelector('#id-content2')
  const personalButton = document.querySelector('.personal-button')
  const businessButton = document.querySelector('.business-button')
  const personalbtn=document.getElementById('#button1')
  const businessbtn=document.getElementById('#button2')
  const taxButton = document.querySelector('.tax-button')
  const uploadButton=document.querySelector('.upload-button2')
  const filePersonal=document.getElementById('p0_businessAttach')
  const fileBusiness=document.getElementById('p1_businessAttach')
  const sub=document.querySelector('.sub')
  const btnSubmit=document.getElementById('btn_submit')

  $(document).ready(function(){
    var msgValue = $('#msgValue p').text();

    if(msgValue != ""){
      alert(msgValue);
      return false;
    }
  });

function final() {
  alert('정상적으로 등록되었습니다.')
}

  function fn_issue_type(div) {
    $("#issue_type").val(div);
  }



  function fn_detailSave(div) {
    if (div == "0") {
      var identi_num1 = $("#identi_num1").val();
      var identi_num2 = $("#identi_num2").val();
      console.log(identi_num1);
      if (identi_num1 == "") {
        alert("주민등록번호 앞자리 입력하십시오.");
        $("#identi_num1").focus();
        return false;
      } else if (identi_num2 == "") {
        alert("주민등록번호 뒷자리 입력하십시오.");
        $("#identi_num2").focus();
        return false;
      } else {
        $("#p0_identi_num").val(identi_num1 + identi_num2);
        //return false;
        $("#btnSubDet0").trigger("click");
      }
    } else {
      $("#btnSubDet1").trigger("click");
    }
  }


  function countern(text, length) {
    var limit = length;
    var str = text.value.length;
    if (str > limit) {
      document.getElementById('text-length-checkn').innerHTML = "20자 이상 입력했습니다.";
      text.value = text.value.substring(0, limit);
      text.focus();
      alert('최대 글자수는 20자입니다.')
    }
    document.getElementById('text-length-checkn').innerHTML = text.value.length + " / " + limit;
  }

  function counteri(text, length) {
    var limit = length;
    var str = text.value.length;
    if (str > limit) {
      document.getElementById('text-length-checki').innerHTML = "300자 이상 입력했습니다.";
      text.value = text.value.substring(0, limit);
      text.focus();
      alert('최대 글자수는 300자입니다.')
    }
    document.getElementById('text-length-checki').innerHTML = text.value.length + " / " + limit;
  }

  function countere(text, length) {
    var limit = length;
    var str = text.value.length;
    if (str > limit) {
      document.getElementById('text-length-checke').innerHTML = "40자 이상 입력했습니다.";
      text.value = text.value.substring(0, limit);
      text.focus();
      alert('최대 글자수는 40자입니다.')
    }
    document.getElementById('text-length-checke').innerHTML = text.value.length + " / " + limit;
  }

  function counterp(text, length) {
    var limit = length;
    var str = text.value.length;
    if (str > limit) {
      document.getElementById('text-length-checkp').innerHTML = "20자 이상 입력했습니다.";
      text.value = text.value.substring(0, limit);
      text.focus();
      alert('최대 글자수는 20자입니다.')
    }
    document.getElementById('text-length-checkp').innerHTML = text.value.length + " / " + limit;
  }

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('preview').src = e.target.result;
      };
      reader.readAsDataURL(input.files[0]);
    } else {
      document.getElementById('preview').src = "";
    }
  }


  imageButton.onclick = (e) => {
    fileInput.click()
  }

  function showPage(subpageId) {

    var subpage = document.querySelectorAll('.subpage');
    subpage.forEach(function(sub) {
      sub.classList.remove('active');

      console.log(sub.classList)
    });

    var activeSubpage = document.getElementById(subpageId);
    activeSubpage.classList.add('active');

    if (subpageId === 'subpage1') {
      personalButton.classList.add('active');
      businessButton.classList.remove('active');
    } else if (subpageId === 'subpage2') {
      personalButton.classList.remove('active');
      businessButton.classList.add('active');
    }

  }

  function showTax(subpageId) {

    var subpage = document.querySelectorAll('.sub');
    subpage.forEach(function(sub) {
      sub.classList.remove('active');

    });


    var activeSubpage = document.getElementById(subpageId);
    activeSubpage.classList.add('active');


  }

  function fn_crType0(crType) {

    personalbtn.style.border = "2px solid #7C1CD8"
    $('#cr_type').val(crType);
  }

  function fn_crType1(crType) {
    $('#cr_type').val(crType);

    businessbtn.style.border= "2px solid #7C1CD8"

  }

  function checkNumber(event) {
    if (event.key >= 0 && event.key <= 9) {
      return true;
    }
    return false;
  }

  function onClickUpload() {
    filePersonal.click();
  }

  function onClickUpload2() {
    fileBusiness.click();
  }

  document.addEventListener('DOMContentLoaded', function() {
    // 버튼 클릭 시 이벤트 처리
    document.getElementById('cancel1').addEventListener('click', function() {
      // 대상이 되는 div 요소를 가져옴
      var targetDiv = document.querySelector('.sub');

      // 만약 요소가 존재하면
      if (targetDiv) {
        // 스타일을 변경하여 숨김 처리
        targetDiv.style.display = 'none';
      }
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    // 버튼 클릭 시 이벤트 처리
    document.getElementById('cancel2').addEventListener('click', function() {
      // 대상이 되는 div 요소를 가져옴
      var targetDiv = document.querySelector('.sub');

      // 만약 요소가 존재하면
      if (targetDiv) {
        // 스타일을 변경하여 숨김 처리
        targetDiv.style.display = 'none';
      }
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    // 파일 입력 필드를 찾음
    var fileInput = document.getElementById('p0_businessAttach');

    // 파일 입력 필드의 변경 이벤트를 감지
    fileInput.addEventListener('change', function() {
      // 파일이 선택되었는지 확인
      if (fileInput.files.length > 0) {
        // 파일 이름을 가져와서 표시
        var fileName = fileInput.files[0].name;
        document.getElementById('fileNameDisplay1').textContent = '파일명: ' + fileName;
      } else {
        // 파일이 선택되지 않았을 때의 표시
        document.getElementById('fileNameDisplay1').textContent = '선택 파일 없음';
      }
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    // 파일 입력 필드를 찾음
    var fileInput = document.getElementById('p1_businessAttach');

    // 파일 입력 필드의 변경 이벤트를 감지
    fileInput.addEventListener('change', function() {
      // 파일이 선택되었는지 확인
      if (fileInput.files.length > 0) {
        // 파일 이름을 가져와서 표시
        var fileName = fileInput.files[0].name;
        document.getElementById('fileNameDisplay2').textContent = '파일명: ' + fileName;
      } else {
        // 파일이 선택되지 않았을 때의 표시
        document.getElementById('fileNameDisplay2').textContent = '선택 파일 없음';
      }
    });
  });




</script>

</body>

</html>