<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/insertCreator" method="post">
    <div> CRTYPE = <input type="text" name="crType"></div>
    <div> CR_BUSINESS_NUM = <input type="text" name="crBusinessNum"></div>
    <div> PHONE = <input type="text" name="phone"></div>
    <div> EMAIL = <input type="text" name="email"></div>
    <div> ADDRESS = <input type="text" name="address"></div>
    <div> INTRODUCE = <input type="text" name="introduce"></div>
    <button type="submit">INSERT</button>
</form>


</body>
</html>