<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jellybears.krowdpoping.project.model.dao.ProjectMapper">

    <resultMap id="detailProjectResultMap" type="com.jellybears.krowdpoping.project.model.dto.DetailProjectDTO">
        <id property="projectCode" column="project_code"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="targetAmount" column="target_amount"/>
        <result property="planContent" column="plan_content"/>
        <result property="budgetContent" column="budget_content"/>
        <result property="infoContent" column="info_content"/>
        <result property="userCode" column="user_code"/>
        <association property="category" resultMap="detailCategoryResultMap"/>
        <association property="goods" resultMap="detailGoodsResultMap"/>
        <association property="creator" resultMap="detailCreatorResultMap"/>
<!--        <association property="image" resultMap="DetailProjectImageResultMap"/>-->

        <!--        <association property="goodsDetail" resultMap="detailGoodsDetailResultMap"/>-->
<!--        <association property="item" resultMap="detailItemResultMap"/>-->

    </resultMap>

    <resultMap id="detailCategoryResultMap" type="com.jellybears.krowdpoping.project.model.dto.DetailCategoryDTO">
        <id property="categoryCode" column="category_code"/>
        <result property="categoryTitle" column="category_title"/>
        <result property="upperCategoryCode" column="upper_category_code"/>
    </resultMap>

    <resultMap id="detailGoodsResultMap" type="com.jellybears.krowdpoping.project.model.dto.DetailGoodsDTO">
        <id property="goodsCode" column="goods_code"/>
        <result property="goodsName" column="name"/>
        <result property="quantity" column="quantity"/>
        <result property="projectCode" column="project_code"/>
        <result property="amount" column="amount"/>
        <association property="item" resultMap="detailItemResultMap"/>

    </resultMap>

    <resultMap id="detailGoodsDetailResultMap" type="com.jellybears.krowdpoping.project.model.dto.DetailGoodsDetailDTO">
        <id property="DetailItemCode" column="item_code"/>
        <result property="goodsCode" column="goods_code"/>
        <result property="itemQuantity" column="item_quantity"/>
    </resultMap>

    <resultMap id="detailItemResultMap" type="com.jellybears.krowdpoping.project.model.dto.DetailItemDTO">
        <id property="itemCode" column="item_code"/>
        <result property="itemName" column="itemName"/>
        <association property="goodsDetail" resultMap="detailGoodsDetailResultMap"/>

    </resultMap>

    <resultMap id="detailCreatorResultMap" type="com.jellybears.krowdpoping.project.model.dto.DetailCreatorDTO">
        <id property="CreatorUserCode" column="user_code"/>
        <result property="creatorNm" column="creator_nm"/>
        <result property="introduce" column="introduce"/>
        <result property="inquiryEmail" column="inquiry_email"/>
    </resultMap>


    <resultMap id="DetailProjectImageResultMap" type="com.jellybears.krowdpoping.project.model.dto.DetailProjectImageDTO">
    <id property="projectFileCode" column="projectfile_code"/>
    <result property="originFileName" column="original_name"/>
    <result property="changedFileName" column="saved_name"/>
    <result property="updateDate" column="update_date"/>
    <result property="whetherDeleted" column="whether_deleted"/>
    <result property="fileType" column="file_type"/>
    <result property="refProjectCode" column="project_code"/>
    <result property="savePath" column="save_path"/>
    <result property="thumbnailPath" column="thumbnail_path"/>
    </resultMap>

<!--    <select id="goProjectDetail" resultMap="detailProjectResultMap">-->
<!--        select-->
<!--            A.project_code,-->
<!--            A.title,-->
<!--            A.content,-->
<!--            A.start_date,-->
<!--            A.end_date,-->
<!--            A.target_amount,-->
<!--            A.plan_content,-->
<!--            A.budget_content,-->
<!--            A.info_content,-->
<!--            B.category_title-->
<!--        from project A-->
<!--                 join category B on A.category_code = B.category_code-->
<!--        where A.project_code = #{ no }-->

<!--    </select>-->

    <select id="goProjectDetail" resultMap="detailProjectResultMap">
        select
            A.project_code,
            A.title,
            A.content,
            A.start_date,
            A.end_date,
            A.target_amount,
            A.plan_content,
            A.budget_content,
            A.info_content,
            B.category_title,
            C.goods_code,
            C.name,
            C.quantity,
            C.amount,
            E.name as itemName,
            D.item_quantity,
            F.creator_nm,
            F.introduce,
            F.inquiry_email
--             G.original_name,
--             G.save_path,
--             G.saved_name,
--             G.file_type,
--             G.thumbnail_path,
--             G.whether_deleted,
--             G.update_date

        from project A
                 left join category B on A.category_code = B.category_code
                 left join goods C on A.project_code = C.project_code
                 left join goods_details D on C.goods_code = D.goods_code
                 left join item E on D.item_code = E.item_code
                 left join creator F on A.user_code = F.user_code
--                  left join project_files G on A.project_code = G.project_code

        where A.project_code = #{ no }

    </select>

<select id="getGoodsDetails" resultMap="detailGoodsResultMap">
    select goods_code, name, amount from goods
    WHERE goods_code = #{goodsCode}
</select>

    <select id="getProjectFile" resultMap="DetailProjectImageResultMap">
        SELECT
            original_name,
            save_path,
            saved_name,
            file_type,
            thumbnail_path,
            update_date
        FROM
            project_files
        WHERE
            project_code = #{ no }
        ORDER BY
            projectfile_code desc
            LIMIT 1;
    </select>


</mapper>