/*=========== 전체 스타일 초기화 =============*/

* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

/*Summernote 툴바를 숨김 */
.note-toolbar {
    display: none !important;
}

/* Summernote Resize 바를 숨기는 CSS 규칙 */
.note-statusbar {
    display: none !important;
}

/* select:focus {
    border-color: #007BFF;
    border-width: 2px;
    outline: none;
  } */

.report-wrapper {
    margin-top: 115px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}


.reportInner {
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: auto;
    margin: auto;
    padding-bottom: 0;


}

h4 {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #505050;
}

.reportAttention {
    font-size: 13px;
    color: #767676;
}

.reportTitle {
    color: #767676;
}


.fa-camera {

    font-size: 25px;
    color: #505050;
}


select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
    cursor: pointer;

}



/* select:hover {
    border-color: #7d1cdb;
} */

/* select:focus {
    outline: none;
    border-color: #7d1cdb;
    box-shadow: 0 0 5px rgba(137, 26, 247, 0.8);
} */

/* 화살표 아이콘 스타일링 */
select::after {
    content: '\25BC';
    /* 화살표 아이콘 코드 */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}


.form-complete button {
    padding: 10px 10px;
    font-size: 16px;
    background: rgba(137, 26, 247, 0.8);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
}

.form-complete button:hover {
    background: #7d1cdb;
}

.form-complete{

    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.s-cate{
    margin-bottom: 2px;
    margin-top: 5px;
}

/* 폼 전체 레이아웃 */
.report-wrapper {
    margin-top: 115px;
    margin-bottom: 100px;
    background-color: #fff;
    overflow: auto;
    padding: 20px;
}

.reportInner {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 폼 내 요소 스타일링 */
.reportInner h2, h4, .reportAttention {
    color: #505050;
    margin-bottom: 15px;
}

.reportInner input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.reportInner input[type="submit"] {
    padding: 10px 15px;
    background-color: #6f42c1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reportInner input[type="submit"]:hover {
    background-color: #7d1cdb;
}