/*=========== 전체 스타일 초기화 =============*/

*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color:black;
}

/*Summernote 툴바를 숨김 */
.note-toolbar {
    display: none !important;
}

/* Summernote Resize 바를 숨기는 CSS 규칙 */
.note-statusbar {
    display: none !important;
}

/* select:focus {
    border-color: #007BFF;
    border-width: 2px;
    outline: none;
  } */

.report-wrapper{
    margin-top: 115px;
    margin-bottom: 100px;
    background-color:rgb(255, 255, 255);
    overflow: auto;
}


.reportInner{
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: auto;
    margin: auto;
    padding-bottom: 0;


}
h4{
    margin-bottom: 15px;
    margin-top: 15px;
    color: #505050;
}
.reportAttention{
    font-size: 13px;
    color: #767676;
}

.reportTitle{
    color: #767676;
}


.fa-camera{

    font-size: 25px;
    color: #505050;
}



