<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jellybears.krowdpoping.category.model.dao.CategoryMapper">

    <resultMap id="categoryResultMap" type="com.jellybears.krowdpoping.category.model.dto.CategoryDTO">
        <id property="categoryCode" column="category_code"/>
        <result property="categoryTitle" column="category_title"/>
        <result property="upperCategoryCode" column="upper_category_code"/>
    </resultMap>

    <select id="AllCategoryList" resultMap="categoryResultMap">

        SELECT
            category_code,
            category_title,
            upper_category_code
        FROM category
        ORDER BY category_code
    </select>

</mapper>