<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>default address</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zen+Tokyo Zoo&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/funding_process/default_address.css">
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="header">
    <div class=cartbar>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="category-box">
            <div class="category"><a href="home.html">홈</a></div>
            <div class="category"><a href="new_projects.html">신규 프로젝트</a></div>
            <div class="category"><a href="closing_soon_projects.html">마감 임박 프로젝트</a></div>
            <div class="category"><a href="early_bird_projects.html">얼리버드 프로젝트</a></div>
        </div>
    </div>
    <div class="logo">
        <a href="/krowdpoping/mainpage">
            <img src="/icon/logo2.png" alt="">
        </a>
    </div>
    <div class="menu">
        <!-- <div class="menu-item"><img src ="resources/icon/likebutton.svg" alt="" width="35px" height="35px"></div> -->
        <a th:onclick="'location.href=\'/mypage/projectlist2_yes\''" class="menu-item1">
            <img src="/icon/likebutton.svg" alt="" width="35px" height="35px"></a>
        <a href="alarm.html" class="menu-item2">
            <img src="/icon/alarmbutton.svg" alt="" width="37px" height="35.36px"></a>
        <a th:onclick="'location.href=\'/startProject/start\''" class="menu-item3">
            <img src="/icon/uploadbutton.svg" alt="" width="118px" height="35.36px"></a>

        <th:block sec:authorize="isAnonymous()">
            <a th:href="@{/user/login}"
               class="menu-item5" id="login">
                <img src="/icon/loginbutton.svg" alt="" width="118px" height="35.36px"></a>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <a href="login.html" class="menu-item4"><img src="/icon/basicpic.png" alt="" ><span class="login_nickname" sec:authentication="principal.userDTO.nickname"></span><span>님</span></a>
            <!--                <a th:href="@{/user/logout}">-->
            <!--                    <input type="button" class="btn btn-or" value="로그아웃" id="logout"></a>-->

        </th:block>
    </div>
    <div id="search-area">
        <form id="search-form">
            <div id="search-text-area">
                <input type="text" id="search-input" name="search-input" placeholder="  검색어를 입력해주세요."
                       onfocus="this.placeholder=''" onblur="this.placeholder='  검색어를 입력해주세요.'" >
            </div>
            <div id="search-btn-area">
                <button type="submit" id="search-btn" ><img src="/icon/searchbutton.png"></button>
            </div>
        </form>
    </div>
    <!-- </div> -->


</div>

<div id="content">
        <div class="section">
            <div class="funding_title">후원하기</div>
        </div>
    <div class="funding_process">
        <div class="product_description">
            <div class="purple_des"></div>
            <span class="description"><b>후원 상품 정보</b></span>
        </div>
        <div class="delivery_address">
            <div class="grey_add"></div>
            <span class="address"><b>배송지</b></span>
        </div>
        <div class="payment_reservation">
            <div class="grey_res"></div>
            <span class="reservation"><b>결제</b></span>
        </div>
        <div class="process_line"></div>
    </div>

    <th:block sec:authorize="isAuthenticated()">
    <div class="supporter_info">
        <div class="supporter_info_title">후원자 정보</div>
        <div class="nickname_section">
            <span class="supporter_nickname">후원자명</span>
            <div class="input_nickname_section">
                <input type="text" name ="input_nickname" th:value="${ #authentication.getPrincipal().userDTO.getNickname() }" placeholder="후원자명을 입력하세요.">
            </div>
        </div>

        <div class="name_section">
            <span class="name">이름</span>
            <div class="input_name_section">
                <input type="text" name ="input_name" th:value="${ #authentication.getPrincipal().userDTO.getName() }" placeholder="이름을 입력하세요.">
            </div>
        </div>

        <div class="phone_number_section">
            <span class="phone_number">연락처</span>
            <div class="input_phone_number_section">
                <input type="text" name ="input_phone_number" th:value="${ #authentication.getPrincipal().userDTO.getPhone_number() }" placeholder="연락처를 입력하세요.">
            </div>
        </div>

        <div class="email_section">
            <span class="email">이메일</span>
            <div class="input_email_section">
                <input type="text" name ="input_email" th:value="${ #authentication.getPrincipal().userDTO.getEmail() }" placeholder="이메일을 입력하세요.">
            </div>
        </div>

        <div class="same_as_profile">
            <input type="checkbox" id="same" name="whether_same" value="가입 정보와 동일" onchange="toggleUserInfoVisibility()" checked>
            <label for="same">가입 정보와 동일</label>
        </div>
    </div>

        <script th:inline="javascript">
            function toggleUserInfoVisibility() {
                var checkbox = document.getElementById('same');
                var nicknameInput = document.querySelector('[name=input_nickname]');
                var nameInput = document.querySelector('[name=input_name]');
                var phoneNumberInput = document.querySelector('[name=input_phone_number]');
                var emailInput = document.querySelector('[name=input_email]');

                // 첫 번째 체크 시 원래 값 설정
                if (!nicknameInput.dataset.originalValue) {
                    nicknameInput.dataset.originalValue = nicknameInput.value;
                    nameInput.dataset.originalValue = nameInput.value;
                    phoneNumberInput.dataset.originalValue = phoneNumberInput.value;
                    emailInput.dataset.originalValue = emailInput.value;
                }

                // 체크박스가 체크되었을 때
                if (checkbox.checked) {
                    nicknameInput.value = nicknameInput.dataset.originalValue;
                    nameInput.value = nameInput.dataset.originalValue;
                    phoneNumberInput.value = phoneNumberInput.dataset.originalValue;
                    emailInput.value = emailInput.dataset.originalValue;
                } else {
                    // 체크가 해제되면 값 초기화
                    nicknameInput.value = '';
                    nameInput.value = '';
                    phoneNumberInput.value = '';
                    emailInput.value = '';
                }
            }
        </script>

    </th:block>
</div>

<div class="default_address">
    <div class="address_title">배송지</div>
    <div class="address_navigator">
        <div class="address_list active" onclick="showSubpage('subpage1')">
            <span class="list_text">배송지 목록</span>
            <div class="underline"></div>
        </div>
        <div class="input_address" onclick="showSubpage('subpage2')">
            <span class="input_text">직접 입력</span>
            <div class="underline"></div>
        </div>
    </div>

    <div id="subpage1" class="subpage">
        <th:block sec:authorize="isAuthenticated()">
        <div class="default_address_section">
            <span class="default_address_name" th:text="${defaultAddress.getAddressTitle()}" name="addressTitle"></span>
            <div class="default_address_icon">
                <span class="default_address_icon_text">기본 배송지</span>
                <div class="default_address_icon_box"></div>
            </div>
        </div>
        <div class="default_name_info">
                <span class="d_i_name">받는 사람</span>
                <div class="input_d_i_name_section">
                    <input type="text" th:value="${defaultAddress.getRecipientName()}" name="recipientName">
                </div>
        </div>

        <div class="default_postcode_info">
                <span class="d_i_postcode">우편번호</span>
                <div class="input_d_i_postcode_section">
                    <input type="text" th:value="${defaultAddress.getZipCode()}" name ="input_d_i_postcode">
                </div>
        </div>

        <div class="default_address_info">
                <span class="d_i_address">주소</span>
                <div class="input_d_i_address_section">
                    <input type="text" th:value="${defaultAddress.getRecipientAddress()}" name ="input_d_i_address">
                </div>
        </div>

        <div class="default_detailed_address_info">
                <span class="d_i_d_address">상세 주소</span>
                <div class="input_d_i_d_address_section">
                    <input type="text" th:value="${defaultAddress.getDetailedAddress()}" name ="input_d_i_d_address">
                </div>
        </div>
        <div class="default_phone_info">
                <span class="d_i_phone">연락처</span>
                <div class="input_d_i_phone_section">
                    <input type="text" th:value="${defaultAddress.getRecipientPhoneNumber()}" name="recipientPhoneNumber">
                </div>
        </div>

        <div class="d_i_delivery_comment">
            <div class="d_i_delivery_comment_section">배송 요청 사항(선택)</div>
            <select id="deliveryOption" onchange="toggleInputField()">
                <option value="default" disabled selected>배송 시 요청사항을 선택해주세요.</option>
                <option value="1">문 앞에 놓아주세요.</option>
                <option value="2">경비(관리)실에 맡겨주세요.</option>
                <option value="3">택배함에 넣어주세요.</option>
                <option value="4">직접 받겠습니다.</option>
                <option value="type">직접 입력</option>
            </select>
            <div id="directInput" style="display: none;">
                <textarea maxlength="50" placeholder="배송 요청 사항을 입력하세요." id="directInputField" name="directInputField" oninput="updateCharCount()"></textarea>
                <div id="charCount">0/50</div>
            </div>
        </div>
        <div>
            <a th:href="@{/funding_process/payReservation}" class="next_step1">
                <div class="next_step_box1"></div>
                <span class="next_step_text1">다음 단계로</span>
            </a>
        </div>
        </th:block>
    </div>

    <div id="subpage2" class="subpage">
        <form id="saveAddressForm" action="/funding_process/saveAddress" method="post" onsubmit="submitForm()">
            <div class="add_address_name_info">
                <span class="a_i_address_name">배송지명</span>
                <div class="input_a_i_address_name_section">
                    <input type="text" name ="addressTitle">
                </div>
            </div>
            <div class="add_name_info">
                <span class="a_i_name">받는 사람</span>
                <div class="input_a_i_name_section">
                    <input type="text" name ="recipientName">
                </div>
            </div>

            <div class="add_postcode_info">
                <span class="a_i_postcode">우편번호</span>
                <div class="input_a_i_postcode_section">
                    <input type="text" name="zipCode" id="zipCode" readonly></td>
                    <input type="button" value="검색" class="btn btn-yg" id="searchZipCode"></td>
                </div>
            </div>

            <div class="add_address_info">
                <span class="a_i_address">주소</span>
                <div class="input_a_i_address_section">
                    <input type="text" name ="recipientAddress" id="recipientAddress" readonly>
                </div>
            </div>

            <div class="add_defailed_address_info">
                <span class="a_i_d_address">상세 주소</span>
                <div class="input_a_i_d_address_section">
                    <input type="text" name ="input_a_i_d_address" id="input_a_i_d_address">
                </div>
            </div>
            <script th:inline="javascript">
                function submitForm() {
                    var zipCode = document.getElementById("zipCode").value;
                    var recipientAddress = document.getElementById("recipientAddress").value;
                    var input_a_i_d_address = document.getElementById("input_a_i_d_address").value;

                    // 필요한 로직에 따라 주소를 합칩니다.
                    var address = zipCode + "$" + recipientAddress + "$" + input_a_i_d_address;

                    // 새로 만든 address를 hidden 필드에 설정합니다.
                    document.getElementById("mergedAddress").value = address;

                    // 폼을 서버로 제출합니다.
                    document.getElementById("saveAddressForm").submit();
                }
            </script>

            <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script th:inline="javascript">

                const $searchZipCode = document.getElementById("searchZipCode");
                const $goMain = document.getElementById("goMain");

                $searchZipCode.onclick = function() {

                    /* 다음 우편번호 검색 창을 오픈하면서 동작할 콜백 메소드를 포함한 객체를 매개변수로 전달한다. */
                    new daum.Postcode({
                        oncomplete: function(data){
                            /* 팝업에서 검색결과 항목을 클릭했을 시 실행할 코드를 작성하는 부분 */
                            document.getElementById("zipCode").value = data.zonecode;
                            document.getElementById("recipientAddress").value = data.address;
                            document.getElementById("input_a_i_d_address").focus();
                        }
                    }).open();
                }

                $goMain.onclick = function() {
                    location.href = "/";
                }

            </script>
            <div class="add_phone_info">
                <span class="a_i_phone">연락처</span>
                <div class="input_a_i_phone_section">
                    <input type="text" name ="recipientPhoneNumber">
                </div>
            </div>


            <div class="a_i_delivery_comment">
                <div class="a_i_delivery_comment_section">배송 요청 사항(선택)</div>
                <select name="deliveryComment" id="deliveryComment" onchange="toggleInputField2()">
                    <option value="default" disabled selected>배송 시 요청사항을 선택해주세요.</option>
                    <option value="문 앞에 놓아주세요.">문 앞에 놓아주세요.</option>
                    <option value="경비(관리)실에 맡겨주세요.">경비(관리)실에 맡겨주세요.</option>
                    <option value="택배함에 넣어주세요.">택배함에 넣어주세요.</option>
                    <option value="직접 받겠습니다.">직접 받겠습니다.</option>
                    <option value="type">직접 입력</option>
                </select>
                <div id="directInput2" style="display: none;">
                    <textarea maxlength="50" placeholder="배송 요청 사항을 입력하세요." id="directInputField2" name="directInputField2" oninput="updateCharCount2()"></textarea>
                    <div id="charCount2">0/50</div>
                </div>
            </div>

            <script>
                function toggleInputField() {
                    var option = document.getElementById("deliveryOption").value;
                    var directInput = document.getElementById("directInput");

                    if (option === "type") {
                        directInput.style.display = "block";
                    } else {
                        directInput.style.display = "none";
                    }
                }

                function updateCharCount() {
                    var textarea = document.getElementById("directInputField");
                    var charCount = document.getElementById("charCount");
                    var currentCount = textarea.value.length;

                    charCount.textContent = currentCount + "/50";
                }

                function toggleInputField2() {
                    var option = document.getElementById("deliveryComment").value;
                    var directInput2 = document.getElementById("directInput2");
                    var textarea = document.getElementById("directInputField2");
                    var deliveryCommentInput = document.getElementById("deliveryComment");

                    if (option === "type") {
                        directInput2.style.display = "block";

                    } else {
                        directInput2.style.display = "none";
                    }
                }

                function updateCharCount2() {
                    var textarea = document.getElementById("directInputField2");
                    var charCount2 = document.getElementById("charCount2");
                    var currentCount = textarea.value.length;

                    charCount2.textContent = currentCount + "/50";
                }

            </script>
            <div class="add_to_default_address">
                <input type="hidden" name="whetherDefaultAddress" value="N">
                <input type="checkbox" id="add" name="addCheckbox" value="Y">
                <label for="add">기본 배송지로 등록</label>
            </div>

            <script>
                var checkbox = document.getElementById('add');
                checkbox.addEventListener('change', function() {
                    var hiddenInput = document.querySelector('input[name="whetherDefaultAddress"]');
                    hiddenInput.value = checkbox.checked ? 'Y' : 'N';
                });
            </script>
            <input type="hidden" name="mergedAddress" id="mergedAddress">
            <a href="javascript:void(0);" onclick="submitForm()" class="next_step2">
                <div class="next_step_box2"></div>
                <span class="next_step_text2">다음 단계로</span>
            </a>
        </form>
    </div>

</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // 'subpage1'을 인자로 하여 showSubpage 함수 호출하여 초기에 표시
        showSubpage('subpage1');
    });
    document.getElementById('deliveryOptions').value = 'default';
    showSubpage('subpage1');
    function showSubpage(subpageId) {
        // 모든 subpage를 비활성화
        var subpages = document.querySelectorAll('.subpage');
        subpages.forEach(function(subpage) {
            subpage.classList.remove('active');
        });


        // 클릭한 subpage를 활성화
        var activeSubpage = document.getElementById(subpageId);
        activeSubpage.classList.add('active');

        // 추가: 선택한 서브페이지에 따라 언더라인 활성화
        var addressList = document.querySelector('.address_list');
        var inputAddress = document.querySelector('.input_address');

        if (subpageId === 'subpage1') {
            addressList.classList.add('active');
            inputAddress.classList.remove('active');
        } else if (subpageId === 'subpage2') {
            addressList.classList.remove('active');
            inputAddress.classList.add('active');
        }

        // 선택한 subpage의 텍스트 스타일 변경
        var addressListText = document.querySelector('.address_list span');
        var inputAddressText = document.querySelector('.input_address span');

        if (subpageId === 'subpage1') {
            addressListText.style.color = '#0D0D0D';
            addressListText.style.fontWeight = 'bold';
            inputAddressText.style.color = ''; // 원래 색으로 돌아오게 설정
            inputAddressText.style.fontWeight = ''; // 원래 굵기로 돌아오게 설정
        } else if (subpageId === 'subpage2') {
            addressListText.style.color = ''; // 원래 색으로 돌아오게 설정
            addressListText.style.fontWeight = ''; // 원래 굵기로 돌아오게 설정
            inputAddressText.style.color = '#0D0D0D';
            inputAddressText.style.fontWeight = 'bold';
        }
    }
    $("#search_a_i_address").click(function () { // 도로명 주소 검색 버튼 클릭할 때
        var search_text = $("#recipientAddress").val();
        addr_json.keyword = search_text;

        $.ajax({
            type: "GET",
            url: "/data/searchText",
            data: addr_json,
            success: function (data) {
                var json_address = JSON.parse(data);
                totalData = json_address.results.common.totalCount; // 전체 데이터 개수
                dataPerPage = json_address.results.common.countPerPage; // 한페이지에 나타낼 데이터 개수
                pageCount = 10; // 한 화면에 표기할 페이지수

                if (json_address.results.juso.length == 0) {
                    selectedPage = 1;
                }

                var addr_list = json_address.results.juso; // 주소 리스트
                var resultHtml = "";
                for (var i = 0; i < addr_list.length; i++) {
                    resultHtml += "<tr>";
                    resultHtml += "<td>" + addr_list[i]['zipNo'] + "</td>";
                    resultHtml += "<td>" + addr_list[i]['jibunAddr'] + "</td>";
                    resultHtml += "<td>" + addr_list[i]['roadAddr'] + "</td>";
                    resultHtml += "</tr>";
                }

                $("#result_data tbody").html(resultHtml);
                paging(totalData, dataPerPage, pageCount, selectedPage);
                $("#paging").show();
            },
            error: function (xhr, status, error) {
                alert(error);
            },
        });
    });
</script>

</body>
</html>