<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detailed product</title>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Zen+Tokyo Zoo&display=swap" rel="stylesheet">

<link rel="stylesheet" href="detailed_product.css">

<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>
</head>

<body>
<div id="header">
    <a href="/home" class="logo">
        <img src="/resources/icon/logo2.png" alt="">
    </a>            
    <a href="/upload" class=upload_project>
        <div class=upload_box>
        <b><span  class="upload_text">프로젝트 올리기</span></b>
        <svg viewBox="-12 -10 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.21429 16.0588H14.7857V8.64706H20.5L10.5 0L0.5 8.64706H6.21429V16.0588ZM0.5 18.5294H20.5V21H0.5V18.5294Z" fill="#7D1CD8"/>
        </svg>
        </div>
    </a>
    <a href="/profile" class="profile">
        <div class="default_profile_circle"></div>
        <div class="default_profile_face"></div>
        <div class="nickname">체리토끼</div>
        <div class="nickname_title">님</div>
    </a>
</div>

<div id="content">
    <div class="title_section">
        <div class="section">
            <div class="funding_title">후원하기</div>
        </div>
    </div>
    <div class="funding_process">
        <div class="product_description">
            <div class="purple_des"></div>
            <span class="description"><b>후원 상품 정보</b></span>
        </div>
        <div class="delivery_address">
            <div class="grey_add"></div>
            <span class="address"><b>배송지</b></span>
        </div>
        <div class="payment_reservation">
            <div class="grey_res"></div>
            <span class="reservation"><b>결제 예약</b></span>
        </div>
        <div class="process_line"></div>
    </div>

    <div class="product">
        <div class="product_image"></div>
        <div class="category">
            <span class="product_category">인형</span>
            <span class="space"> | </span>
            <span class="creator">워뇨뇽</span>
        </div>
        <div class="title"><b>
            <span class="subject">[IVE] [장원영]</span>
            <span class="product_title">비주얼 천재만재 핑크공주 워뇨 인형</span>
        </b></div>
        <div class="funding_amount">
            <b><span class="percent">98%</span></b>
            <span class="amount">1,831,000원</span>
        </div>
        <div class="funding_date">
            <span class="purple_box"></span>
            <b><span class="day_left">2일 남음</span></b>
        </div>
        <div class="options">
            <span class="option">옵션 : </span>
            <span class="option_name">리본 머리띠</span>
        </div>
    </div>

    <div class="product_amount">
        <span class="show_amount">수량</span>
        <span class="chosen_amount">1</span>
        <span class="unit">개</span>
    </div>

    <div class="product_composition">
        <span class="composition">구성</span>
        <span class="composition_detail">인형 + 리본 머리띠(옵션)</span>
    </div>

    <a href="/2_default_address/default_address.html" class="next_step">
        <div class="next_step_box"></div>
        <span class="next_step_text">다음 단계로</span>
    </a>
</body>
</html>