<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detailed product</title>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Zen+Tokyo Zoo&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/funding_process/detailed_product.css">

<style>
    body {
        margin: 0;
        padding: 0;
    }
</style>
</head>

<body>
<div id="header">
    <div class=cartbar>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="category-box">
            <div class="category"><a href="home.html">홈</a></div>
            <div class="category"><a href="new_projects.html">신규 프로젝트</a></div>
            <div class="category"><a href="closing_soon_projects.html">마감 임박 프로젝트</a></div>
            <div class="category"><a href="early_bird_projects.html">얼리버드 프로젝트</a></div>
        </div>
    </div>
    <div class="logo">
        <a href="/krowdpoping/mainpage">
            <img src="/icon/logo2.png" alt="">
        </a>
    </div>
    <div class="menu">
        <!-- <div class="menu-item"><img src ="resources/icon/likebutton.svg" alt="" width="35px" height="35px"></div> -->
        <a th:onclick="'location.href=\'/mypage/projectlist2_yes\''" class="menu-item1">
            <img src="/icon/likebutton.svg" alt="" width="35px" height="35px"></a>
        <a href="alarm.html" class="menu-item2">
            <img src="/icon/alarmbutton.svg" alt="" width="37px" height="35.36px"></a>
        <a th:onclick="'location.href=\'/startProject/start\''" class="menu-item3">
            <img src="/icon/uploadbutton.svg" alt="" width="118px" height="35.36px"></a>

        <th:block sec:authorize="isAnonymous()">
            <a th:href="@{/user/login}"
               class="menu-item5" id="login">
                <img src="/icon/loginbutton.svg" alt="" width="118px" height="35.36px"></a>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <a href="login.html" class="menu-item4"><img src="/icon/basicpic.png" alt="" ><span class="login_nickname" sec:authentication="principal.userDTO.nickname"></span><span>님</span></a>
            <!--                <a th:href="@{/user/logout}">-->
            <!--                    <input type="button" class="btn btn-or" value="로그아웃" id="logout"></a>-->

        </th:block>
    </div>
    <div id="search-area">
        <form id="search-form">
            <div id="search-text-area">
                <input type="text" id="search-input" name="search-input" placeholder="  검색어를 입력해주세요."
                       onfocus="this.placeholder=''" onblur="this.placeholder='  검색어를 입력해주세요.'" >
            </div>
            <div id="search-btn-area">
                <button type="submit" id="search-btn" ><img src="/icon/searchbutton.png"></button>
            </div>
        </form>
    </div>
    <!-- </div> -->


</div>

<div id="content">
        <div class="section">
            <div class="funding_title">후원하기</div>
        </div>
    <div class="funding_process">
        <div class="product_description">
            <div class="purple_des"></div>
            <span class="description"><b>후원 상품 정보</b></span>
        </div>
        <div class="delivery_address">
            <div class="grey_add"></div>
            <span class="address"><b>배송지</b></span>
        </div>
        <div class="payment_reservation">
            <div class="grey_res"></div>
            <span class="reservation"><b>결제</b></span>
        </div>
        <div class="process_line"></div>
    </div>

    <div class="product">
        <div class="product_image"></div>
        <div class="product_category_section">
            <span class="product_category" th:text="${detail.category.categoryTitle}"></span>
            <span class="space"> | </span>
            <span class="creator">워뇨뇽</span>
        </div>
        <div class="title"><b>
            <span class="subject">[IVE] [장원영]</span>
            <span class="product_title" th:text="${detail.title}"></span>
        </b></div>
        <div class="funding_amount">
            <b><span class="percent">98%</span></b>
            <span class="amount">1,831,000원</span>
        </div>
        <div class="funding_date">
            <span class="purple_box"></span>
            <b><span class="day_left" th:text="${daysLeftDisplay}"></span></b>
        </div>
        <div class="options">
            <span class="option">구성 : </span>
            <span class="option_name" th:text="${goods.goodsName}"></span>
        </div>
    </div>
    <div class="product_composition">
        <span class="composition">가격</span>
        <span class="composition_detail" th:text="${goods.amount + '원'}"></span>
    </div>

    <a th:href="@{/funding_process/address}" class="next_step">
        <div class="next_step_box"></div>
        <span class="next_step_text">다음 단계로</span>
    </a>
</div>
</body>
</html>