<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/project/projectpage3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>projectPage</title>
</head>

<header>
    <div id="wrapper">
        <div id="header">
            <div class=cartbar>
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                <div class="category-box">
                    <div class="category"><a href="home.html">홈</a></div>
                    <div class="category"><a href="new_projects.html">신규 프로젝트</a></div>
                    <div class="category"><a href="closing_soon_projects.html">마감 임박 프로젝트</a></div>
                    <div class="category"><a href="early_bird_projects.html">얼리버드 프로젝트</a></div>
                </div>
            </div>
            <div class="logo">
                <img src="/icon/logo2.png" alt="">
            </div>
            <div class="menu">
                <!-- <div class="menu-item"><img src ="resources/icon/likebutton.svg" alt="" width="35px" height="35px"></div> -->
                <a href="like.html" class="menu-item"><img src="/icon/likebutton.svg" alt=""
                                                           width="35px" height="35px"></a>
                <a href="alarm.html" class="menu-item"><img src="/icon/alarmbutton.svg" alt=""
                                                            width="37px" height="35.36px"></a>
                <a href="upload.html" class="menu-item"><img src="/icon/uploadbutton.svg" alt=""
                                                             width="118px" height="35.36px"></a>
                <a href="login.html" class="menu-item"><img src="/icon/loginbutton.svg" alt=""
                                                            width="118px" height="35.36px"></a>
            </div>
            <div id="search-area">
                <form id="search-form">
                    <div id="search-text-area">
                        <input type="text" id="search-input" name="search-input" placeholder="  검색어를 입력해주세요."
                               onfocus="this.placeholder=''" onblur="this.placeholder='  검색어를 입력해주세요.'">
                    </div>
                    <div id="search-btn-area">
                        <button type="submit" id="search-btn"><img
                                src="/icon/searchbutton.png"></button>
                    </div>
                </form>
            </div>

        </div> <!--추가-->



    </div>
</header>


<body>
<div id="content">
    <section class="proMain">
        <div class="section">
            <input type="radio" name="slide" id="slide01" checked>
            <input type="radio" name="slide" id="slide02">
            <input type="radio" name="slide" id="slide03">
            <div class="slidewrap">

                <ul class="slidelist">
                    <li class="slideitem">
                        <a>
                            <img src="/images/unsplash_eVaxJVA2zHI.png">
                        </a>
                    </li>
                    <li class="slideitem">
                        <a>
                            <img src="/images/unsplash_eVaxJVA2zHI.png">
                        </a>
                    </li>
                    <li class="slideitem">
                        <a>
                            <img src="/images/unsplash_eVaxJVA2zHI.png">
                        </a>
                    </li>

                    <div class="slide-control">
                        <div>
                            <label for="slide03" class="left"></label>
                            <label for="slide02" class="right"></label>
                        </div>
                        <div>
                            <label for="slide01" class="left"></label>
                            <label for="slide03" class="right"></label>
                        </div>
                        <div>
                            <label for="slide02" class="left"></label>
                            <label for="slide01" class="right"></label>
                        </div>
                    </div>

                </ul>
                <ul class="slide-pagelist">
                    <li><label for="slide01"></label></li>
                    <li><label for="slide02"></label></li>
                    <li><label for="slide03"></label></li>
                </ul>
            </div>

        </div>
        <div class="proText">
            <div class="proIntro">
                <div class="i-procategory">
                    <a>
                        <span class="cateBtn" th:onclick="'location.href=\'/category/category-acc\''">액세서리</span>
                    </a>
                    <i class="fa-solid fa-angle-right"></i>
                    <a>
                        <span class="cateBtn">겨울핫팩</span>
                    </a>
                </div>
                <div class="protitle">
                    <h3>[IVE] [장원영] 비주얼 천재만재 핑크공주 워뇨 인형 비주얼 천재만재 핑크공주 워뇨 인형</h3>
                </div>
                <div class="proShortDesc">
                    <p>짧은 소개글이 들어갑니다. 기안84와 친구들이 함께 떠나는 즉흥 여행. 정해진 계획은 없다. 발길 닿는 대로 무작정 여행지를 돌아다니며 그곳의 진정한 아름다움을
                        발견한다. 출연 기안84, 빠니보틀, 덱스</p>
                </div>
            </div>
            <div class="proMainBtn-wrapper">
                <div class="fa-heart-wrapper">
                    <i class="fa-solid fa-heart" onclick="toggleLike()" id="like"></i>
                    <!-- <i class="fa-solid fa-heart"></i> -->
                </div>
                <span class="hubtn" onclick="showSubPage('subpage2')">후원하기</span>
            </div>
        </div>

    </section>
    <div class="proInfoMiddle-wrapper">
        <div class="proMainUp-wrapper">
            <div class="proInfo1">
                <ul>
                    <li>모인금액</li>
                    <li>4,932,489원<span id="proMainPercent">364%</span></li>



                </ul>
                <ul>
                    <li>남은시간</li>
                    <li>47일
                    <li>
                </ul>
                <ul>
                    <li>
                        <div is="proInfoDonor">후원자</div>
                    </li>
                    <li>4,310명
                    <li>
                </ul>
            </div>

            <div class="proInfo2">
                <ul>
                    <li>목표금액</li>
                    <li>500,000원</li>
                </ul>

                <ul>
                    <li>펀딩기간</li>
                    <li>2023.11.07 ~ 2023.12.31<span id="proMainDayLeft">10일 남음</span></li>
                </ul>
                <ul>
                    <li>결제일자</li>
                    <li>목표금액 달성시 2024.01.01에 결제 진행</li>
                </ul>
            </div>
        </div>

        <div class="creatorCard-wrapper">
            <div>
                <img class="ctimg" src="/images/imase.jpeg">
            </div>
            <div class="ctInfo">
                <div class="ctInner">
                    <h4>비타민젤리</h4>
                    <span class="followerCnt">팔로워 100명</span>
                </div>
                <span class="ctdInfo">창작자 소개가 들어갑니다. 소개글 확인을 위해 긴 텍스트 작성중. html 너무 어렵다..자바스크립트도 이제 적용해야되는데 클남. 그나저나
                        50개 남음 저거 글씨 정렬이 왜저러는지 모르겠네 엉엉..그리고 하트 아이콘도 정렬이 안맞는당.창작자 소개가 들어갑니다. 소개글 확인을 위해 긴 텍스트 작성중. html
                        너무 어렵다..자바스크립트도 이제 적용해야되는데 클남. 그나저나 50개 남음 저거 글씨 정렬이 왜저러는지 모르겠네 엉엉..그리고 하트 아이콘도 정렬이 안맞는당</span>
                <div class="followAndSns">
                    <!-- <i class="fa-solid fa-check"></i> -->
                    <i class="fa-solid fa-comment"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-solid fa-envelope"></i>
                    <div class="follow-wrapper" onclick="toggleFollow()">팔로우</div>
                </div>
            </div>

        </div>
    </div>

    <div class="proContentNavi">
        <div class="proContentNaviMenu">
                <span class="project-description-active active" onclick="showSubPage('subpage1')">프로젝트
                    소개</span>
            <span class="reward-select-active active" onclick="showSubPage('subpage2')">선물 선택</span>
            <span class="update-active active" onclick="showSubPage('subpage3')">업데이트</span>
            <span class="community-active active" onclick="showSubPage('subpage4')">커뮤니티</span>
            <span class="inquiry-to-creator-active active" onclick="showSubPage('subpage5')">1:1 문의</span>
        </div>
    </div>
    <div class="proBottom-wrapper">
        <div class="proBottom-inner">


            <div class="proDesc subpage" id="subpage1">
                <span class="proMenuSelect">프로젝트 소개</span>
                <!-- <div class="proContentBtn-wrap">
                    <div class="proContentBtn">
                        <ul>
                            <li><a id="active">소개</a></li>
                            <li><a>예산</a></li>
                            <li><a>일정</a></li>

                        </ul>
                    </div>
                </div> -->
                <br><br>
                <div id="introduction" class="proContentMainInner">

                    <h3>소개</h3>
                    <br>
                    <img src="/images/banner2.jpeg">
                    <br>
                    <p>
                        "지하철을 타면 요즘은 모두 핸드폰만 보고 있더라.
                        모바일 기계들은 이제 우리 생활에서 뗄래야 뗄 수 없는 물건들이야.
                        집에서도 직장에서도 이동하는 지하철 안에서도 우리는 끊임없이 작은 화면으로 세상을 보지.
                        그런데 가끔은 이런 기계들을 모두 꺼 두고 싶어."
                        "지하철을 타면 요즘은 모두 핸드폰만 보고 있더라.
                        모바일 기계들은 이제 우리 생활에서 뗄래야 뗄 수 없는 물건들이야.
                        집에서도 직장에서도 이동하는 지하철 안에서도 우리는 끊임없이 작은 화면으로 세상을 보지.
                        그런데 가끔은 이런 기계들을 모두 꺼 두고 싶어."
                        "지하철을 타면 요즘은 모두 핸드폰만 보고 있더라.
                        모바일 기계들은 이제 우리 생활에서 뗄래야 뗄 수 없는 물건들이야.
                        집에서도 직장에서도 이동하는 지하철 안에서도 우리는 끊임없이 작은 화면으로 세상을 보지.
                        그런데 가끔은 이런 기계들을 모두 꺼 두고 싶어."

                    </p>
                    <br>


                </div>
                <br><br><br><br>

                <div id="budget" class="proContentMainInner">
                    <h3>예산</h3>
                    <br>
                    <img src="/images/DreamAcademyHQ.png">
                    <br>
                    <p>
                        "잠시 기계들로부터 벗어나 오로지 나에게 집중 할 수 있는 시간을 갖는 거야.
                        묵혀 두었던 책을 꺼내어 읽어 보고, 여유 있게 차도 한잔 마시자
                        그리고 아끼는 펜을 꺼내서 일상 풍경들 그리고 감정들을 적어보는 거야.

                        요즘 것들의 '문방사우'는 우리의 일상에 틈을 만들려 해.
                        잠시 숨 고를 틈.

                        책을 읽고, 생각하고, 글을 쓰자.
                        우리는 '기계'가 아니잖아."
                        "잠시 기계들로부터 벗어나 오로지 나에게 집중 할 수 있는 시간을 갖는 거야.
                        묵혀 두었던 책을 꺼내어 읽어 보고, 여유 있게 차도 한잔 마시자
                        그리고 아끼는 펜을 꺼내서 일상 풍경들 그리고 감정들을 적어보는 거야.

                        요즘 것들의 '문방사우'는 우리의 일상에 틈을 만들려 해.
                        잠시 숨 고를 틈.

                        책을 읽고, 생각하고, 글을 쓰자.
                        우리는 '기계'가 아니잖아."
                        "잠시 기계들로부터 벗어나 오로지 나에게 집중 할 수 있는 시간을 갖는 거야.
                        묵혀 두었던 책을 꺼내어 읽어 보고, 여유 있게 차도 한잔 마시자
                        그리고 아끼는 펜을 꺼내서 일상 풍경들 그리고 감정들을 적어보는 거야.

                        요즘 것들의 '문방사우'는 우리의 일상에 틈을 만들려 해.
                        잠시 숨 고를 틈.

                        책을 읽고, 생각하고, 글을 쓰자.
                        우리는 '기계'가 아니잖아."
                        "잠시 기계들로부터 벗어나 오로지 나에게 집중 할 수 있는 시간을 갖는 거야.
                        묵혀 두었던 책을 꺼내어 읽어 보고, 여유 있게 차도 한잔 마시자
                        그리고 아끼는 펜을 꺼내서 일상 풍경들 그리고 감정들을 적어보는 거야.

                        요즘 것들의 '문방사우'는 우리의 일상에 틈을 만들려 해.
                        잠시 숨 고를 틈.

                        책을 읽고, 생각하고, 글을 쓰자.
                        우리는 '기계'가 아니잖아."
                    </p>
                    <br>

                </div>
                <br><br><br><br>
                <div id="schedule" class="proContentMainInner">
                    <h3>일정</h3>
                    <br>
                    <img src="/images/CLASSy.png">
                    <br>
                    <p>
                        예나 지금이나 글을 쓰는 행위는 인간 사회의 가장 필수적인 요소입니다.
                        컴퓨터는 커녕 잉크조차 없었던 시절에도 인간은 어떤 도구라도 사용하여 글을 쓰거나 그림을 그렸습니다.
                        예나 지금이나 글을 쓰는 행위는 인간 사회의 가장 필수적인 요소입니다.
                        컴퓨터는 커녕 잉크조차 없었던 시절에도 인간은 어떤 도구라도 사용하여 글을 쓰거나 그림을 그렸습니다.
                        예나 지금이나 글을 쓰는 행위는 인간 사회의 가장 필수적인 요소입니다.
                        컴퓨터는 커녕 잉크조차 없었던 시절에도 인간은 어떤 도구라도 사용하여 글을 쓰거나 그림을 그렸습니다.
                    </p>
                    <br>

                </div>

                <div id="project-report">
                    <span class="project-report" th:onclick="'location.href=\'/projectdetail/projectReportForm\''">이 프로젝트 신고하기</span>
                    <br><br><br><br><br><br>
                </div>

            </div>



            <div class="subpage" id="subpage2">
                <span class="proMenuSelect">선물 선택</span>
                <br><br>
                <div class="rewards">
                    <div class="rewardCard-wrapper">
                        <div class="rewardCardInner">
                            <div class="cardAmount-wrapper">
                                <div><span class="rewardCardAmount">펀딩 시작 기념 구성</span></div>
                                <div class="rewardCount"><span>50</span><span>개 남음</span></div>
                            </div>
                            <div class="rewardCardTitle">[얼리버드]</div>
                            <div class="rewardContent">
                                <ul>
                                    <li>워녕이 인형 &nbsp;<span>( x 1 )</span></li>
                                    <li>워녕이 키링 &nbsp;<span>( x 1 )</span></li>
                                    <li>IVE 거울 &nbsp;<span>( x 1 )</span></li>
                                    <li>보관용 파우치 &nbsp;<span>( x 1 )</span></li>
                                    <span class="card-hubtn">70,000<span class="card-hubtn-won">원 후원하기</span></span>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rewardCard-wrapper">
                        <div class="rewardCardInner">
                            <div class="cardAmount-wrapper">
                                <div><span class="rewardCardAmount">펀딩 시작 기념 구성</span></div>
                                <div class="rewardCount"><span>50</span><span>개 남음</span></div>
                            </div>
                            <div class="rewardCardTitle">[얼리버드]</div>
                            <div class="rewardContent">
                                <ul>
                                    <li>워녕이 인형 &nbsp;<span>( x 1 )</span></li>
                                    <li>워녕이 키링 &nbsp;<span>( x 1 )</span></li>
                                    <li>IVE 거울 &nbsp;<span>( x 1 )</span></li>
                                    <li>보관용 파우치 &nbsp;<span>( x 1 )</span></li>
                                    <span class="card-hubtn">70,000<span class="card-hubtn-won">원 후원하기</span></span>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="rewardCard-wrapper">
                        <div class="rewardCardInner">
                            <div class="cardAmount-wrapper">
                                <div><span class="rewardCardAmount">펀딩 시작 기념 구성</span></div>
                                <div class="rewardCount"><span>50</span><span>개 남음</span></div>
                            </div>
                            <div class="rewardCardTitle">[얼리버드]</div>
                            <div class="rewardContent">
                                <ul>
                                    <li>워녕이 인형 &nbsp;<span>( x 1 )</span></li>
                                    <li>워녕이 키링 &nbsp;<span>( x 1 )</span></li>
                                    <li>IVE 거울 &nbsp;<span>( x 1 )</span></li>
                                    <li>보관용 파우치 &nbsp;<span>( x 1 )</span></li>
                                    <span class="card-hubtn">70,000<span class="card-hubtn-won">원 후원하기</span></span>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rewardCard-wrapper">
                        <div class="rewardCardInner">
                            <div class="cardAmount-wrapper">
                                <div><span class="rewardCardAmount">펀딩 시작 기념 구성</span></div>
                                <div class="rewardCount"><span>50</span><span>개 남음</span></div>
                            </div>
                            <div class="rewardCardTitle">[얼리버드]</div>
                            <div class="rewardContent">
                                <ul>
                                    <li>워녕이 인형 &nbsp;<span>( x 1 )</span></li>
                                    <li>워녕이 키링 &nbsp;<span>( x 1 )</span></li>
                                    <li>IVE 거울 &nbsp;<span>( x 1 )</span></li>
                                    <li>보관용 파우치 &nbsp;<span>( x 1 )</span></li>
                                    <span class="card-hubtn">70,000<span class="card-hubtn-won">원 후원하기</span></span>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="rewardCard-wrapper">
                        <div class="rewardCardInner">
                            <div class="cardAmount-wrapper">
                                <div><span class="rewardCardAmount">펀딩 시작 기념 구성</span></div>
                                <div class="rewardCount"><span>50</span><span>개 남음</span></div>
                            </div>
                            <div class="rewardCardTitle">[얼리버드]</div>
                            <div class="rewardContent">
                                <ul>
                                    <li>워녕이 인형 &nbsp;<span>( x 1 )</span></li>
                                    <li>워녕이 키링 &nbsp;<span>( x 1 )</span></li>
                                    <li>IVE 거울 &nbsp;<span>( x 1 )</span></li>
                                    <li>보관용 파우치 &nbsp;<span>( x 1 )</span></li>
                                    <span class="card-hubtn">70,000<span class="card-hubtn-won">원 후원하기</span></span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="subpage" id="subpage3">
                <span class="proMenuSelect">업데이트</span>

                <div class="creatorCard-inner-subpage3">
                    <div class="creatorCard-info">
                        <div>
                            <img class="ctimg" src="/images/imase.jpeg">
                        </div>
                        <div class="ctInfo">
                            <div class="ctInner">
                                <h4>비타민젤리</h4>
                                <span class="creatorCard-inner-subpage3-style">*창작자</span>
                                <span class="creator-update-date">2023.12.20 수정됨</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="update-btn-wrapper">
                        <a href="#" class="update-list-btn">수정</a>
                        <a href="#" class="update-list-btn">삭제</a>
                    </div> -->
                    <div class="update-detail-wrapper">

                        <div class="update-detail">

                            <div class="update-title">
                                <p>업데이트 제목이 들어갑니다.</p>
                            </div>
                        </div>
                        <div class="update-content">
                                <textarea readonly class="update-textarea">
        수정, 삭제를 위해서는 권한으로 페이지 들어오는 것을 구분해야되므로 창작자 업데이트 페이지, 후원자 업데이트 페이지를 디자인은 같지만 주소를 다르게 만들어야 할 것 같다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.

                                </textarea>


                            <!--댓글 작성 폼-->
                            <!-- <div>

                                <form method="post" action="/reply/write">

                                    <p>
                                        <label>댓글 작성자</label> <input type="text" name="writer">
                                    </p>
                                    <p>
                                        <textarea rows="5" cols="50" name="content"></textarea>
                                    </p>
                                    <p>
                                        <button type="submit">댓글 작성</button>
                                    </p>
                                </form>

                            </div> -->

                            <div class="reply-solid-wrapper">
                                <div class="reply-info">
                                    <div>
                                        <img class="reply-img" src="/images/Tribe.png">
                                    </div>
                                    <div class="reply-wrapper">
                                        <div class="reply-inner">
                                            <span class="reply-user">후원자2 닉네임 글자수 테스트</span>
                                            <span class="reply-update-date">2023.12.20 수정됨</span>
                                            <!-- <div class="reply-btn-wrapper">
                                                <a href="#" class="reply-list-btn rebtn1">수정</a>
                                                <a href="#" class="reply-list-btn rebtn2">삭제</a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>



                                <textarea readonly class="reply-textarea">
        댓글이 들어감
                                    </textarea>
                            </div>

                            <div class="reply-solid-wrapper">

                                <!--댓글영역시작-->
                                <div class="reply-info">
                                    <div>
                                        <img class="reply-img" src="/images/Tribe.png">
                                    </div>
                                    <div class="reply-wrapper">
                                        <div class="reply-inner">
                                            <span class="reply-user">후원자2 닉네임 글자수 테스트</span>
                                            <span class="reply-update-date">2023.12.20 수정됨</span>
                                            <!-- <div class="reply-btn-wrapper">
                                                <a href="#" class="reply-list-btn rebtn1">수정</a>
                                                <a href="#" class="reply-list-btn rebtn2">삭제</a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>


                                <textarea readonly class="reply-textarea">
            댓글이 들어감
                                        </textarea>

                            </div>

                            <!--댓글영역끝-->
                        </div>
                    </div>
                </div>


                <div class="creatorCard-inner-subpage3">
                    <div class="creatorCard-info">
                        <div>
                            <img class="ctimg" src="/images/imase.jpeg">
                        </div>
                        <div class="ctInfo">
                            <div class="ctInner">
                                <h4>비타민젤리</h4>
                                <span class="creatorCard-inner-subpage3-style">*창작자</span>
                                <span class="creator-update-date">2023.12.20 수정됨</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="update-btn-wrapper">
                        <a href="#" class="update-list-btn">수정</a>
                        <a href="#" class="update-list-btn">삭제</a>
                    </div> -->
                    <div class="update-detail-wrapper">

                        <div class="update-detail">

                            <div class="update-title">
                                <p>업데이트 제목이 들어갑니다.</p>
                            </div>
                        </div>
                        <div class="update-content">
                                <textarea readonly class="update-textarea">
        수정, 삭제를 위해서는 권한으로 페이지 들어오는 것을 구분해야되므로 창작자 업데이트 페이지, 후원자 업데이트 페이지를 디자인은 같지만 주소를 다르게 만들어야 할 것 같다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.

                                </textarea>
                            <div class="reply-solid-wrapper">

                                <div class="reply-info">
                                    <div>
                                        <img class="reply-img" src="/images/Tribe.png">
                                    </div>
                                    <div class="reply-wrapper">
                                        <div class="reply-inner">
                                            <span class="reply-user">후원자2 닉네임 글자수 테스트</span>
                                            <span class="reply-update-date">2023.12.20 수정됨</span>
                                            <!-- <div class="reply-btn-wrapper">
                                                <a href="#" class="reply-list-btn rebtn1">수정</a>
                                                <a href="#" class="reply-list-btn rebtn2">삭제</a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>


                                <textarea readonly class="reply-textarea">
        댓글이 들어감
                                    </textarea>
                            </div>

                            <!--댓글영역시작-->
                            <div class="reply-solid-wrapper">

                                <div class="reply-info">
                                    <div>
                                        <img class="reply-img" src="/images/Tribe.png">
                                    </div>
                                    <div class="reply-wrapper">
                                        <div class="reply-inner">
                                            <span class="reply-user">후원자2 닉네임 글자수 테스트</span>
                                            <span class="reply-update-date">2023.12.20 수정됨</span>
                                            <!-- <div class="reply-btn-wrapper">
                                                <span class="reply-list-btn rebtn1">수정</span>
                                                <a href="#" class="reply-list-btn rebtn2">삭제</a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>


                                <textarea readonly class="reply-textarea">
            댓글이 들어감
                                </textarea>
                            </div>
                            <!--댓글영역끝-->
                        </div>
                    </div>
                </div>
                <!--여기까지 게시글과 댓글 영역-->
                <div class="subpage" id="subpage3">
                    <span class="proMenuSelect">업데이트</span>

                    <div class="creatorCard-inner-subpage3">
                        <div class="creatorCard-info">
                            <div>
                                <img class="ctimg" src="/images/imase.jpeg">
                            </div>
                            <div class="ctInfo">
                                <div class="ctInner">
                                    <h4>비타민젤리</h4>
                                    <span class="creatorCard-inner-subpage3-style">*창작자</span>
                                    <span class="creator-update-date">2023.12.20 수정됨</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="update-btn-wrapper">
                            <a href="#" class="update-list-btn">수정</a>
                            <a href="#" class="update-list-btn">삭제</a>
                        </div> -->
                        <div class="update-detail-wrapper">

                            <div class="update-detail">

                                <div class="update-title">
                                    <p>업데이트 제목이 들어갑니다.</p>
                                </div>
                            </div>
                            <div class="update-content">
                                <textarea readonly class="update-textarea">
        수정, 삭제를 위해서는 권한으로 페이지 들어오는 것을 구분해야되므로 창작자 업데이트 페이지, 후원자 업데이트 페이지를 디자인은 같지만 주소를 다르게 만들어야 할 것 같다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.

                                </textarea>


                                <!--댓글 작성 폼-->
                                <!-- <div>

                                    <form method="post" action="/reply/write">

                                        <p>
                                            <label>댓글 작성자</label> <input type="text" name="writer">
                                        </p>
                                        <p>
                                            <textarea rows="5" cols="50" name="content"></textarea>
                                        </p>
                                        <p>
                                            <button type="submit">댓글 작성</button>
                                        </p>
                                    </form>

                                </div> -->

                                <div class="reply-solid-wrapper">
                                    <div class="reply-info">
                                        <div>
                                            <img class="reply-img" src="/images/Tribe.png">
                                        </div>
                                        <div class="reply-wrapper">
                                            <div class="reply-inner">
                                                <span class="reply-user">후원자2 닉네임 글자수 테스트</span>
                                                <span class="reply-update-date">2023.12.20 수정됨</span>
                                                <!-- <div class="reply-btn-wrapper">
                                                    <a href="#" class="reply-list-btn rebtn1">수정</a>
                                                    <a href="#" class="reply-list-btn rebtn2">삭제</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>



                                    <textarea readonly class="reply-textarea">
        댓글이 들어감
                                    </textarea>
                                </div>

                                <div class="reply-solid-wrapper">

                                    <!--댓글영역시작-->
                                    <div class="reply-info">
                                        <div>
                                            <img class="reply-img" src="/images/Tribe.png">
                                        </div>
                                        <div class="reply-wrapper">
                                            <div class="reply-inner">
                                                <span class="reply-user">후원자2 닉네임 글자수 테스트</span>
                                                <span class="reply-update-date">2023.12.20 수정됨</span>
                                                <!-- <div class="reply-btn-wrapper">
                                                    <a href="#" class="reply-list-btn rebtn1">수정</a>
                                                    <a href="#" class="reply-list-btn rebtn2">삭제</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>


                                    <textarea readonly class="reply-textarea">
            댓글이 들어감
                                        </textarea>

                                </div>

                                <!--댓글영역끝-->
                            </div>
                        </div>
                    </div>


                    <div class="creatorCard-inner-subpage3">
                        <div class="creatorCard-info">
                            <div>
                                <img class="ctimg" src="/images/imase.jpeg">
                            </div>
                            <div class="ctInfo">
                                <div class="ctInner">
                                    <h4>비타민젤리</h4>
                                    <span class="creatorCard-inner-subpage3-style">*창작자</span>
                                    <span class="creator-update-date">2023.12.20 수정됨</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="update-btn-wrapper">
                            <a href="#" class="update-list-btn">수정</a>
                            <a href="#" class="update-list-btn">삭제</a>
                        </div> -->
                        <div class="update-detail-wrapper">

                            <div class="update-detail">

                                <div class="update-title">
                                    <p>업데이트 제목이 들어갑니다.</p>
                                </div>
                            </div>
                            <div class="update-content">
                                <textarea readonly class="update-textarea">
        수정, 삭제를 위해서는 권한으로 페이지 들어오는 것을 구분해야되므로 창작자 업데이트 페이지, 후원자 업데이트 페이지를 디자인은 같지만 주소를 다르게 만들어야 할 것 같다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.
        안녕하세요, 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다. 테스트를 위해 긴 문장을 적어본다.

                                </textarea>
                                <div class="reply-solid-wrapper">

                                    <div class="reply-info">
                                        <div>
                                            <img class="reply-img" src="/images/Tribe.png">
                                        </div>
                                        <div class="reply-wrapper">
                                            <div class="reply-inner">
                                                <span class="reply-user">후원자2 닉네임 글자수 테스트</span>
                                                <span class="reply-update-date">2023.12.20 수정됨</span>
                                                <!-- <div class="reply-btn-wrapper">
                                                    <a href="#" class="reply-list-btn rebtn1">수정</a>
                                                    <a href="#" class="reply-list-btn rebtn2">삭제</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>


                                    <textarea readonly class="reply-textarea">
        댓글이 들어감
                                    </textarea>
                                </div>

                                <!--댓글영역시작-->
                                <div class="reply-solid-wrapper">

                                    <div class="reply-info">
                                        <div>
                                            <img class="reply-img" src="/images/Tribe.png">
                                        </div>
                                        <div class="reply-wrapper">
                                            <div class="reply-inner">
                                                <span class="reply-user">후원자2 닉네임 글자수 테스트</span>
                                                <span class="reply-update-date">2023.12.20 수정됨</span>
                                                <!-- <div class="reply-btn-wrapper">
                                                    <span class="reply-list-btn rebtn1">수정</span>
                                                    <a href="#" class="reply-list-btn rebtn2">삭제</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>


                                    <textarea readonly class="reply-textarea">
            댓글이 들어감
                                </textarea>
                                </div>
                                <!--댓글영역끝-->
                            </div>
                        </div>
                    </div>
                    <!--여기까지 게시글과 댓글 영역-->

                </div>
            </div>
            <!--여기까지가 업데이트 영역-->

            <div class="subpage" id="subpage4">
                <span class="proMenuSelect">커뮤니티</span>
                <br><br><br>
                <div>커뮤니티는 후원자와 창작자만 이용할 수 있어요.</div>
                <br><br>
                <div id="write_area">

                    <form action="" method="post">
                        <textarea id="C-SummernoteContent" name="editor"></textarea>
                        <div class="bt_se">
                            <button type="submit">글 작성</button>
                        </div>
                    </form>
                </div>

                <br><br><br>
                <div class="reply-solid-wrapper">
                    <div class="reply-info">
                        <div>
                            <img class="reply-img" src="/images/Tribe.png">
                        </div>
                        <div class="reply-wrapper">
                            <div class="reply-inner">
                                <span class="reply-user">후원자2 닉네임 글자수 테스트</span>
                                <span class="reply-update-date">2023.12.20 수정됨</span>
                                <!-- <div class="reply-btn-wrapper">
                                    <a href="#" class="reply-list-btn rebtn1">수정</a>
                                    <a href="#" class="reply-list-btn rebtn2">삭제</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <textarea readonly class="reply-textarea">
    댓글이 들어감
                                </textarea>
                </div>
                <div class="reply-solid-wrapper">
                    <!--댓글영역시작-->
                    <div class="reply-info">
                        <div>
                            <img class="reply-img" src="/images/Tribe.png">
                        </div>
                        <div class="reply-wrapper">
                            <div class="reply-inner">
                                <span class="reply-user">후원자2 닉네임 글자수 테스트</span>
                                <span class="reply-update-date">2023.12.20 수정됨</span>
                                <!-- <div class="reply-btn-wrapper">
                                    <a href="#" class="reply-list-btn rebtn1">수정</a>
                                    <a href="#" class="reply-list-btn rebtn2">삭제</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <textarea readonly class="reply-textarea">
        댓글이 들어감
                            </textarea>
                </div>
                <!--댓글영역끝-->
            </div>
        </div>
    </div>


    <!-- <div>

                <h2>커뮤니티</h2>
                <br><br><br>
                <div>커뮤니티는 후원자와 창작자만 이용할 수 있어요.</div>
                <br><br>
                <textarea placeholder="창작자와 후원자만의 공간~~"></textarea>
                <i class="fa-solid fa-pen-to-square fa-xl" ></i>

                <br><br><br>

                <div class="cardWrapper">

                    <div style="display: flex;">

                        <div><img class="profileImg" src="../testHtml/image/imase.jpeg"></div>

                        <div>
                            <div class="nickname">포근포근달콤해</div>
                            <div class="userType">후원자</div>
                        </div>
                    </div>

                    <div class="post"> html 너무 어렵다..자바스크립트도 이제 적용해야되는데 클남. 그나저나 50개 남음 저거 글씨 정렬이 왜저러는지 모르겠네 엉엉..그리고 하트 아이콘도 정렬이 안맞는당.창작자 소개가 들어갑니다. 소개글 확인을 위해 긴 텍스트 작성중. html 너무 어렵다..자바스크립트도 이제 적용해야되는데 클남. 그나저나 50개 남음 저거 글씨 정렬이 왜저러는지 모르겠네 엉엉..그리고 하트 아이콘도 정렬이 안맞는당</div>
                    <br>
                    <div style="display: flex; justify-content: space-between; color: rgb(158, 158, 158);">
                        <div>2023.12.03</div>
                        <div>댓글 쓰기</div>
                    </div>

                </div>

                <div class="cardWrapper comment">

                    <div style="display: flex;">

                        <div><img class="profileImg" src="../testHtml/image/imase.jpeg"></div>
                        <div>
                            <div class="nickname">벨망</div>
                            <div class="userType">창작자</div>
                        </div>
                    </div>

                    <div class="post"> 소개글 확인을 위해 긴 텍스트 작성중. html 너무 어렵다..자바스크립트도 이제 적용해야되는데 클남. 그나저나 50개 남음 저거 글씨 정렬이 왜저러는지 모르겠네 엉엉..그리고 하트 아이콘도 정렬이 안맞는당</div>
                    <br>
                    <div style="display: flex; justify-content: space-between; color: rgb(158, 158, 158);">
                        <div>2023.12.03</div>
                        <div>댓글 쓰기</div>
                    </div>

                </div>
            </div> -->

    <!-- 여기까지가 커뮤니티-->

    <div class="subpage" id="subpage5">
        <span class="proMenuSelect">1:1 문의</span>
        <br><br><br>
        <div id="board_write">
            <h4>창작자에게 궁금한 점을 1:1로 문의해보세요.</h4>
            <div id="write_area">

                <form enctype="multipart/form-data" action="" method="post">
                    <textarea id="Y-SummernoteTitle" name="editor"></textarea>

                    <textarea id="Y-SummernoteContent" name="editor">
                                        </textarea>

                    <input type="file" name="SelectFile" />


                    <div class="bt_se">
                        <button type="submit">글 작성</button>
                    </div>
                </form>
            </div>
        </div>

        <br><br><br><br><br>
        <!--1:1문의 영역 끝-->

    </div>


</div>


<script>
    // function like() {

    //     let like = document.getElementById("like");
    //     if (like.className == 'fa-regular fa-heart') {
    //         like.className = 'fa-solid fa-heart'
    //     }
    //     else {
    //         like.className = 'fa-regular fa-heart'
    //     }
    // }

    let isFollowing = false;

    function toggleFollow() {
        const followWrapper = document.querySelector('.follow-wrapper');

        if (isFollowing) {
            followWrapper.style.background = '#e6e6e6';
            followWrapper.style.color = '#7d1cdb';
        } else {
            followWrapper.style.background = '#7d1cdb';
            followWrapper.style.color = 'white';
        }

        isFollowing = !isFollowing;
    }

    let onlike = false;

    function toggleLike() {
        const faheart = document.querySelector('.fa-heart');

        if (onlike) {
            faheart.style.color = '#e6e6e6';

        } else {
            faheart.style.color = '#7d1cdb';
        }

        onlike = !onlike;
    }



    document.addEventListener('DOMContentLoaded', function () {
        showSubPage('subpage1'); // 페이지 로드 시 subpage1을 보여줌
    });



    function showSubPage(subpageId) {


        var subpages = document.querySelectorAll('.subpage');
        subpages.forEach(function (subpage) {
            subpage.classList.remove('active');

        });

        var activeSubpage = document.getElementById(subpageId);
        activeSubpage.classList.add('active');

        if (subpageId === 'subpage2') {
            activeSubpage.scrollIntoView({
                behavior: 'smooth',
                block: 'start'
            });
        }

    }




    function submitAllForms() {
        var forms = document.querySelectorAll('form');
        forms.forEach(function (form) {
            form.submit();
        });
    }

    jQuery(document).ready(function () {

        $('#Y-SummernoteCate').summernote({
            lang: 'ko-KR',
            maxheight: 30,
            disableResizeEditor: true,
        });

    });

    jQuery(document).ready(function () {

        $('#Y-SummernoteTitle').summernote({
            lang: 'ko-KR',
            maxheight: 30,
            disableResizeEditor: true,
            focus: true, //새로고침 될때 여기로 커서 자동으로 잡히게 설정
            placeholder: '제목',

        });

    });
    jQuery(document).ready(function () {

        $('#Y-SummernoteContent').summernote({
            lang: 'ko-KR',              // 언어 변경
            height: 300,                 //  길이
            disableResizeEditor: true,   //  길이 늘리는 아래 바 없애기
            placeholder: '내용',

        });

    });


    jQuery(document).ready(function () {

        $('#C-SummernoteContent').summernote({
            lang: 'ko-KR',              // 언어 변경
            height: 100,                 //  길이
            disableResizeEditor: true,   //  길이 늘리는 아래 바 없애기
            placeholder: '내용',

        });

    });



</script>




</body>
<br><br><br><br><br><br><br><br><br><br>
<!-- <footer>
    <div id="footer">
        <div id="footer-1">
            <img src="/resources/icon/logo2.png" alt="" class="img-responsive">
            <div class="text-container">
                <p><a href="https://github.com/JellyBearss" target="_blank" class="my-link">https://github.com/JellyBearss</a></p>
                <p> Team :  JellyBears</p></div>
                
        </div>
        <div id="footer-2">
            <ul><li><a href="notice.html">공지사항</a></li></ul>
        </div>
        <div id="footer-3">
            <ul>
                <li><a href="guide.html">이용안내</a></li>
                <li><a href="first_support_guide.html">첫 후원 가이드</a></li>
                <li><a href="creator_guide.html">창작자 가이드</a></li>
                <li><a href="copyright_guide.html">저작권 안내</a></li>
            </ul>
        </div>
        <div id="footer-4">
            <ul>
                <li><a href="policy.html">정책</a></li>
                <li><a href="terms_of_service.html">이용약관</a></li>
                <li><a href="privacy_policy.html">개인정보 처리방침</a></li>
                <li><a href="project_criteria.html">프로젝트 심사 기준</a></li>
            </ul>
        </div>
        <div id="footer-5">
            <p>고객지원</p>
            <p>평일 9:00 ~ 17:00 (12:00 ~14:00 제외)</p>
            <a href="contact.html"><button>고객센터에 문의</button></a>
        </div>
        
    </div>
    <div id="notify">
        <p>크라우드 팝핑은 플랫폼 제공자로서 프로젝트의 당사자가 아니며, 
            직접적인 통신판매를 진행하지 않습니다. 프로젝트의 완수 및 선물제공의 책임은 해당 프로젝트의 창작자에게 있으며, 프로젝트와 관련하여 후원자와 발생하는 법적 분쟁에 대한 책임은 해당 창작자가 부담합니다. </p>
    </div>
</footer> -->

</html>