<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jellybears.krowdpoping.funding_process.model.dao.FundingMapper">

    <insert id="saveAddress" parameterType="com.jellybears.krowdpoping.funding_process.model.dto.AddressDTO">
    insert into delivery_address_info (address_title
                                    , recipient_name
                                    , recipient_address
                                    , recipient_phone_number
                                    , delivery_comment
                                    , whether_default_address
                                    )
    values (
            #{ addressTitle }
            , #{ recipientName }
           , #{ mergedAddress }
           , #{ recipientPhoneNumber }
           , #{ deliveryComment }
           , #{ whetherDefaultAddress }
           )
    </insert>
    <resultMap id="addressResultMap" type="com.jellybears.krowdpoping.funding_process.model.dto.AddressDTO">
        <result property="deliveryCode" column="delivery_code"/>
        <result property="user_code" column="user_code"/>
        <result property="addressTitle" column="address_title"/>
        <result property="recipientName" column="recipient_name"/>
        <result property="mergedAddress" column="recipient_address"/>
        <result property="recipientPhoneNumber" column="recipient_phone_number"/>
        <result property="deliveryComment" column="delivery_comment"/>
        <result property="whetherDefaultAddress" column="whether_default_address"/>
    </resultMap>
    <select id="getDefaultAddress" resultMap="addressResultMap">
        SELECT A.delivery_code, A.address_title, A.recipient_name, A.recipient_address, A.recipient_phone_number, A.delivery_comment, A.whether_default_address, B.user_code
        FROM delivery_address_info A
                 INNER JOIN delivery_address B ON A.delivery_code = B.delivery_code
        WHERE B.user_code = #{user_code}
          AND A.whether_default_address = 'Y'
    </select>

    <insert id="savePaymentInfo" parameterType="com.jellybears.krowdpoping.funding_process.model.dto.ProductDTO">
        INSERT INTO payment (user_code, goods_code, pay_approval_code, total_amount, payed_time, delivery_code)
        VALUES (
        #{user_code},
        #{goodsCode},
        #{payApprovalCode, jdbcType=VARCHAR},
        #{totalAmount, jdbcType=INTEGER},
        #{payedTime, jdbcType=TIMESTAMP},
        #{deliveryCode}
        )
    </insert>
</mapper>