<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin_layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="content">
    <!-- start main ================================================================================================ -->
    <main id="main" class="main">
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">공지사항 수정 페이지</h5>
                            <!-- General Form Elements -->
                            <form id="noticeUpdateForm" th:action="@{/admin/noticeModify}" method="post">
                            <input type="hidden" id="noticeCode" name="noticeCode" th:value="${ notice.noticeCode }">
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">공지사항 제목</label>
                                    <div class="col-sm-10">
                                        <td><input type="text" id="title" name="title" class="form-control" th:value="${ notice.title }"></td>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">공지유형</label>
                                    <div class="col-sm-10">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>일반공지</option>
                                            <option value="긴급공지">긴급공지</option>
                                            <option value="이벤트공지">이벤트공지</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">파일 업로드</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="file" id="formFile">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">내용</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" id="content" name="content" class="form-control" th:value="${ notice.content }" th:text="${ notice.content }" style="height: 370px"></textarea>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" style="float: right; margin-left: 8px;">수정하기</button>
                                        <div class="modal fade" id="basicModal" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">공지사항을 수정하시겠습니까?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        주의사항을 확인하세요.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                        <button type="submit" class="btn btn-primary" th:onclick="'location.href=\'/admin/noticeDetail?noticeCode=' + @{${ notice.noticeCode }} + '\''">확인</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End Basic Modal-->
                                        <button type="button" class="btn btn-primary1" th:onclick="'location.href=\'/admin/noticeDetail?noticeCode='+ @{${ notice.noticeCode }} + '\''" style="float: right;">뒤로가기</button>
                                    </div>
                                </div>
                            </form><!-- End General Form Elements -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End main ================================================================================================== -->
</th:block>
</html>