<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin_layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="content">
<!-- ======= main ======= ================================================================================================= -->

<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">문의 목록 페이지</h5>

            <!-- 드롭다운 메뉴와 검색창 -->
            <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <div class="dropdown">
                  <select>
                    <option value="">전체</option>
                    <option value="apple">창작자 문의</option>
                    <option value="banana">후워자 문의</option>
                    <option value="orange">기타 문의</option>
                  </select>
                </div>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </nav>

            <!-- Default Table -->
            <table class="table table-hover" id="listArea">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">문의 유형</th>
                  <th scope="col">제목</th>
                  <th scope="col">문의자 아이디</th>
                  <th scope="col">문의 일자</th>
                  <th scope="col">문의 상태</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="inquiry : ${ inquiryList }">
                  <th th:text="${ inquiry.inquiryCode }"></th>
                  <td th:text="${ inquiry.inquiryType }"></td>
                  <td th:text="${ inquiry.inquiryTitle }"></td>
                  <td th:text="${ inquiry.questioner }"></td> <!-- 유저 아이디로 조인해서 가져와야함...나중에 -->
                  <td th:text="${ inquiry.inquiryDate }"></td>
                  <td th:text="${ inquiry.inquiryStatus }" class="badge bg-warning" style="display: flex; justify-content: center; align-items: center; margin: 6px;"></td>
                </tr>
              </tbody>
            </table>
            <!-- End Default Table Example -->
            <div class="pagination">
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#" class="active">3</a>
              <a href="#">4</a>
              <a href="#">5</a>

              <a href="#">&gt;</a>
              <a href="#">&raquo;</a>
            </div>
            <!-- End 페이징 처리 -->

            <!-- 리스트를 누르면 디테일로 가는 이벤트처리 -->
            <script th:inline="javascript">
              /*<![CDATA[*/
              let message = '[[${message}]]';
              if(message != null && message !== 'null') {
                alert(message);
              }
              /*]]>*/

              /* 게시글 리스트에서 해당 게시글에 마우스를 올릴 떄에 대한 스타일 처리 */
              if (document.querySelectorAll("#listArea td")) {
                const $tds = document.querySelectorAll("#listArea td");
                for (let i = 0; i < $tds.length; i++) {

                  $tds[i].onmouseenter = function() {
                    this.parentNode.style.cursor = "pointer";
                  }

                  $tds[i].onclick = function() {
                    const no = this.parentNode.children[0].innerText;
                    location.href = "/admin/inquiryDetail?inquiryCode=" + no;
                  }
                }
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main ================================================================================================= -->
</th:block>
</html>