<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin_layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="content">
<!-- Start main -->
  <main id="main" class="main">
    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">공지사항 작성 페이지</h5>

          <form>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label" style="text-align: center;">제목</label>
              <div class="col-sm-10">
                <input type="text" class="form-control">
              </div>
            </div>

            <!-- Quill Editor Full -->
            <p>여기에 공지사항을 작성하세요.</p>
            <div class="quill-editor-full">
              <!-- 작성 공간 -->
            </div>
            <br>
            <!-- <a href="dahee_noticeList.html" class="my-button right-align">등록하기</a> -->
            <!-- End Quill Editor Full -->
            <button type="button" class="my-button right-align" data-bs-toggle="modal" data-bs-target="#basicModal">작성하기</button>
            <div class="modal fade" id="basicModal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">공지사항</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    작성하신 공지사항을 올리시겠습니까?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <!-- <button type="button" class="btn btn-primary">확인</button> -->
                    <a href="/admin/noticeList" class="btn btn-primary">확인</a>
                  </div>
                </div>
              </div>
            </div><!-- End Basic Modal-->
          </form>
        </div>
      </div>
    </section>
  </main>
<!-- End main -->
</th:block>
</html>