<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin_layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="content">
<!-- ======= main ======= ================================================================================================= -->
  <main id="main" class="main">
    <div class="pagetitle">
      <section class="section">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
          <ul class="menu">
            <li>
              <a href="#">악세서리</a>
              <!-- <i class="bi bi-plus-circle" style="color: white; float: right;"></i> -->
              <ul class="submenu" style="padding-left: 0rem;">
                <li><a1 class="dropdown-item-text" href="#">submenu02</a1></li>
                <li><a1 class="dropdown-item-text" href="#">submenu01</a1></li>
                <li><a1 class="dropdown-item-text" href="#">submenu03</a1></li>
                <li><a1 class="dropdown-item-text" href="#">submenu04</a1></li>
                <li><a1 class="dropdown-item-text" href="#">submenu05</a1></li>
              </ul>
            </li>
            <li>
              <a href="#">디지털 악세서리</a>
              <ul class="submenu" style="padding-left: 0rem;">
                <li><a1 href="#">submenu02</a1></li>
                <li><a1 href="#">submenu01</a1></li>
                <li><a1 href="#">submenu03</a1></li>
                <li><a1 href="#">submenu04</a1></li>
                <li><a1 href="#">submenu05</a1></li>
              </ul>
            </li>
            <li>
              <a href="#">인형</a>
              <ul class="submenu" style="padding-left: 0rem;">
                <li><a1 href="#">submenu02</a1></li>
                <li><a1 href="#">submenu01</a1></li>
                <li><a1 href="#">submenu03</a1></li>
                <li><a1 href="#">submenu04</a1></li>
                <li><a1 href="#">submenu05</a1></li>
              </ul>
            </li>
            <li>
              <a href="#">문구</a>
              <ul class="submenu" style="padding-left: 0rem;">
                <li><a1 href="#">submenu02</a1></li>
                <li><a1 href="#">submenu01</a1></li>
                <li><a1 href="#">submenu03</a1></li>
                <li><a1 href="#">submenu04</a1></li>
                <li><a1 href="#">submenu05</a1></li>
              </ul>
            </li>
            <li>
              <a href="#">잡화</a>
              <ul class="submenu" style="padding-left: 0rem;">
                <li><a1 href="#">submenu02</a1></li>
                <li><a1 href="#">submenu01</a1></li>
                <li><a1 href="#">submenu03</a1></li>
                <li><a1 href="#">submenu04</a1></li>
                <li><a1 href="#">submenu05</a1></li>
              </ul>
            </li>
            <li>
              <a href="#">의류</a>
              <ul class="submenu" style="padding-left: 0rem;">
                <li><a1 href="#">submenu02</a1></li>
                <li><a1 href="#">submenu01</a1></li>
                <li><a1 href="#">submenu03</a1></li>
                <li><a1 href="#">submenu04</a1></li>
                <li><a1 href="#">submenu05</a1></li>
              </ul>
            </li>
            <li>
              <a href="#">기타</a>
              <ul class="submenu" style="padding-left: 0rem;">
                <li><a1 href="#">submenu02</a1></li>
                <li><a1 href="#">submenu01</a1></li>
                <li><a1 href="#">submenu03</a1></li>
                <li><a1 href="#">submenu04</a1></li>
                <li><a1 href="#">submenu05</a1></li>
              </ul>
            </li>

<!-- ---------------------------------------------------------------------------------------------------------- -->

<!--            <div class="list-group">-->
<!--              <button type="button" class="list-group-item list-group-item-action active" aria-current="true">-->
<!--                The current button-->
<!--              </button>-->
<!--              <button type="button" class="list-group-item list-group-item-action">A second item</button>-->

<!--              -->
<!--              <button type="button" class="list-group-item list-group-item-action">A third button item</button>-->
<!--              <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>-->
<!--              <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>-->
<!--            </div>-->
            <!-- End List group with Links and buttons -->

            <!-- ---------------------------------------------------------------------------------------------------------- -->
          </ul>
          </div>
          </div>
        </div>
      </section>
    </div>
  </main>

<!-- End #main ================================================================================================= -->
</th:block>
</html>