<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin_layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="content">
    <!-- start main ================================================================================================ -->
    <main id="main" class="main">
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">공지사항 상세 페이지</h5>
                            <!-- General Form Elements -->
                            <form id="contentList">

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">공지사항 제목</label>
                                    <div class="col-sm-10">
                                        <p type="text" class="form-control" id="title" th:text="${ notice.title }"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">작성일</label>
                                    <div class="col-sm-10">
                                        <p type="text" class="form-control" id="updateDate" th:text="${ notice.updateDate }"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">공지유형</label>
                                    <div class="col-sm-10">
                                        <p type="text" class="form-control" id="type" th:text="${ notice.type }"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">내용</label>
                                    <div class="col-sm-10">
                                        <p type="text" class="form-control" id="content" th:value="${ notice.content }" th:text="${ notice.content }" style="height: 370px"></p> <!--textarea-->
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" style="float: right; margin-left: 8px;">수정하기</button>
                                        <div class="modal fade" id="basicModal" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">수정 페이지로 이동하시겠습니까?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body"> 주의사항을 확인해주세요.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                        <button type="button" th:onclick="'location.href=\'/admin/noticeModify?noticeCode=' + @{${ notice.noticeCode }} + '\''" class="btn btn-primary">확인</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End Basic Modal-->
                                        <button type="button" class="btn btn-primary1" data-bs-toggle="modal" data-bs-target="#basicModal2" style="float: right;">삭제하기</button>
                                        <div class="modal fade" id="basicModal2" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">프로젝트를 삭제하시겠습니까?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        주의사항을 확인해주세요.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                        <a type="button" class="btn btn-primary" th:onclick="'location.href=\'/admin/noticeRemove?noticeCode='+ @{${ notice.noticeCode }} + '\''">확인</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End Basic Modal-->
                                    </div>
                                </div>
                            </form><!-- End General Form Elements -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End main ================================================================================================== -->
</th:block>
</html>