<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin_layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="content">
    <!-- start main ================================================================================================ -->
    <main id="main" class="main">
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">공지사항 상세 페이지</h5>
                            <!-- General Form Elements -->
                            <form>

                                <div class="row mb-3">
                                    <label for="inputTitle" class="col-sm-2 col-form-label">공지사항 제목</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="첫번째 공지사항" disabled>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="inputTitle" class="col-sm-2 col-form-label">작성일</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="2023/12/01" disabled>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="inputTitle" class="col-sm-2 col-form-label">공지유형</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" value="일반공지" disabled>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="inputIntroduction" class="col-sm-2 col-form-label">내용</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" style="height: 500px" disabled>첫번째 공지사항입니다.</textarea>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" style="float: right; margin-left: 8px;">수정하기</button>
                                        <div class="modal fade" id="basicModal" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">수정 페이지로 이동하시겠습니까?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in facere consequatur sit dolor ipsum. Consequatur nemo amet incidunt est facilis. Dolorem neque recusandae quo sit molestias sint dignissimos.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                        <a type="button" class="btn btn-primary" href="/admin/noticeModify">확인</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End Basic Modal-->

                                        <a type="submit" class="btn btn-primary1" href="/admin/noticeList" style="float: right;">뒤로가기</a>
                                    </div>
                                </div>

                            </form><!-- End General Form Elements -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End main ================================================================================================== -->
</th:block>
</html>