<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin_layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="content">
<!-- ======= main ======= ================================================================================================= -->
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">회원 상세 페이지</h5>

            <!-- General Form Elements -->
            <form>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">회원코드</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="user_code" th:text="${ user.user_code }"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">아이디</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="userId" th:text="${ user.userId }"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">이름</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="name" th:text="${ user.name }"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">닉네임</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="nickname" th:text="${ user.nickname }"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">생년월일</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="birthday" th:text="${ user.birthday }"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">이메일</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="email" th:text="${ user.email}"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">전화번호</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="phone_number" th:text="${ user.phone_number}"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">회원 상태</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="user_status" th:text="${ user.user_status }"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">가입일</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="join_date" th:text="${ user.join_date }"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">탈퇴여부</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="exit_status" th:text="${ user.exit_status }"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">탈퇴일</label>
                <div class="col-sm-10">
                  <p type="text" class="form-control" id="exit_date" th:text="${ user.exit_date }"></p>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <a type="submit" class="btn btn-primary" href="/admin/userList" style="float: right; margin-left: 8px;">확인</a>
                </div>
              </div>
            </form><!-- End General Form Elements -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main ================================================================================================= -->
</th:block>
</html>