<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin_layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="content">
    <!-- start main ================================================================================================ -->

    <!-- End main ================================================================================================== -->
</th:block>
</html>