<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin_layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="content">
    <!-- start main ================================================================================================ -->


    <main id="main" class="main">
        <section class="section">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">펀딩 수정 페이지</h5>

                            <!-- General Form Elements -->
                            <form id="fundingUpdateForm" th:action="@{/admin/fundingModify}" method="post">
                                <input type="hidden" id="projectCode" name="projectCode" th:value="${ funding.projectCode }">
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">프로젝트제목</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="title" th:value="${ funding.title }">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">카테고리</label>
                                    <div class="col-sm-10">
                                        <p type="text" class="form-control" id="categoryTitle" th:text="${ funding.categoryDTO.categoryTitle }"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">프로젝트소개</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" style="height: 100px" id="content" th:value="${ funding.content }" th:text="${ funding.content }"></textarea>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">펀딩시작일</label>
                                    <div class="col-sm-10">
                                        <p type="date" class="form-control; form-control" id="startDate" th:text="${ funding.startDate }"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">펀딩종료일</label>
                                    <div class="col-sm-10">
                                        <p type="date" class="form-control; form-control" id="endDate" th:text="${ funding.endDate }"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">목표금액</label>
                                    <div class="col-sm-10">
                                        <p type="password" class="form-control" id="targetAmount" th:text="${ funding.targetAmount }"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">신청자ID</label>
                                    <div class="col-sm-10">
                                        <p type="number" class="form-control" id="userId" th:text="${ funding.userDTO.userId }"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">상호명</label>
                                    <div class="col-sm-10">
                                        <p type="text" class="form-control" id="accUserNm" th:text="${ funding.creatorDTO.accUserNm }"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">선물</label>
                                    <div class="col-sm-10">
                                        <select class="form-select" multiple aria-label="multiple select example" disabled>
                                            <option id="goodsName" th:text="${ funding.goodsDTO.goodsName }" selected></option>

                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">사업자번호</label>
                                    <div class="col-sm-10">
                                        <p type="text" class="form-control" id="businessNum" th:text="${ funding.creatorDTO.businessNum }"></p>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">사업자등록증</label>
                                    <div class="col-sm-10">
                                        <!-- Slides with indicators -->
                                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            </div>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="/assets/img/slides-1.jpg" class="d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/img/slides-2.jpg" class="d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/img/slides-3.jpg" class="d-block w-100" alt="...">
                                                </div>
                                            </div>

                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div><!-- End Slides with indicators -->

                                    </div>
                                </div>
                            </form><!-- End General Form Elements -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <!-- Advanced Form Elements -->
                            <form>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">대표 사진</label>
                                    <div class="col-sm-10">
                                        <!-- Slides with indicators -->
                                        <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            </div>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="/assets/img/slides-1.jpg" class="d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/img/slides-2.jpg" class="d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/img/slides-3.jpg" class="d-block w-100" alt="...">
                                                </div>
                                            </div>

                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div><!-- End Slides with indicators -->


                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">소개</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" style="height: 200px" id="planContent" th:value="${ funding.planContent }" th:text="${ funding.planContent }"></textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">예산</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" style="height: 200px" id="budgetContent" th:value="${ funding.budgetContent }" th:text="${ funding.budgetContent }"></textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">일정</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" style="height: 200px" id="infoContent" th:value="${ funding.infoContent }" th:text="${ funding.infoContent }"></textarea>
                                    </div>
                                </div>


                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal" style="float: right; margin-left: 8px;">수정하기</button>
                                        <div class="modal fade" id="basicModal" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">수정 사항을 등록하시겠습니까?</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in facere consequatur sit dolor ipsum. Consequatur nemo amet incidunt est facilis. Dolorem neque recusandae quo sit molestias sint dignissimos.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                        <button type="submit" class="btn btn-primary" th:onclick="'location.href=\'/admin/fundingDetail?projectCode=' + @{${ funding.projectCode }} + '\''">확인</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End Basic Modal-->
                                        <a href="/admin/fundingDetail" type="submit" class="btn btn-primary1" style="float: right;">뒤로가기</a>
                                    </div>
                                </div>
                            </form><!-- End General Form Elements -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->


    <!-- End main ================================================================================================== -->
</th:block>
</html>