<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{/layouts/admin_layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block layout:fragment="content">
<!-- ======= main ======= ================================================================================================= -->
  <main id="main" class="main">
    <div class="pagetitle">
      <section class="section">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">카테고리 관리 페이지</h5>
          <ul class="menu">

            <div class="list-group">
              <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                전체
              </button>
              <button type="button" class="list-group-item list-group-item-action">악세서리<i class="bi bi-plus-circle" style="float: right;"></i></button>
              <button type="button" class="list-group-item list-group-item-action">디지털 악세서리<i class="bi bi-plus-circle" style="float: right;"></i></button>
              <button type="button" class="list-group-item list-group-item-action">인형<i class="bi bi-plus-circle" style="float: right;"></i></button>
              <button type="button" class="list-group-item list-group-item-action">문구<i class="bi bi-plus-circle" style="float: right;"></i></button>
              <button type="button" class="list-group-item list-group-item-action">잡화<i class="bi bi-plus-circle" style="float: right;"></i></button>
              <button type="button" class="list-group-item list-group-item-action">의류<i class="bi bi-plus-circle" style="float: right;"></i></button>
              <button type="button" class="list-group-item list-group-item-action">기타<i class="bi bi-plus-circle" style="float: right;"></i></button>
            </div>
            <!-- End List group with Links and buttons -->

            <!-- ---------------------------------------------------------------------------------------------------------- -->
          </ul>

                <div class="col-lg-12">
                <div class="card" style="box-shadow: none">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p>추가할 <strong>소분류</strong> 카테고리를 작성해주세요.</p>
                        <!-- Table with hoverable rows -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">대분류</th>
                                <th scope="col">소분류</th>
                                <th scope="col">수정사항</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>악세서리</td>
                                <td>악세서리(1)</td>
                                <td class="badge bg-dark" style="display: flex; justify-content: center; align-items: center; margin: 6px; color: white;">정보수정</td>

                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->


          </div>
          </div>
        </div>
      </section>
    </div>
  </main>

<!-- End #main ================================================================================================= -->
</th:block>
</html>