<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginandsignup/LoginnSignup.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>로그인</title>
    
</head>
<body>
    <img src="/icon/kpop_login_logo.png" alt="" class="login_logo">
    <div id="login_container">
        <div class="login_title">로그인</div>
        <form id="loginForm" th:action="@{/loginandsignup/login}" method="post">
            <div id="id-area">
                <div id="id-text-area">
                    <input type="text" id="id-input" name="userId" placeholder="아이디"
                           onfocus="this.placeholder=''" onblur="this.placeholder='아이디'" >
                </div>
            </div>
            <div id="password-area">
                <div id="password-text-area">
                    <input type="password" id="password-input" name="userPwd" placeholder="비밀번호" onfocus="this.placeholder=''" onblur="this.placeholder='비밀번호'" >
                </div>
            </div>
                <button type="submit" > 로그인</button>
        </form>
        
    </div>
    <div id="bottomtext_1">
        <div>아직 크라우드 팝핑 계정이 없으신가요?&nbsp&nbsp</div>
        <div><a href="/loginandsignup/termofservice"> 회원가입 하러가기</a></div>
    </div>
    <div id="bottomtext_2">
        <div>혹시 아이디 / 비밀먼호를 잊으셨나요?&nbsp&nbsp</div>
        <div><a href="gotofind">아이디 / 비밀번호 찾기</a></div>
    </div>


    
    
</body>
</html>