<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/layouts/user_layout}">
<head>
    <link rel="stylesheet" href="/css/funding_management/funding_management.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Funding management</title>
</head>
<th:block layout:fragment="content">
<div id="wrapper">
    <div id="content">
        <div class="title_section">
            <div class="notice_title">후원한 프로젝트</div>
        </div>

        <div class="product">
            <div class="product_image"></div>
            <div class="title"><b>
                <span class="product_title" th:text="${detail.title}"></span>
            </b>
            </div>
            <div class="default_address_icon">
                <span class="default_address_icon_box" id="statusBox"></span>
                <span class="default_address_icon_text" id="statusText">후원 완료</span>
            </div>
            <div class="amounts">
                <span class="amount_title">창작자 : </span>
                <span class="amount">워뇨뇽</span>
            </div>
            <div class="packages">
                <span class="package_title">구성 : </span>
                <span class="package" th:text="${goods.goodsName}"></span>
            </div>
            <div class="achievements">
                <span class="achievement_title">달성률 : </span>
                <span class="achievement">98%</span>
            </div>
            <div class="achieved_fundings">
                <span class="achieved_funding_title">모인 금액 : </span>
                <span class="achieved_funding">1,831,000원</span>
            </div>
            <div class="funding_periods">
                <span class="funding_period_title">후원 기간 : </span>
                <span class="funding_period" th:text="${detail.startDate} + ' - ' + ${detail.endDate}"></span>
            </div>

            <div class="buttons">
                <span class="change_address" id="changeAddressBtn">배송지 변경</span>
                <input type="checkbox" id="layer_popup">
                <label for="layer_popup"></label>
                <div id="layer_bg">
                    <div id="popup">
                        <label class="popup-close" for="layer_popup">닫기</label>
                        <h2>배송지 변경</h2>
                        <div class="default_name_info">
                            <form action="#" method="get">
                                <span class="d_i_name">받는 사람</span>
                                <div class="input_d_i_name_section">
                                    <input type="text" name ="input_d_i_name">
                                </div>
                            </form>
                        </div>

                        <div class="default_postcode_info">
                            <form action="#" method="get">
                                <span class="d_i_postcode">우편번호</span>
                                <div class="input_d_i_postcode_section">
                                    <input type="text" name="zipCode" id="zipCode" readonly>
                                    <input type="button" value="검색" class="btn btn-yg" id="searchZipCode">
                                </div>
                            </form>
                        </div>

                        <div class="default_address_info">
                            <form action="#" method="get">
                                <span class="d_i_address">주소</span>
                                <div class="input_d_i_address_section">
                                    <input type="text" name ="input_d_i_address" id="input_d_i_address">
                                </div>
                            </form>
                        </div>

                        <div class="default_detailed_address_info">
                            <form action="#" method="get">
                                <span class="d_i_d_address">상세 주소</span>
                                <div class="input_d_i_d_address_section">
                                    <input type="text" name ="input_d_i_d_address" id="input_d_i_d_address">
                                </div>
                            </form>
                        </div>
                        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                        <script th:inline="javascript">

                            const $searchZipCode = document.getElementById("searchZipCode");
                            const $goMain = document.getElementById("goMain");

                            $searchZipCode.onclick = function() {

                                /* 다음 우편번호 검색 창을 오픈하면서 동작할 콜백 메소드를 포함한 객체를 매개변수로 전달한다. */
                                new daum.Postcode({
                                    oncomplete: function(data){
                                        /* 팝업에서 검색결과 항목을 클릭했을 시 실행할 코드를 작성하는 부분 */
                                        document.getElementById("zipCode").value = data.zonecode;
                                        document.getElementById("input_d_i_address").value = data.address;
                                        document.getElementById("input_d_i_d_address").focus();
                                    }
                                }).open();
                            }

                            $goMain.onclick = function() {
                                location.href = "/";
                            }

                        </script>
                        <div class="default_phone_info">
                            <form action="#" method="get">
                                <span class="d_i_phone">연락처</span>
                                <div class="input_d_i_phone_section">
                                    <input type="text" name ="input_d_i_phone">
                                </div>
                            </form>
                        </div>

                        <div class="d_i_delivery_comment">
                            <div class="d_i_delivery_comment_section">배송 요청 사항(선택)</div>
                            <select>
                                <option value="default" disabled selected>배송 시 요청사항을 선택해주세요.</option>
                                <option value="1">문 앞에 놓아주세요.</option>
                                <option value="2">경비(관리)실에 맡겨주세요.</option>
                                <option value="3">택배함에 넣어주세요.</option>
                                <option value="4">직접 받겠습니다.</option>
                                <option value="type">직접 입력</option>
                            </select>
                        </div>
                        <div>
                            <a onclick="window.location.reload()" style="cursor:pointer;" class="next_step">
                                <div class="next_step_box"></div>
                                <span class="next_step_text">변경 완료</span>
                            </a>
                        </div>
                    </div>
                    <script>
                        document.getElementById("changeAddressBtn").addEventListener("click", function () {
                            document.getElementById("layer_popup").checked = true;
                            document.body.classList.add("popup-open");
                        });

                        // 팝업이 열릴 때 body에 클래스 추가
                        document.getElementById("layer_popup").addEventListener("change", function () {
                            document.body.classList.toggle("popup-open", this.checked);
                        });

                        // 팝업 외부 클릭 시 팝업 닫기
                        document.getElementById("layer_bg").addEventListener("click", function (e) {
                            if (e.target === this) {
                                document.getElementById("layer_popup").checked = false;
                                document.body.classList.remove("popup-open");
                            }
                        });
                    </script>
                </div>
                <span class="ask_creator">창작자에게 문의하기</span>
                <span class="cancel_funding" style="cursor:pointer;" onclick="cancelFunding()">후원 취소하기</span>

                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

                <script>
                    function cancelFunding() {
                        // 후원 취소 여부를 확인하는 알림 창을 띄웁니다
                        var confirmed = window.confirm('후원을 취소하시겠습니까?');

                        // 확인이 선택된 경우에만 후원 취소 요청을 보냅니다
                        if (confirmed) {
                            $.ajax({
                                type: 'POST',
                                url: '/funding_management/refund',
                                success: function(response) {
                                    $('#statusText').text('후원 취소');
                                    $('#statusText').css('color', '#0D0D0D');
                                    $('#statusBox').css('background-color', '#D9D9D9');
                                    console.log('후원이 성공적으로 취소되었습니다');

                                },
                                error: function(error) {
                                    // 에러 시 처리, 에러 메시지를 표시하거나 추가 동작을 수행할 수 있습니다
                                    console.error('후원 취소 중 오류 발생', error);
                                }
                            });
                        }
                    }
                </script>
            </div>
        </div>

        <div class="delivery_info">
            <div class="info_title"><b>배송지 정보</b></div>
            <div class="recipient">
                <span class="recipient_title">받는 사람 : </span>
                <span class="rec_name" th:text="${addressDTO.getRecipientName()}"></span>
            </div>
            <div class="address">
                <span class="address_title">주소 : </span>
                <span class="address_info" th:text="${'[' + addressDTO.getZipCode() + ']' + addressDTO.getRecipientAddress() + ' ' + addressDTO.getDetailedAddress()}"></span>
            </div>
            <div class="phone">
                <span class="phone_title">연락처 : </span>
                <span class="phone_num" th:text="${addressDTO.getRecipientPhoneNumber()}"></span>
            </div>
            <div class="delivery_request">
                <span class="request_title">배송 요청 사항 : </span>
                <span class="request" th:text="${addressDTO.getDeliveryComment()}"></span>
            </div>
        </div>
        <div class="payed_info">
            <div class="pay_info_title"><b>결제 정보</b></div>
            <div class="product_price">
                <span class="price_title">상품 금액 : </span>
                <span class="price" th:text="${goods.amount}"></span>
                <span class="price_unit">원</span>
            </div>
            <div class="additional_pay">
                <span class="additional_title">배송비 : </span>
                <span class="additional" th:text="${goods.amount >= 30000 ? '0' : '4,000'}"></span>
                <span class="additional_unit">원</span>
            </div>
            <div class="delivery_fee">
                <span class="fee_title">최종 후원 금액 : </span>
                <span class="fee" th:text="${goods.amount + (goods.amount >= 30000 ? 0 : 4000)}"></span>
                <span class="fee_unit">원</span>
            </div>
            <div class="total_pay">
                <span class="total_title">결제 완료일 : </span>
                <span class="total" th:utext="${#dates.format(savedProductDTO.payedTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
            </div>
        </div>
    </div>
</div>
</th:block>
</html>