a {
    color: inherit; /* 링크 색상을 부모 요소의 색상으로 상속받습니다. */
    text-decoration: none; /* 밑줄 제거 */
}
#header{
    min-height:120px;
    /* background-color: rgb(201, 233, 233); */
    margin:auto;
    width: 1170px;
    position: relative;
}
.cartbar {
    position: absolute;
    top: 50%;
    margin-left: 15px;
    width: 30px;
    height: 25px;
}

.bar1,.bar2,.bar3 {
    background-color:rgb(109,109,109);
    width:22px;
    height:2.9px;
    border-radius:2px;
    position:absolute;
    left:4.5px;
    top:5.5px;
    margin-bottom: 6px;}


.bar1 {top: 2px;}
.bar2 {top: 8px;}
.bar3 {top: 14px;}

.cartbar:hover .bar1,.cartbar:hover .bar2,.cartbar:hover .bar3 { background-color: rgb(125,28,216); }

.category-box {
    position: absolute;
    top: 18px;
    width: 200px;
    left: 3px;
    background-color: #fff;
    /* padding: 10px; */
    /* display: none; */
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;


}

.cartbar:hover .category-box,
.cartbar:hover .category-box:hover {
    max-height: 300px;
}

.category {
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 3px; */
    cursor: pointer;
    padding-top: 10px; /* 높이를 조절하는 부분 */
    padding-bottom: 10px;
    padding-left:30px;
    font-family: 'Noto Sans KR', sans-serif;
}
.category:hover {
    background-color: #EDE9FE; /* 선택된 카테고리에 배경색 추가 */
}


.logo{
    float: left;
    margin-top:20px;
    margin-left: 60px;
}

.logo img{
    max-width: 40%;
    /* height: auto ; */
}

.menu{float: right;
}

.menu-item1 img,.menu-item2 img,.menu-item3 img,.menu-item5 img,.menu-item4 img {
    float: left;
    margin: 20px 13px 10px 5px; }

.menu-item1 img {width: 30px;}
.menu-item2 img {width: 32px;}
.menu-item3 img {width: 130px;}
.menu-item4 img {width: 48px; margin-top: 11px;}
.menu-item4 span{

    font-size: 16px;
    /* background-color: #b66a6a; */
    display: inline-block;
    margin-top: 25px;
}
.login_nickname{
    text-decoration: underline rgb(125,28,216) 1px;
    text-underline-offset: 4px;

}




#search-area{
    top: 75px;
    right: -6px;
    width: 350px;
    height: 35px;
    position: absolute;
    /* background-color: #767676; */
}

#search-input:focus {
    outline: none; /* 포커스 시 기본 테두리 없애기 */
    border: none /* 포커스 시 테두리 색상 설정 */}

#search-form{
    /* width:80%; */
    /* height:20%; */
    margin:auto;
    position:absolute;
    bottom: 0;
    top: 0;
    left:0;
    right:0;}

#search-text-area{
    height:100%;
    width:80%;
    float:left;}

#search-btn-area{
    height:100%;
    width:20%;
    float:left;}

#search-input, #search-btn{
    width: 100%;
    height:100%;
    background-color: rgba(243, 243, 243, 1);
    border: none;
    box-sizing: border-box;}

#search-input { border-radius: 4px 0 0 4px; /* 왼쪽만 둥글게 */
    padding-left: 10px;}
#search-btn { border-radius: 0 4px 4px 0;
    /* 오른쪽만 둥글게 */}
#search-btn img{
    float:right;
    margin-right: 10px;
}
.section{
    background-color: #EDE9FE;
    box-sizing:border-box;
    width: 1170px;
    height: 83px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.funding_title{
    color: #0D0D0D;
    width:100px;
    height:26px;
    position:absolute;
    top: 25px;
    left: 50px;
    font-family:Noto Sans KR;
    text-align:left;
    font-size:23px;
    font-weight: bold;
}

.funding_process{
    border: 2px solid rgba(104, 104, 104, 0.08);
    box-sizing:border-box;
    width: 1170px;
    height: 196px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product_description{
    width:110px;
    height:110px;
    position: relative;
}
.delivery_address{
    width:110px;
    height:110px;
    position: relative;
    z-index: 1;
}
.payment_reservation{
    width:110px;
    height:110px;
    position: relative;
}
.product_description,
.payment_reservation {
    margin: 0 100px;
    z-index: 1;
}
.purple_des{
    border-radius:500px;
    background-color: #D9D9D9;
    width:110px;
    height:110px;
}

.description{
    color:#0D0D0D;
    width:85px;
    height:41px;
    font-family:Noto Sans KR;
    text-align:center;
    font-size:18px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grey_add{
    border-radius:500px;
    background-color: #7D1CD8;
    width:110px;
    height:110px;
}

.address{
    color:rgba(255, 255, 255, 1);
    width:85px;
    height:41px;
    font-family:Noto Sans KR;
    text-align:center;
    font-size:18px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grey_res{
    border-radius:500px;
    background-color: #D9D9D9;
    width:110px;
    height:110px;
}
.reservation{
    color:#0D0D0D;
    width:85px;
    height:41px;
    font-family:Noto Sans KR;
    text-align:center;
    font-size:18px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.process_line{
    border-bottom: 2px dotted #6D6D6D;
    position: absolute;
    width: calc(100% - 750px);
    top: 50%;
    transform: translateY(-50%);
    left: 35%;
    transform-origin: left;
    z-index: -1;
}
.supporter_info{
    border: 2px solid rgba(104, 104, 104, 0.08);
    box-sizing:border-box;
    width: 1170px;
    height: 350px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.supporter_info_title{
    color:#0D0D0D;
    top: 30px;
    left: 50px;
    font-family:Noto Sans KR;
    position: absolute;
    text-align:left;
    font-size:20px;
    font-weight: bold;
}
.supporter_nickname, .name, .phone_number, .email{
    color: #767676;
    font-family:Noto Sans KR;
    position: absolute;
    text-align:left;
    font-size:15px;
    top: 50px;
}
.nickname_section{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 70px;
    display: flex;
    align-items: center;
}
.input_nickname_section{
    position: absolute;
    left: 80px;
    top: 51px;
}
.input_nickname_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.name_section{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 80px;
    left: 70px;
    display: flex;
    align-items: center;
}
.input_name_section{
    position: absolute;
    left: 80px;
    top: 51px;
}
.input_name_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.phone_number_section{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 70px;
    display: flex;
    align-items: center;
}
.input_phone_number_section{
    position: absolute;
    left: 80px;
    top: 52px;
}
.input_phone_number_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.email_section{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 160px;
    left: 70px;
    display: flex;
    align-items: center;
}
.input_email_section{
    position: absolute;
    left: 80px;
    top: 52px;
}
.input_email_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.same_as_profile{
    color: #767676;
    font-family:Noto Sans KR;
    position: relative;
    text-align:left;
    font-size:15px;
    position: absolute;
    left: 65px;
    top: 280px;
}
.same_as_profile label{
    position: relative;
    top: -1px;
    left: 5px;
}
.default_address {
    border: 2px solid rgba(104, 104, 104, 0.08);
    box-sizing: border-box;
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#subpage1 {
    height: 530px;
}
#subpage2 {
    height: 590px;
}
.address_title {
    color: #0D0D0D;
    top: 30px;
    left: 50px;
    font-family: Noto Sans KR;
    position: absolute;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.list_text, .input_text {
    color: #767676;
    font-family: Noto Sans KR;
    font-size: 16px;
}
.address_navigator {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
}
.address_list,
.input_address {
    cursor: pointer;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #7D1CD8;
    visibility: hidden;
}
.active {
    visibility: visible;
}
.subpage {
    display: none;
}
.address_list span,
.input_address span {
    margin-bottom: 10px;
}
.address_list.active .underline,
.input_address.active .underline {
    visibility: visible;
}
.subpage.active {
    display: block;
}
.default_address_section{
    position: absolute;
    left: 50px;
    top: 130px;
    display: flex;
    align-items: center;
}
.default_address_name{
    color: #0D0D0D;
    font-family:Noto Sans KR;
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
}
.default_address_icon{
    width:110px;
    height:110px;
    position: relative;
    top:1px;
}
.default_address_icon_box{
    background-color: #D9D9D9;
    width: 90px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}
.default_address_icon_text{
    color: #0D0D0D;
    font-family:Noto Sans KR;
    font-size: 15px;
    width: 100px;
    position: absolute;
    top: 49%;
    left: 63%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: bold;
}
.default_name_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 180px;
    left: 70px;
    display: flex;
    align-items: center;
}
.default_postcode_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 220px;
    left: 70px;
    display: flex;
    align-items: center;
}
.default_address_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 260px;
    left: 70px;
    display: flex;
    align-items: center;
}
.default_detailed_address_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 70px;
    display: flex;
    align-items: center;
}
.default_phone_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 340px;
    left: 70px;
    display: flex;
    align-items: center;
}
.d_i_name, .d_i_postcode, .d_i_address, .d_i_d_address, .d_i_phone{
    color: #767676;
    font-family:Noto Sans KR;
    position: absolute;
    text-align:left;
    font-size:15px;
}
.input_d_i_name_section{
    position: absolute;
    left: 80px;
    top: 50px;
}
.input_d_i_name_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.input_d_i_postcode_section{
    position: absolute;
    left: 80px;
    top: 50px;
}
.input_d_i_postcode_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.input_d_i_address_section{
    position: absolute;
    left: 80px;
    top: 50px;
}
.input_d_i_address_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.input_d_i_d_address_section{
    position: absolute;
    left: 80px;
    top: 50px;
}
.input_d_i_d_address_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.input_d_i_phone_section{
    position: absolute;
    left: 80px;
    top: 50px;
}
.input_d_i_phone_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
#directInput {
    display: none;
    width: 350px;
}
#charCount{
    font-size: 12px;
    color: #767676;
    font-family:Noto Sans KR;
    text-align: right;
}
#directInputField {
    width: 350px;
    height: 72px;
    box-sizing: border-box;
    font-size: 15px;
    color: #767676;
    font-family:Noto Sans KR;
    margin-top: 8px;
}
#directInput2 {
    display: none;
    width: 350px;
}
#charCount2{
    font-size: 12px;
    color: #767676;
    font-family:Noto Sans KR;
    text-align: right;
}
#directInputField2 {
    width: 350px;
    height: 72px;
    box-sizing: border-box;
    font-size: 15px;
    color: #767676;
    font-family:Noto Sans KR;
    margin-top: 8px;
}
.d_i_delivery_comment{
    width: 500px;
    height: 100px;
    position: absolute;
    top: 460px;
    left: 70px;
    display: flex;
    flex-direction: column;
}
.d_i_delivery_comment_section{
    color: #767676;
    font-family:Noto Sans KR;
    position: absolute;
    text-align:left;
    font-size:15px;
    margin-bottom: 10px;
}
.d_i_delivery_comment select {
    margin-top: 30px;
    width: 350px;
    height: 20px;
    font-size: 15px;
}
.next_step1{
    width: 260px;
    height: 83px;
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #6D6D6D; */
    padding: 50px;
}
.next_step2{
    width: 260px;
    height: 83px;
    position: absolute;
    top: 760px;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
}
.next_step_box1, .next_step_box2{
    background-color: #7D1CD8;
    width: 200px;
    height: 65px;
    border-radius: 10px;
    position: absolute;;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.next_step_text1, .next_step_text2{
    color:rgba(255, 255, 255, 1);
    width: 200px;
    font-family:Noto Sans KR;
    text-align:center;
    font-size:23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    margin-bottom: 250px;
}
.add_address_section{
    position: absolute;
    left: 50px;
    top: 130px;
    display: flex;
    align-items: center;
}
.add_address_name{
    color: #0D0D0D;
    font-family:Noto Sans KR;
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
}
.add_address_icon{
    width:110px;
    height:110px;
    position: relative;
    top:1px;
}
.add_address_icon_box{
    background-color: #D9D9D9;
    width: 90px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}
.add_address_icon_text{
    color: #0D0D0D;
    font-family:Noto Sans KR;
    font-size: 15px;
    width: 100px;
    position: absolute;
    top: 49%;
    left: 63%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: bold;
}
.add_name_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 170px;
    left: 70px;
    display: flex;
    align-items: center;
}
.add_postcode_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 210px;
    left: 70px;
    display: flex;
    align-items: center;
}
.add_address_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 70px;
    display: flex;
    align-items: center;
}
.add_defailed_address_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 290px;
    left: 70px;
    display: flex;
    align-items: center;
}
.add_phone_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 330px;
    left: 70px;
    display: flex;
    align-items: center;
}
.a_i_name, .a_i_postcode, .a_i_address, .a_i_d_address, .a_i_phone, .a_i_address_name{
    color: #767676;
    font-family:Noto Sans KR;
    position: absolute;
    text-align:left;
    top:50px;
    font-size:15px;
}
.input_a_i_name_section{
    position: absolute;
    left: 80px;
    top: 50px;
}
.input_a_i_name_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.input_a_i_postcode_section{
    position: absolute;
    left: 80px;
    top: 50px;
    display: flex;
}
.input_a_i_postcode_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
#searchZipCode {
    margin-left: 10px;
    width: 44px;
    height: 23px;
    font-family: Noto Sans KR;
    font-size: 12px;
    text-align: center;
    margin-top: -1px;
}
.input_a_i_address_section{
    position: absolute;
    left: 80px;
    top: 50px;
}
.input_a_i_address_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.input_a_i_d_address_section{
    position: absolute;
    left: 80px;
    top: 50px;
}
.input_a_i_d_address_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.input_a_i_phone_section{
    position: absolute;
    left: 80px;
    top: 50px;
}
.input_a_i_phone_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.a_i_delivery_comment{
    width: 500px;
    height: 100px;
    position: absolute;
    top: 450px;
    left: 70px;
    display: flex;
    flex-direction: column;
}
.a_i_delivery_comment_section{
    color: #767676;
    font-family:Noto Sans KR;
    position: absolute;
    text-align:left;
    font-size:15px;
    margin-bottom: 10px;
}
.a_i_delivery_comment select {
    margin-top: 35px;
    width: 350px;
    height: 20px;
    font-size: 15px;
}
.add_address_name_info{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 130px;
    left: 70px;
    display: flex;
    align-items: center;
}
.input_a_i_address_name_section{
    position: absolute;
    left: 80px;
    top: 50px;
}
.input_a_i_address_name_section input {
    width: 350px;
    height: 15px;
    font-size: 15px;
}
.add_to_default_address{
    color: #767676;
    font-family:Noto Sans KR;
    position: relative;
    text-align:left;
    font-size:15px;
    position: absolute;
    left: 65px;
    top: 645px;
}
.add_to_default_address label{
    position: relative;
    top: -1px;
    left: 5px;
}