#header{
    min-height:80px;
    /* background-color: rgb(201, 233, 233); */
    margin:auto;
    width: 1170px;
    position: relative; 
}
.logo img{
    max-width: 20%; 
    margin-left: 25px;
    /* height: auto ; */
}
.upload_project { 
	width:210px;
	height:67px;
	position:absolute;
	left:190px;
	top:38px;
}
.upload_box { 
    max-width: 55%;
    position: absolute;
    width: 170px;
    height: 32px;
    right: 182px;
    left: 700px;
    top:0px;
    background: #EDE9FE;
    border-radius: 6px;
}
.upload_text { 
    color:#7D1CD8;	
    width:100px;
	height:17px;
	position:absolute;
	left:20px;
	top:7px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.profile{
    display: flex;
    align-items: center;
    width:500px;
	height:67px;
	position:absolute;
	left:1030px;
	top:38px;
    text-decoration: none;
}
.nickname{
    color: #6D6D6D;
	width:157px;
	height:27px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
    margin-top: -28px;
    margin-left: -5px;
}
.nickname_title{
    color: #6D6D6D;
	width:27px;
	height:27px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
    margin-top: -29px;
    margin-left: -58px;
}
.default_profile_circle{
    border-radius:500px;
	background-color:#EDE9FE;
	width:30px;
	height:30px;
	position:absolute;
	left:10px;
	top:0px;
}
.default_profile_face{
    width:25px;
	height:25px;
	position:absolute;
	left:12.9px;
	top:4px;
	background-image:url("/images/noun_face_1891329_2.png");
	background-repeat:no-repeat;
	background-size:cover;
}
.title_section{
    display: flex;
    justify-content: center;
    position: relative;
    margin:auto;
}
.section{
    background-color: #EDE9FE;
    width: 1170px;
    height: 83px;
    position: relative;
    margin:auto;
}
.funding_title{
    color: #0D0D0D;
    width:100px;
	height:26px;
	position:absolute;
    top: 25px;
    left: 50px;
	font-family:Noto Sans KR;
	text-align:left;
	font-size:23px;
    font-weight: bold;
}

.funding_process{
    border: 2px solid rgba(104, 104, 104, 0.08);
    box-sizing:border-box;
    width: 1170px;
    height: 196px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product_description{
    width:110px;
	height:110px;
    position: relative;
}
.delivery_address{
    width:110px;
	height:110px;
    position: relative;
    z-index: 1;
}
.payment_reservation{
    width:110px;
	height:110px;
    position: relative;
}
.product_description,
.payment_reservation {
    margin: 0 100px; 
    z-index: 1;
}
.purple_des{
    border-radius:500px;
    background-color: #D9D9D9;
    width:110px;
	height:110px;
}

.description{
    color:#0D0D0D;
    width:85px;
	height:41px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:18px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grey_add{
    border-radius:500px;
    background-color: #D9D9D9;
    width:110px;
	height:110px;
}

.address{
    color:#0D0D0D;
    width:85px;
	height:41px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:18px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grey_res{
    border-radius:500px;
    background-color: #7D1CD8;
    width:110px;
	height:110px;
}
.reservation{
    color:rgba(255, 255, 255, 1);
    width:85px;
	height:41px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:18px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.process_line{
    border-bottom: 2px dotted #6D6D6D;
    position: absolute;
    width: calc(100% - 750px);
    top: 50%;
    transform: translateY(-50%);
    left: 35%;
    transform-origin: left;
    z-index: -1;
}
.pay_method{
    border: 2px solid rgba(104, 104, 104, 0.08);
    box-sizing:border-box;
    width: 1170px;
    height: 150px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pay_method_title{
    color:#0D0D0D;
    top: 30px;
    left: 50px;
	font-family:Noto Sans KR;
    position: absolute;
	text-align:left;
	font-size:20px;
    font-weight: bold;
}
.kakao_pay{
    color: #767676;
    font-family:Noto Sans KR;
    position: relative;
	text-align:left;
    font-size:15px;
    position: absolute;
    left: 65px;
    top: 80px;
}
.kakao_pay label{
    position: relative;
    top: -1px;
    left: 5px;
}
.product_price{
    border: 2px solid rgba(104, 104, 104, 0.08);
    box-sizing:border-box;
    width: 1170px;
    height: 80px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.show_price{
    color: #767676;
    position:absolute;
    left:50px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:18px;
}
.chosen_price{
    color: #767676;
    position:absolute;
    right: 92px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:18px;
}
.price_unit{
    color: #767676;
    position:absolute;
    right: 65px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:18px;
}
.additional_funding{
    border: 2px solid rgba(104, 104, 104, 0.08);
    box-sizing:border-box;
    width: 1170px;
    height: 80px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.show_additional_funding{
    color: #767676;
    position:absolute;
    left:50px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:18px;
}
.chosen_additional_funding{
    color: #767676;
    position:absolute;
    right: 92px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:18px;
}
.additional_funding_unit{
    color: #767676;
    position:absolute;
    right: 65px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:18px;
}
.delivery_fee{
    border: 2px solid rgba(104, 104, 104, 0.08);
    box-sizing:border-box;
    width: 1170px;
    height: 80px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.show_delivery_fee{
    color: #767676;
    position:absolute;
    left:50px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:18px;
}
.chosen_delivery_fee{
    color: #767676;
    position:absolute;
    right: 92px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:18px;
}
.delivery_fee_unit{
    color: #767676;
    position:absolute;
    right: 65px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:20px;
}
.total_funding_amount{
    border: 2px solid rgba(104, 104, 104, 0.08);
    box-sizing:border-box;
    width: 1170px;
    height: 100px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.show_total{
    color: #FF5454;
    position:absolute;
    left:50px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:20px;
}
.chosen_total{
    color: #767676;
    position:absolute;
    right: 92px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:20px;
    font-weight: bold;
}
.total_unit{
    color: #767676;
    position:absolute;
    right: 65px;
    top: 50%; 
    transform: translateY(-50%);
    font-family:Noto Sans KR;
	text-align:left;
    font-size:20px;
    font-weight: bold;
}
.comment_section{
    width: 1170px;
    height: 80px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.confirm_comment{
    color: #767676;
    font-family:Noto Sans KR;
    text-align:left;
    font-size:15px;
    position: absolute;
    left: 30px;
    top: 50px;
}
.term1{
    color: #767676;
    font-family:Noto Sans KR;
    text-align:left;
    font-size:15px;
    position: absolute;
    left: 30px;
    top: 100px;
}
.term_detail1{
    margin-left: 50px;
}
.term2{
    color: #767676;
    font-family:Noto Sans KR;
    text-align:left;
    font-size:15px;
    position: absolute;
    left: 30px;
    top: 170px;
}
.term_detail2{
    margin-left: 173px;
}
.next_step_section{
    position: absolute;
    top:300px;
}
.next_step{
    width: 260px;
    height: 83px;
    position: relative;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}
.next_step_box{
    background-color: #7D1CD8;
    width: 1170px;
    height: 65px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.next_step_text{
    color:rgba(255, 255, 255, 1);
    width: 200px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    margin-bottom: 400px;
}
#layer_popup, #layer_popup2, #layer_popup3{
    display: none;
    font-family:Noto Sans KR;
    font-size:10px;

}
#layer_popup + label {
    display: inline-block;
    padding: 7px 14px;
    font-family:Noto Sans KR;
    color: #000000;
    font-size:15px;
    cursor: pointer;
    margin-left: 40px;
}
#layer_popup2 + label {
    display: inline-block;
    padding: 7px 14px;
    font-family:Noto Sans KR;
    color: #000000;
    font-size:15px;
    cursor: pointer;
    margin-left: 346.5px;
    margin-top: -20px;
}
#layer_popup3 + label {
    display: inline-block;
    padding: 7px 14px;
    font-family:Noto Sans KR;
    color: #000000;
    font-size:15px;
    cursor: pointer;
    margin-left: 163px;
    margin-top: -20px;
}
#layer_bg, #layer_bg2, #layer_bg3{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    font-family:Noto Sans KR;
    font-size:13px;
}

#popup > h2{
    margin-bottom: 25px;
}
#popup > h2 > label{
    float: right;
}
#layer_popup:checked + label + #layer_bg{

    display: block;
}
#popup2 > h2{
    margin-bottom: 25px;
}
#popup2 > h2 > label{
    float: right;
}
#layer_popup2:checked + label + #layer_bg2{

    display: block;
}
#popup3 > h2{
    margin-bottom: 25px;
}
#popup3 > h2 > label{
    float: right;
}
#layer_popup3:checked + label + #layer_bg3{
    display: block;
}
/* :checked 가상 클래스를 사용하여 체크된 경우에만 레이어를 표시 */
#layer_popup:checked + #layer_bg,
#layer_popup2:checked + #layer_bg2,
#layer_popup3:checked + #layer_bg3 {
    display: block;
}

/* 추가된 스타일 */
#popup, #popup2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    width: 600px;
    height: 700px;
    overflow-y: auto;
}
#popup3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    width: 600px;
    height: 400px;
    overflow-y: auto;
}

/* 레이어가 표시될 때 body 스크롤 방지 */
body.popup-open1, body.popup-open2, body.popup-open3{
    overflow: hidden;
}
.popup-close, .popup-close2, .popup-close3 {
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.A{
    width: 120px;
    border-top: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: #cecece;
    background-color: #f0f0f0;
    vertical-align: middle;
}
.B{
    width: 400px;
    border-top: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: #cecece;
    vertical-align: middle;
}
.table{
    height: 120px;
}