html,body{
    height: 100%;
    margin:0;
    /* position: relative; */
}
div{
    /* div 별 경계선 표현 */
    /* border:1px solid red; */
    box-sizing: border-box;/* div box-sizing 변경 */
}
#wrapper{
    
    width: 100%;
    /* height:800px; */
    height: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
}
/* #wrapper>div{
    width:100%;} */


/* -------------------header 부분--------------------- */

#header{
    
    min-height:120px;
    /* background-color: rgb(201, 233, 233); */
    margin:auto;
    width: 1170px;
    position: relative; 


}
.cartbar {
    position: absolute;
    top: 50%;
    margin-left: 15px;
    width: 30px;
    height: 25px;
    
}

.bar1,.bar2,.bar3 { 
	background-color:rgb(109,109,109);
	width:22px;
	height:2.9px;
    border-radius:2px;
	position:absolute;
	left:4.5px;
	top:5.5px;
    margin-bottom: 6px;}


.bar1 {top: 2px;}
.bar2 {top: 8px;}
.bar3 {top: 14px;}

.cartbar:hover .bar1,.cartbar:hover .bar2,.cartbar:hover .bar3 { background-color: rgb(125,28,216); }
.logo{
    float: left;
    margin-top:20px;
    margin-left: 60px;
    }
    
    .logo img{
    max-width: 40%; 
    /* height: auto ; */
}
.category-box {
    position: absolute;
    top: 18px;
    width: 200px;
    left: 3px;
    background-color: #fff;
    /* padding: 10px; */
    /* display: none; */
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; 
}

.cartbar:hover .category-box,
.cartbar:hover .category-box:hover {
    max-height: 300px;
}

.category {
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 3px; */
    cursor: pointer;
    padding-top: 10px; /* 높이를 조절하는 부분 */
    padding-bottom: 10px;
    padding-left:30px;
    font-family: 'Noto Sans KR', sans-serif;
}
.category:hover {
    background-color: #EDE9FE; /* 선택된 카테고리에 배경색 추가 */
}
.menu{float: right;}

.menu-item{
    float: left;
    margin: 20px 13px 10px 5px; }

.menu-item:nth-child(1) img {width: 28px;}
.menu-item:nth-child(2) img {width: 30px;}
.menu-item:nth-child(3) img,.menu-item:nth-child(4) img {width: 100px;}

#search-area{
    top: 10px; 
    right: 10px; 
    width: 300px;
    height: 150px;
    position: absolute; } 

#search-input:focus {   
    outline: none; /* 포커스 시 기본 테두리 없애기 */
    border: none /* 포커스 시 테두리 색상 설정 */}

#search-form{
    width:80%;
    height:20%;
    margin:auto;
    position:absolute;
    bottom: 0;
    top: 0;
    left:0;
    right:0;}

#search-text-area{
    height:100%;
    width:80%;
    float:left;}

#search-btn-area{
    height:100%;
    width:20%;
    float:left;}

#search-input, #search-btn{
    width: 100%;
    height:100%;
    background-color: rgba(243, 243, 243, 1);
    border: none;
    box-sizing: border-box;}

#search-input { border-radius: 4px 0 0 4px; /* 왼쪽만 둥글게 */}
#search-btn { border-radius: 0 4px 4px 0; /* 오른쪽만 둥글게 */}


/* ---------------- footer부분---------------- */
#footer{
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    height:150px;
    margin:auto;
    width: 1170px;
    /* background-color: rgb(0, 224, 224); */
}
#footer-1,#footer-2,#footer-3,#footer-4,#footer-5{
    width: 20%;
    height: 100%;
    /* border:1px solid red; */
    float: left;
}
#footer-1{
    overflow: hidden;
    display: flex;
    flex-direction: column; 

    /* align-items: center;  */
}
.img-responsive {
    max-width: 70%;
    height: auto;
    display: block;
    margin-left: 5px;
    }
    
    .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom:7px;
    margin-left: 5px;}
    
    .text-container p {
    margin: 0;
    font-size: 10px; }
    .my-link {
        text-decoration: none;
        color: inherit;
    
    }
    .my-link:hover{
        color:rgb(125,28,216);
    }
    
    #footer-2 li:hover,#footer-3 li:not(:nth-child(1)):hover, #footer-4 li:not(:nth-child(1)):hover  {
    color: rgb(125,28,216); 
    /* 마우스 호버 시 텍스트 색상을 보라색으로 변경 */}
    
    #footer-2,#footer-3,#footer-4 {
    overflow: hidden;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;   
    
    }
    
    #footer-2 ul,#footer-3 ul,#footer-4 ul {
    list-style: none;
    padding: 0;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: center; }
    
    #footer-2 li,#footer-3 li,#footer-4 li {
    text-align: left;
    margin-bottom: 5px;
    font-size: 10.5px;}
    
    #footer-2 li:nth-child(1), #footer-3 li:nth-child(1) , #footer-4 li:nth-child(1){
    font-weight: 900;
    font-size: 11.5px; }
    
    #footer-2 li:nth-child(1) {
    margin-left: 50px;}
    
    #footer-5 p {
    
    text-align: left; 
    margin-bottom: 2px;
    margin-top:2px;
    margin-left:30px;
    font-size: 10.5px;}
    
    #footer-5 p:first-child {
    font-size: 12px; 
    font-weight: 900;/* "고객지원"에 대한 글자 크기 조절 */}
    
    #footer-5 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    justify-content:center; 
    /* margin-right: 3px; */
    }
    
    #footer-5 button {    
    margin-bottom: 15px; 
    margin-top: 10px;
    margin-left: 50px;  
    width: 110px;
    height: 25px;    
    border: 2px solid rgb(125, 28, 216);
    border-radius: 4px; 
    background-color: white;  
    color: rgb(125,28,216);
    font-size: 12px; 
    font-weight: bold; 
    text-align: center;  
    line-height: 12px;    }
    
#footer-5 button:hover {
    background-color: rgb(125, 28, 216); /* 버튼에 호버 효과 시 배경 색 변경 */
    color: white; /* 텍스트 색 변경 */
    }
    
#footer-1,#footer-2,#footer-3,#footer-4, #footer-5{
    float:left;
    width:20%;
    height:100%;}

#notify{
    font-family: 'Noto Sans KR', sans-serif;
    height:17px;
    font-size: 10px; 
    background-color: rgb(214, 211, 211);
    display: flex;
    justify-content: center;
}
#notify p{
    margin: auto;
    color: rgb(77, 77, 77);
}
#content{
    height:100%;
    margin:auto;
    width: 1170px;
    position: relative;
    margin-bottom: 400px;
    margin-top: 300px;
}
.up_top_image{
    width:900px;
	height:530px;
	position:absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%); 
    background-image:url(./yeyy_grey.png);
    background-repeat:no-repeat;
	background-size: contain;
    background-position: center;
}
.end_comment{
    color: #252525; 
    font-family:Noto Sans KR;
	text-align:center;
    font-size:30px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%); 
}
.expected_payment_date{
    color: #767676; 
    font-family:Noto Sans KR;
	text-align:left;
    font-size:18px;
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%); 
}
.go_to_history_page{
    position: relative;
    top: 600px;
}
.history_page_box{
    background-color: #EDE9FE;
    width: 400px;
    height: 45px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.history_page_comment{
    color:#252525;
    width: 200px;
	font-family:Noto Sans KR;
	text-align:center;
	font-size:18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: inherit; /* 링크 색상 파란색 제거 */
    text-decoration: none; /*링크 밑줄 제거*/
}