<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/projectRegister/registerHeader.css" />
    <link rel="stylesheet" href="/css/projectRegister/projectReg.css">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<title>registerHeader</title>
</head>


<body>

<th:block th:replace="projectRegister/registerHeader.html"></th:block>


<article>
    <div class="container2">
        <!-- 여기에 내용을 추가하거나 필요한 구조를 만드세요 
            여기가 하늘색 바디 부분-->
        <br><br><br><br><br>
        <h2>요금제 선택</h2>
        <br><br>

        <div class="projectReg3">

            <div style="text-align: center;">
                <div class="priceType">Basic</div>

                <div class="priceCard normalCard">
                    <div style="font-size: 20px; font-weight: 600;">팝핑 수수료 5%</div>
                    <ul>
                        <li>프로젝트 펀딩</li>
                        <li>프로젝트 커뮤니티 활성화</li>
                        <!-- <li>소속사 수수료 </li> -->
                        
                    </ul>
                </div>

            </div>

            
            <div style="text-align: center;">
                <div class="priceType" style="color:#7D1CD8;">Premium</div>

                <div class="priceCard premiumCard">
                    <div style="font-size: 20px; font-weight: 600; color: #7D1CD8;">팝핑 수수료 9%</div>
                    
                    <ul>
                        <li>프로젝트 펀딩</li>
                        <li>공개 예정 프로젝트 리스트</li>
                        <li>프로젝트 알림 신청 기능</li>
                        <li style="list-style-type: none; color: #6D6D6D; 
                        margin-top: -8px; font-size: 15px;">
                            프로젝트가 오픈되기 전에 미리 <br>
                            <b>알림 신청</b>으로 프로젝트를 알릴<br>수 있어요.</li>
                        <li>메인 배너에 프로젝트 홍보</li>
                        <li>팝핑 SNS 홍보</li>
                        <li>다음 프로젝트 등록 시 긍정적인 <br>심사 반영</li>
                    </ul>
                </div>

            </div>

        </div>

        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
    </div>


</article>

    

</body>


</html>