<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/projectRegister/registerHeader.css" />
    <link rel="stylesheet" href="/css/projectRegister/projectReg.css">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<title>펀딩 계획 페이지</title>
</head>


<body>

<th:block th:replace="projectRegister/registerHeader.html"></th:block>
 
<div id="article">
    <div class="container2">
        <!-- 여기에 내용을 추가하거나 필요한 구조를 만드세요 
            여기가 하늘색 바디 부분-->
        <br><br><br><br><br>

        <form action="/projectReg/planning" method="post" th:object="${ planDTO }">
            <h2>펀딩 계획</h2> <button type="submit" > 저장 </button>
            <br><br>
        <div class="subTitle">펀딩 기간</div>
        
        <div class="dateWrapper">
            <div>
                <div class="inputTitle">펀딩 시작</div>
                <input type="datetime-local" id="currentDate" name="startDate">
            </div>

            <div style="margin: 25px 100px;">
            <img src="/icon/projectStart/doublearrow_right.svg">
            <div style="color: rgba(125, 28, 216, 0.64); font-weight: 600;">30일</div>
            </div>

            <div>
                <div class="inputTitle">펀딩 종료</div>
                <input type="datetime-local" name="endDate" th:value="${planDTO.endDate}">
            </div>
        </div>


        <script>

            // 오늘 날짜 시간으로 설정
            const serverTime = new Date().getTime();
            const koreaTimezoneOffset = 9 * 60; 
            const koreaDate = new Date(serverTime + (koreaTimezoneOffset * 60 * 1000));
            
            document.getElementById('currentDate').value = koreaDate.toISOString().substring(0, 16);
            document.getElementById('currentDate2').value = koreaDate.toISOString().substring(0, 16);

            
        </script>


        <br><br>

        <div class="dateWrapper">
            <div>
                <div class="subTitle">목표 금액</div>
                <p class="subText">계획한 펀딩 프로젝트에 금액이 얼마나 필요할지<br>신중히 생각해보세요.</p>
                <input type="number" style="text-align: right" name="targetAmount" th:value="${planDTO.targetAmount}"><span>  원</span>
            </div>

            <div id="targetAmountDescription">
                premium 요금제 - 수수료 10% <br>
                소속사 대행 - 수수료 4%

                <br><br><br><br>
                ※ 목표 금액을 달성하지 못하면 펀딩이 실패합니다.<br>

                ※ 목표 금액을 설정하기 어렵다면? <br>
                -> <b>상세 정보에서 일정과 예산 기획</b>을 먼저 해보세요.<br>
            </div>

        </div>


        <div>
            <div class="subTitle" style="margin-top: -100px">최종 금액</div>
            <p class="subText">목표 금액 달성 시 수령되는 수수료가 적용된 금액입니다.</p>
            <input type="number" style="text-align: right" name="totalAmount" th:value="${planDTO.totalAmount}"><span>  원</span>
            <!-- <div class="subText" style="font-size: 12px;" >수수료 적용된 금액</div> -->
        </div>

            <!-- <div>
                <div class="subTitle">정산일</div>
                <input type="date" data-placeholder="날짜 선택" style="margin-top: 5px;">
            </div> -->
            
        <br><br>
        <br><br><br><br>

        </form>
    </div>


</div>

    

</body>


</html>