<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/projectRegister/registerHeader.css">
<link rel="stylesheet" href="/css/projectRegister/projectReg.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<title>projectReg6 - 선물 구성하기 페이지</title>
</head>


<body>

<th:block th:replace="projectRegister/registerHeader.html"></th:block>

<div id="article">
    <div class="container2">
        <!-- 여기에 내용을 추가하거나 필요한 구조를 만드세요 
            여기가 하늘색 바디 부분-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>선물 구성하기</h2>

        <form action="/projectReg/goods" method="post">
        <div class="goodsWrapper">


            <!-- 아이템 이름 입력 및 추가 -->
            <div style="margin-right: 200px;">
                <div class="subTitle" style="font-size: 17px;">선물 구성 이름</div>
                <!-- <p class="subText">말풍선으로 선물 구성 팁 뜨게하기 : 간단하게 작성할수록 쉽게 알아볼수 있엉</p> -->
                <input type="text" name="goodsName" maxlength="40" oninput="goodsLength()"
                       style="border-radius: 13px; height: 25px; width: 400px;">
                <div class="lengthText" style="width: 410px;"><span id="goodsLen">0</span> / 40</div>


                <div class="inputTitle" style="font-size: 16px; margin-top: 20px">아이템 이름</div>
                <!-- <p class="subText">선물을 구성할 아이템을 등록해주세요.</p> -->
                <div style="display: flex;">
                    <input type="text" name="itemInput" maxlength="25" oninput="itemLength()"
                           style="border-radius: 13px; height: 25px;">
                    <i class="fa-solid fa-arrow-down fa-xl"
                       style="color: #7D1CD8; margin-left: 10px; margin-top: 4px; line-height: normal; cursor: pointer;"></i>
                </div>
                <div class="lengthText"><span id="itemLen">0</span> / 25</div>

                <p class="subText" style="margin-top: 40px;">등록한 아이템으로 선물을 구성해보세요.</p>
                <div class="itemBox">
                <ul id="itemList" style="margin-left: -40px;">
<!--                    <li class="liItem"><span>워녕이 인형</span></i><img src="/icon/projectRegister/icon_cancel_.svg"-->
<!--                        style=" width: 16px; margin-bottom: 12px;">-->
<!--                    </li>-->
                </ul>

                </div>
                <p class="subText" style="margin-top: 10px;">※ 아이템은 최대 999개까지 입력 가능합니다.</p>
            </div>
            

            <!-- 선물 구성 및 입력 -->
<!--            <div>-->
<!--                -->
<!--                <p class="subText" style="margin-top: 20px;">등록한 아이템으로 선물을 구성해보세요.</p>-->
<!--                <div class="itemBox">-->
<!--                    <ul id="itemBox"  style="margin-left: -40px;">-->
<!--                        -->
<!--                        <li class="liItem liItem1"><span >워녕이 인형</span>-->
<!--                            <div class="itemCountWrapper">-->
<!--                                <input type="number" min="1" max="100"><span>개</span>-->
<!--                                <img src="/icon/projectRegister/icon_cancel_.svg"-->
<!--                                style=" width: 16px; margin-bottom: 12px; margin-left: 10px;">-->
<!--                            </div>-->
<!--                        </li>-->

<!--                        <li class="liItem liItem2"><span>인형 무대 상의</span>-->
<!--                            <div class="itemCountWrapper">-->
<!--                               <input type="number" min="1" max="100">-->
<!--                               <div style="">개</div>-->
<!--                            <img src="/icon/projectRegister/icon_cancel_.svg"-->
<!--                            style=" width: 16px; margin-bottom: 12px; margin-left: 10px;">-->
<!--                            </div>-->
<!--                        </li>-->
<!--                        <li class="liItem"><span>초레어희귀반짝이큐빅다이아몬드초레어</span>-->
<!--                            <div class="itemCountWrapper">-->
<!--                                <input type="number" min="1" max="100"><span>개</span>-->
<!--                             -->
<!--                            <img src="/icon/projectRegister/icon_cancel_.svg"-->
<!--                            style=" width: 16px; margin-bottom: 12px; margin-left: 10px;">-->
<!--                            </div>-->
<!--                        </li>   -->
<!--                    </ul> -->
<!--                </div>-->
<!--                <p class="subText" style="margin-top: 20px;">※ 아이템은 최대 999개까지 입력 가능합니다.</p>-->


<!--            </div>-->

<!--            <div>flex요소</div>-->

        </div>

        <script>

            // 글자수 세기 + 제한
            const $itemInput = document.querySelector("input[name=itemInput]");
            const $goodsInput = document.querySelector("input[name=goodsName]");

            const itemLength = () => {

                const count = $itemInput.value.length;
                document.getElementById('itemLen').innerText = count;
            }

            const goodsLength = () => {

                const count = $goodsInput.value.length;
                document.getElementById('goodsLen').innerText = count;
            }



            // 아이템 추가
            // const $itemInput = document.querySelector("input[name=itemInput]");

            const $arrowdown = document.querySelector(".fa-arrow-down");
            console.log($arrowdown);

            // 추가한 아이템 목록
            const $itemList = document.getElementById("itemList");


            // 아이템 박스
            const $itemBox = document.getElementById("itemBox");



            $arrowdown.addEventListener('click', () => {

                const $li = document.createElement('li');
                $li.className = 'liItem';
                $li.textContent = $itemInput.value;

                const $itemCountWrapper = document.createElement('div');
                $itemCountWrapper.className = "itemCountWrapper";


                const $count = document.createElement('input');
                $count.type = 'number';
                $count.name = 'itemQuantity';
                $count.min = 1;
                $count.max = 999;

                const $span = document.createElement('span');
                $span.textContent = '개'
                $span.style.marginRight = '5px';

                const $deleteBtn = document.createElement('img');
                $deleteBtn.src = "/icon/projectRegister/icon_cancel_.svg";
                $deleteBtn.style.width='16px';
                $deleteBtn.style.marginBottom = '12px';
                $deleteBtn.style.cursor = 'pointer';

                $itemCountWrapper.appendChild($count);
                $itemCountWrapper.appendChild($span);
                $itemCountWrapper.appendChild($deleteBtn);

                const $input = document.createElement('input');
                $input.type = 'hidden';
                $input.name = 'itemName';
                $input.value = $itemInput.value;


                $li.appendChild($itemCountWrapper);


                $itemList.appendChild($li);
                $itemList.appendChild($input);

                $deleteBtn.addEventListener('click', () => {


                    $itemList.removeChild($li);
                    $itemList.removeChild($input);


                })


            });




        </script>



        <!-- 선물 수량 및 설명 금액 -->
        <div style="margin-top: 30px;">

            <div class="inputTitle">선물 수량</div>
            <div class="radioWrapper">
                <div style="margin-top: 6px;">
                    <input type="radio" id="nolimit" name="goodsCount" value="nolimit">
                    <label for="nolimit">제한 없음</label>
                </div>

                <div>
                    <input type="radio" id="count" name="goodsCount" value="limit">
                    <label for="count">
                        <input type="number" name="quantity" value="0" style="height: 23px"><span> 개</span>
                    </label>
                </div>

            </div>  
        </div>

        <br><br><br>

        <div>
            <div class="inputTitle">후원 금액</div>
            <p class="subText">아이템 구성을 고려하여 후원 금액을 정해보세요.</p>
            <input type="number" name="amount" style="width: 300px; text-align: right;"><span>  원</span>
        </div>

            <br><br>
            <button type="submit"> 저장 </button>

        
        
        <br><br><br><br>
        <div class="subTitle" style="font-size: 19px;">현재 선물 구성</div>
        <br>
        <div class="rewardCard-wrapper" th:each="goodsAndItem : ${goodsAndItem}">
            <div class="rewardCardInner">
                <div class="cardAmountWrapper">
                    <div><span class="rewardAmount" th:text="${ goodsAndItem.goodsDTO.amount }">70,000</span><span>원</span></div>
                    
                    <img src="/icon/projectRegister/icon_cancel_.svg"
                        style=" width: 16px; margin-bottom: 12px; margin-left: 10px;">
                </div>

                <div style="display: flex; justify-content: space-between;">
                    <div class="rewardCardTitle">[ 얼리버드 ] 펀딩 시작 기념 구성</div>
                    <!-- 개수는 수량 제한이 없을 경우 표시안함 -->
                    <div class="rewardCount"><span>50</span><span>개 남음</span></div>
                </div>
                <div class="rewardContent">
                    <ul>
                        <li>워녕이 인형 &nbsp;<span>( x 1 )</span></li>
                        <li>워녕이 키링 &nbsp;<span>( x 1 )</span></li>
                        <li>IVE 거울 &nbsp;<span>( x 1 )</span></li>
                        <li>보관용 파우치 &nbsp;<span>( x 1 )</span></li>

                    </ul>
                </div>
                
                <div style="text-align: right;">
                    <button class="modifyBtn">수정</button>
                </div>

            </div>
        </div>

        </form>



        <br><br><br><br>



    </div>
</div>

    

</body>


</html>