<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/projectRegister/registerHeader.css" />
    <link rel="stylesheet" href="/css/projectRegister/projectReg.css">

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zen+Tokyo Zoo&display=swap" rel="stylesheet">
    <title>기본 정보 등록 페이지</title>
</head>
<body>


    <th:block th:replace="projectRegister/registerHeader.html"></th:block>

    <div id="article">
      <div class="container2">
          <!-- 여기에 내용을 추가하거나 필요한 구조를 만드세요 
              여기가 하늘색 바디 부분--> 

        <div class="projectReg1">

        <br><br><br><br><br>

          <form action="/projectReg/project" method="post" th:object="${projectDTO}" enctype="multipart/form-data">
          <div style="display: flex; justify-content: space-between">
            <h2>프로젝트 기본 정보</h2>
            <button type="submit" onclick="alert('저장되었습니다.')"
                    style="width: 100px; height: 45px; background-color: #EDE9FE; color: #7D1CD8; font-size: 17px;
                            border: none; border-radius: 10px; cursor: pointer; margin-right: 300px;"
            > 저장 </button>
          </div>
        <br><br>


          <!-- 프로젝트 정보 입력 -->
        <div class="inputTitle" style="font-size: 18px;">프로젝트 제목</div>
        <input type="text" name="title" style="width: 450px;" th:value="${projectDTO.title}"  maxlength="30" oninput="titleLength()">
        <div class="lengthText" style="width: 460px;"><span id="titleLen">0</span> / 30</div>

        <!-- 카테고리 드롭박스 2개 -->
        <br><br>
        <div class="subTitle">카테고리</div>    
        <div class="categoryWrapper">
          <div>
            <div class="inputTitle">카테고리</div>
            <select id="categoryCode" name="categoryDTO.categoryCode" class="dropList" onchange="getCategoryCode()">
              <option value="1" th:selected="${projectDTO.getCategoryDTO().upperCategoryCode == 1}">악세사리</option>
              <option value="2" th:selected="${projectDTO.getCategoryDTO().upperCategoryCode == 2}">디지털 악세사리</option>
              <option value="3" th:selected="${projectDTO.getCategoryDTO().upperCategoryCode == 3}">인형</option>
              <option value="4" th:selected="${projectDTO.getCategoryDTO().upperCategoryCode == 4}">문구</option>
              <option value="5" th:selected="${projectDTO.getCategoryDTO().upperCategoryCode == 5}">잡화</option>
              <option value="6" th:selected="${projectDTO.getCategoryDTO().upperCategoryCode == 6}">의류</option>
              <option value="7" th:selected="${projectDTO.getCategoryDTO().upperCategoryCode == 7}">기타</option>
            </select>
          </div>
          
          <div>
            <div class="inputTitle">세부 카테고리</div>
            <select id="subCategoryCode" name="categoryDTO.subCategoryCode" class="dropList">
              <option th:value="${projectDTO.getCategoryDTO().subCategoryCode}" th:text="${projectDTO.getCategoryDTO().categoryTitle}"></option>
            </select>
          </div>

            <script>

              function getCategoryCode(){
                const $categoryCode = document.getElementById("categoryCode");
                const $subCategoryCode = document.getElementById("subCategoryCode");
                let value = $categoryCode.value;

                // fetch API
                fetch("/projectReg/category")
                        .then(res => res.json())
                        .then(data => {

                          while($subCategoryCode.firstChild){
                            $subCategoryCode.firstChild.remove();
                          }

                          for(let index in data) {

                            if(data[index].upperCategoryCode == parseInt(value)){

                              const $option = document.createElement('option');
                              $option.value = data[index].categoryCode;
                              $option.textContent = data[index].categoryTitle;

                              $subCategoryCode.appendChild($option);
                            }
                          }
                        });
              }

            </script>
      
        </div>


        <!-- 프로젝트 한 줄 소개 -->
        <br><br><br>
        <div class="inputTitle">프로젝트 한 줄 소개</div>
        <div class="subText">100자 이내로 간단하게 소개해주세요.</div>
        <textarea class="textareaCss" name="content" placeholder="프로젝트를 간단히 소개해주세요." th:text="${projectDTO.content}"
                  maxlength="100" oninput="contentLength()"></textarea>
        <div class="lengthText" style="width: 500px;"><span id="contentLen">0</span> / 100</div>


        <!-- 대표 이미지 업로드하기 -->
        <br><br><br>

        <div class="inputTitle">대표 이미지</div>
        <div class="subText">어떤 프로젝트인지 한 눈에 알아 볼 수 있도록 이미지를 등록해주세요.</div>
        <div class="subText">(최대 5장까지)</div> <br>

          <div class="title-img-area" id="titleImgArea">
            <img id="titleImg" style="width: 500px; height: 300px">
          </div>

          <tr>
            <td>서브 이미지</td>
            <td>
              <div class="content-img-area1" id="contentImgArea1">
                <img id="contentImg1" style="width: 200px; height: 200px">
              </div>
            </td>
            <td>
              <div class="content-img-area2" id="contentImgArea2">
                <img id="contentImg2" style="width: 200px; height: 200px">
              </div>
            </td>
            <td>
              <div class="content-img-area3" id="contentImgArea3">
                <img id="contentImg3" style="width: 200px; height: 200px">
              </div>
            </td>
            <td>
              <div class="content-img-area4" id="contentImgArea4">
                <img id="contentImg4" style="width: 200px; height: 200px">
              </div>
            </td>

          </tr>



        <div class="thumbnail-file-area">
          <input type="file" id="thumbnailImg1" name="thumbnailImg1" onchange="loadImg(this,1)">
          <input type="file" id="thumbnailImg2" name="thumbnailImg2" onchange="loadImg(this,2)">
          <input type="file" id="thumbnailImg3" name="thumbnailImg3" onchange="loadImg(this,3)">
          <input type="file" id="thumbnailImg4" name="thumbnailImg4" onchange="loadImg(this,4)">
          <input type="file" id="thumbnailImg5" name="thumbnailImg5" onchange="loadImg(this,5)">
        </div>


          <script th:inline="javascript">

            /* 이미지 미리보기 관련 스크립트 */
            const $titleImgArea = document.getElementById("titleImgArea");
            const $contentImgArea1 = document.getElementById("contentImgArea1");
            const $contentImgArea2 = document.getElementById("contentImgArea2");
            const $contentImgArea3 = document.getElementById("contentImgArea3");
            const $contentImgArea4 = document.getElementById("contentImgArea4");

            $titleImgArea.onclick = function() {
              document.getElementById("thumbnailImg1").click();
            }

            $contentImgArea1.onclick = function() {
              document.getElementById("thumbnailImg2").click();
            }

            $contentImgArea2.onclick = function() {
              document.getElementById("thumbnailImg3").click();
            }

            $contentImgArea3.onclick = function() {
              document.getElementById("thumbnailImg4").click();
            }

            $contentImgArea4.onclick = function() {
              document.getElementById("thumbnailImg5").click();
            }

            /* 이미지 미리보기 관련 함수(File API 활용하기) */
            function loadImg(value, num) {

              /* https://developer.mozilla.org/ko/docs/Web/API/FileReader 참고 (MDN 사이트 참고)*/
              if (value.files && value.files[0]) {			// value.files[0]는 파일 이름
                const reader = new FileReader();

                /*
                    FileReader 객체는 웹 애플리케이션이 비동기적으로 데이터를 읽기 위하여 읽을 파일을 가리키는 File 혹은 Blob 객체를
                    이용해 파일의 내용을(혹은 raw data버퍼로) 읽고 사용자의 컴퓨터에 저장하는 것을 가능하게 하는 것
                    Blob(Binary large object) : 파일류의 불변하는 미가공 데이터로 텍스트와 이진 데이터의 형태로 읽을 수 있음
                */

                // reader.readAsText(value.files[0]);			// 텍스트 파일을 읽을 때 사용 (이미지 파일을 텍스트로 읽어서 글자가 깨짐)
                // reader.readAsArrayBuffer(value.files[0]);	// 데이터를 일정한 크기로 조금씩(파일을 표현하는 ArrayBuffer) 서버로 보낼 때
                // reader.readAsBinaryString(value.files[0]);	// 이진 데이터를 서버로 보낼 때 사용
                reader.readAsDataURL(value.files[0]);		// Base64방식으로 파일을 FileReader에 전달 (Base64로 인코딩한 것은 브라우저가 원래 데이터로 만들게 됨)

                /* load 이벤트의 핸들러로 읽기 동작이 성공적으로 완료 되었을 때마다 발생한다. */
                reader.onload = function(e) {				// load EventListener에 function 등록 (FileReader에서 전달 받은 파일을 다 읽으면 리스너에 등록한 function이 호출 됨)
                  switch(num){
                    case 1:
                      console.log(e.target.result);		// e.target.result는 인코딩한 결과로 img태그의 src로 사용할 수 있음
                      document.getElementById("titleImg").src = e.target.result;
                      break;
                    case 2:
                      document.getElementById("contentImg1").src = e.target.result;
                      break;
                    case 3:
                      document.getElementById("contentImg2").src = e.target.result;
                      break;
                    case 4:
                      document.getElementById("contentImg3").src = e.target.result;
                      break;
                    case 5:
                      document.getElementById("contentImg4").src = e.target.result;
                      break;
                  }
                }
              }
            }
          </script>



        <!-- 관심사 태그 입력 -->
        <br><br><br><br><br>

<!--        <div class="inputTitle">관심사 태그</div>-->
<!--        <div class="subText">등록한 관심사 태그를 통해 검색한 후원자가 프로젝트를 발견할 수 있습니다.</div>-->
<!--        <div class="subText">태그는 빈 칸없이 10자 이내로 입력해주세요.</div>-->
<!--        <input type="text" name="tag" style="margin-top: 10px;"-->
<!--               maxlength="10" oninput="tagLength()">-->
<!--        <div class="lengthText"><span id="tagLen">0</span> / 10</div>-->

<!--        -->
<!--        <br><br>-->

<!--          <div id="hashtagWrapper">-->

<!--            <div class="hashTag hashTag1">-->
<!--              <span>#블랙핑크</span>-->
<!--            </div>-->

<!--          </div>-->


            <script>
                // 글자수 제한
                const $titleInput = document.querySelector('input[name=title]');
                const $content = document.querySelector('textarea');
                const $tagInput = document.querySelector('input[name=tag]');

                // title 글자수 제한
                const titleLength = () => {

                    const count = $titleInput.value.length;
                    document.getElementById('titleLen').innerText = count;

                }

                const contentLength = () => {

                    const count = $content.value.length;
                    document.getElementById('contentLen').innerText = count;

                }

                function tagLength() {
                    const $tagInput = document.querySelector('input[name=tag]');

                    const count = $tagInput.value.length;
                    document.getElementById('tagLen').innerText = count;
                }

            </script>


<!--      자바스크립트-->
          <script>

            // 해시태그 생성
            const content = document.querySelector('#hashtagWrapper');
            // const tagSelector = document.querySelector('input[name=tagInput]');

            const createTag = (e) => {

              if(e.keyCode === 13){

                const tagValue = $tagInput.value;

                //


                content.innerHTML += `<div class="hashTag">
                                      <span>#${tagValue}</span>
                                  </div>`;

                $tagInput.value = "";
                $tagInput.value.length = 0;
                document.getElementById('tagLen').innerText = $tagInput.value.length.toString();

              }
              e.preventDefault();

            }
            $tagInput.addEventListener('keyup', createTag);

          </script>

          </form>
          
        </div>
        <br><br><br><br><br><br><br>

      </div>
    </div>
</body>
</html>