<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/projectRegister/registerHeader.css" />
    <link rel="stylesheet" href="/css/projectRegister/projectReg.css">

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zen+Tokyo Zoo&display=swap" rel="stylesheet">
    <title>기본 정보 등록 페이지</title>
</head>
<body>


    <th:block th:replace="projectRegister/registerHeader.html"></th:block>

    <div id="article">
      <div class="container2">
          <!-- 여기에 내용을 추가하거나 필요한 구조를 만드세요 
              여기가 하늘색 바디 부분--> 

        <div class="projectReg1">

        <br><br><br><br><br>
        <h2>프로젝트 기본 정보</h2>
        <br><br>

        <form action="" method="post" enctype="multipart/form-data">

          <!-- 프로젝트 정보 입력 -->
        <div class="inputTitle" style="font-size: 18px;">프로젝트 제목</div>
        <input type="text" name="title" style="width: 450px;" maxlength="30" oninput="titleLength()">
        <div class="lengthText" style="width: 460px;"><span id="titleLen">0</span> / 30</div>

        <!-- 카테고리 드롭박스 2개 -->
        <br><br>
        <div class="subTitle">카테고리</div>    
        <div class="categoryWrapper">
          <div style="">
            <div class="inputTitle">카테고리</div>
            <select name="categoryCode" class="dropList">
              <option value="1" selected>악세사리</option>
              <option value="2">디지털 악세사리</option>
              <option value="3">인형</option>
              <option value="4">문구</option>
              <option value="5">잡화</option>
              <option value="6">의류</option>
              <option value="7">기타</option>
            </select>
          </div>
          
          <div>
            <div class="inputTitle">세부 카테고리</div>
<!--            <select name="detailCategory" class="dropList">-->
<!--                <option value="all" selected>노트</option>-->
<!--                <option value="accesary">스티커</option>-->
<!--                <option value="digitAccesary">연필&볼펜</option>-->
<!--            </select>-->
          </div>
      
        </div>


        <!-- 프로젝트 한 줄 소개 -->
        <br><br><br>
        <div class="inputTitle">프로젝트 한 줄 소개</div>
        <div class="subText">100자 이내로 간단하게 소개해주세요.</div>
        <textarea class="textareaCss" name="content" placeholder="프로젝트를 간단히 소개해주세요." maxlength="100" oninput="contentLength()"></textarea>
        <div class="lengthText" style="width: 500px;"><span id="contentLen">0</span> / 100</div>


        <!-- 대표 이미지 업로드하기 -->
        <br><br><br>

        <div class="inputTitle">대표 이미지</div>
        <div class="subText">어떤 프로젝트인지 한 눈에 알아 볼 수 있도록 이미지를 등록해주세요.</div>
        <div class="subText">(최대 5장까지)</div> <br>
        <input class="inputFile" type="file" name="thumbnail">

        <!-- 관심사 태그 입력 -->
        <br><br><br><br><br>

        <div class="inputTitle">관심사 태그</div>
        <div class="subText">등록한 관심사 태그를 통해 검색한 후원자가 프로젝트를 발견할 수 있습니다.</div>
        <div class="subText">태그는 빈 칸없이 10자 이내로 입력해주세요.</div>
        <input type="text" name="tag" style="margin-top: 10px;"
               maxlength="10" oninput="tagLength()">
        <div class="lengthText"><span id="tagLen">0</span> / 10</div>

        
        <br><br>

          <div id="hashtagWrapper">

            <div class="hashTag hashTag1">
              <span>#블랙핑크</span>
            </div>

          </div>

            <button type="submit" >저장</button>

        </form>

            <script>
                // 글자수 제한
                const $titleInput = document.querySelector('input[name=title]');
                const $content = document.querySelector('textarea');
                const $tagInput = document.querySelector('input[name=tag]');

                // title 글자수 제한
                const titleLength = () => {

                    const count = $titleInput.value.length;
                    document.getElementById('titleLen').innerText = count;

                }

                const contentLength = () => {

                    const count = $content.value.length;
                    document.getElementById('contentLen').innerText = count;

                }

                function tagLength() {
                    const $tagInput = document.querySelector('input[name=tag]');

                    const count = $tagInput.value.length;
                    document.getElementById('tagLen').innerText = count;
                }

            </script>


<!--      자바스크립트-->
          <script>

            // 해시태그 생성
            const content = document.querySelector('#hashtagWrapper');
            // const tagSelector = document.querySelector('input[name=tagInput]');

            const createTag = () => {

              // window.event.preventDefault();

              if(window.event.keyCode === 13){

                const tagValue = $tagInput.value;

                //


                content.innerHTML += `<div class="hashTag">
                                      <span>#${tagValue}</span>
                                  </div>`;

                $tagInput.value = "";
                $tagInput.value.length = 0;
                document.getElementById('tagLen').innerText = $tagInput.value.length.toString();

              }

            }
            $tagInput.addEventListener('keyup', createTag);

          </script>

          
        </div>
        <br><br><br><br><br><br><br>

      </div>
    </div>
</body>
</html>