<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- bootstrap과 summernote css + js -->

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <link rel="stylesheet" href="/css/projectRegister/registerHeader.css" />
    <link rel="stylesheet" href="/css/projectRegister/projectReg.css">

<!-- font -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<title>registerHeader</title>
</head>


<body>

<th:block th:replace="projectRegister/registerHeader.html"></th:block>

<div id="article">
    <div class="container2">
        <!-- 여기에 내용을 추가하거나 필요한 구조를 만드세요 
            여기가 하늘색 바디 부분-->
        <br><br><br><br><br>
        <br><br>
        <div style="font-size: 25px; font-weight: bold;">상세 일정 및 내용</div>
        <br><br>

        <script>
            $(document).ready(function() {
                $('.summernote').summernote({
                    width: 800,
                    height: 500,
                    placeholder: '일정을 날짜별로 자세히 작성해주세요'
                    
                })
            });
        </script>



        <form action="" method="post">
        <div class="subTitle">프로젝트 일정 계획</div>
        <div class="subText">캘린더에 일정을 계획해보세요.</div>
        <div class="subText">프로젝트 일정을 자세히 작성할수록 후원자가 신뢰할 수 있어요.</div>
        <br>

            <textarea class="summernote" name="editorPlan"></textarea>


        <br><br><br><br>
        <div class="subTitle">프로젝트 예산 계획</div>
        <div class="subText">프로젝트에 예산을 어떻게 사용할 것인지 자세히 적어주세요.</div>
        <div class="subText">프로젝트 일정을 자세히 작성할수록 후원자가 신뢰할 수 있어요.</div>
        <br>
        <form method="post">
            <textarea class="summernote" name="editorBudget"></textarea>
        </form>

        <br><br><br><br>
        <div class="subTitle">프로젝트 내용 소개</div>
        <div class="subText">어떤 프로젝트인지 자유롭게 작성해주세요.</div>
        <div class="subText">후원자들이 프로젝트 내용을 보고 펀딩에 참여할 수 있게 작성해보세요.</div>
        <br>

            <textarea class="summernote" name="editorProject"></textarea>

        </form>

        
    </div>
</div>

    

</body>


</html>