<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/registerHeader.css">
<link rel="stylesheet" href="../css/projectReg.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<title>projectReg6 - 선물 구성하기 페이지</title>
</head>


<body>

<header>    
<div class="header">
    <div class="container">
        
        <div class="backArrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 25 30" fill="none" >
                <path d="M9.11701 29.6743C8.88368 29.6751 8.65314 29.6236 8.44233 29.5236C8.23152 29.4236 8.04579 29.2777 7.8988 29.0965L0.355291 19.7256C0.125579 19.4462 0 19.0956 0 18.7339C0 18.3721 0.125579 18.0216 0.355291 17.7421L8.16431 8.37133C8.4294 8.05239 8.81034 7.85181 9.22333 7.81374C9.63631 7.77566 10.0475 7.9032 10.3664 8.1683C10.6854 8.4334 10.886 8.81434 10.924 9.22732C10.9621 9.6403 10.8346 10.0515 10.5695 10.3704L3.58822 18.7417L10.3352 27.113C10.5262 27.3422 10.6475 27.6214 10.6848 27.9174C10.7221 28.2134 10.6738 28.514 10.5457 28.7834C10.4175 29.0529 10.2148 29.28 9.96166 29.4379C9.70848 29.5958 9.41536 29.6778 9.11701 29.6743Z" fill="#231F20"/>
            </svg>
            <span style="padding-top: 4px;">내가 만든 프로젝트</span>
        </div>
        


        <div class="logo">
            <img src="../../resources/icons/logo2.png" alt="로고">
        </div>

        <div class="menu">
            <div class="menu-item" onclick="alert('프로젝트 심사 약관')"><img src ="../img/project_terms_btn.svg" alt="프로젝트 심사 약관"></div>
            <div class="menu-item" onclick="alert('창작자 가이드')"><img src="../img/creator_guide_btn.svg"alt="창작자 가이드"></div>
        </div>
        
    </div>

    <div class="processTabWrapper">
        <ul class="processTab">
            <li class="tabItem">기본 정보</li>
            <li class="tabItem">창작자 정보</li>
            <li class="tabItem tabBar">요금제</li>
            <li class="tabItem">펀딩 계획</li>
            <li class="tabItem">상세 정보</li>
            <li class="tabItem">선물 구성</li>
            <li class="tabItem">정책</li>
        </ul>
    </div>


</div>    
</header>

<div id="article">
    <div class="container2">
        <!-- 여기에 내용을 추가하거나 필요한 구조를 만드세요 
            여기가 하늘색 바디 부분-->
        <h2>선물 구성하기</h2>
        
        
        <br><br>
        
        <div class="goodsWrapper">

            <!-- 아이템 이름 입력 및 추가 -->
            <div style="margin-right: 200px;">
                <div class="subTitle" style="font-size: 17px;">아이템 이름</div>
                <!-- <p class="subText">선물을 구성할 아이템을 등록해주세요.</p> -->
                <input type="text" style="border-radius: 13px; height: 25px;">
                <div class="lengthText">글자수 / 30</div>
            
                <br><br>
                <a href="#" class="arrowListBtn">
                    <img src="../../resources/icons/icon_arrowList.svg" style="margin-bottom: -2px;">
                    <span style="color: #7D1CD8;">추가한 아이템 목록</span>
                </a>

                <ul style="margin-left: -40px;">
                    <li class="liItem"><span>워녕이 인형</span></i><img src="../../resources/icons/icon_cancel_.svg"
                        style=" width: 16px; margin-bottom: 12px;"></li>
                    <li class="liItem"><span>인형 무대 상의</span><img src="../../resources/icons/icon_cancel_.svg"
                        style=" width: 16px; margin-bottom: 12px;"></li>
                    <li class="liItem"><span>인형 신발</span><img src="../../resources/icons/icon_cancel_.svg"
                        style=" width: 16px; margin-bottom: 12px;"></li>
                </ul>       
            </div>
            

            <!-- 선물 구성 및 입력 -->
            <div>
                <div class="subTitle" style="font-size: 17px;">선물 구성 설명</div>
                <!-- <p class="subText">말풍선으로 선물 구성 팁 뜨게하기 : 간단하게 작성할수록 쉽게 알아볼수 있엉</p> -->
                <input type="text" style="border-radius: 13px; height: 25px; width: 400px;">
                <div class="lengthText" style="width: 410px;">글자수 / 50</div>
                

                <p class="subText" style="margin-top: 20px;">등록한 아이템으로 선물을 구성해보세요.
                    <br>※ 아이템은 최대 100개까지 입력 가능합니다.
                </p>
                <div class="itemBox">
                    <ul style="margin-left: -40px;">
                        
                        <li class="liItem liItem1"><span >워녕이 인형</span>
                            <div class="itemCountWrapper">
                                <input type="number" min="1" max="100"><span>개</span>
                                <img src="../../resources/icons/icon_cancel_.svg"
                                style=" width: 16px; margin-bottom: 12px; margin-left: 10px;">
                            </div>
                        </li>

                        <li class="liItem liItem2"><span>인형 무대 상의</span>
                            <div class="itemCountWrapper">
                               <input type="number" min="1" max="100">
                               <div style="">개</div>
                            <img src="../../resources/icons/icon_cancel_.svg"
                            style=" width: 16px; margin-bottom: 12px; margin-left: 10px;">
                            </div>
                        </li>
                        <li class="liItem"><span>초레어희귀반짝이큐빅다이아몬드초레어</span>
                            <div class="itemCountWrapper">
                                <input type="number" min="1" max="100"><span>개</span>
                             
                            <img src="../../resources/icons/icon_cancel_.svg"
                            style=" width: 16px; margin-bottom: 12px; margin-left: 10px;">
                            </div>
                        </li>   
                    </ul> 
                </div>
            </div>

        </div>


        <!-- 선물 수량 및 설명 금액 -->
        <div style="margin-top: 30px;">

            <div class="inputTitle">선물 수량</div>
            <div class="radioWrapper">
                <div style="margin-top: 4px;">
                    <input type="radio" id="nolimit" name="goodsCount" value="nolimit">
                    <label for="nolimit">제한 없음</label>
                </div>

                <div>
                    <input type="radio" id="count" name="goodsCount" value="count">
                    <input type="number"><label for="count"> 개</label>
                </div>

            </div>  
        </div>

        <br><br><br>

        <div>
            <div class="inputTitle">후원 금액</div>
            <p class="subText">아이템 구성을 고려하여 후원 금액을 정해보세요.</p>
            <input type="text" style="width: 300px; text-align: right;"><span>  원</span>
        </div>

        
        
        <br><br><br><br>
        <div class="subTitle" style="font-size: 19px;">현재 선물 구성</div>
        <br>
        <div class="rewardCard-wrapper">
            <div class="rewardCardInner">
                <div class="cardAmountWrapper">
                    <div><span class="rewardAmount">70,000<span>원</span></span></div>
                    
                    <img src="../../resources/icons/icon_cancel_.svg"
                        style=" width: 16px; margin-bottom: 12px; margin-left: 10px;">
                </div>

                <div style="display: flex; justify-content: space-between;">
                    <div class="rewardCardTitle">[ 얼리버드 ] 펀딩 시작 기념 구성</div>
                    <!-- 개수는 수량 제한이 없을 경우 표시안함 -->
                    <div class="rewardCount"><span>50</span><span>개 남음</span></div>
                </div>
                <div class="rewardContent">
                    <ul>
                        <li>워녕이 인형 &nbsp;<span>( x 1 )</span></li>
                        <li>워녕이 키링 &nbsp;<span>( x 1 )</span></li>
                        <li>IVE 거울 &nbsp;<span>( x 1 )</span></li>
                        <li>보관용 파우치 &nbsp;<span>( x 1 )</span></li>

                    </ul>
                </div>
                
                <div style="text-align: right;">
                    <button class="modifyBtn">수정</button>
                </div>

            </div>
        </div>


        <br><br><br><br>



    </div>
</div>

    

</body>


</html>