<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/projectRegister/registerHeader.css">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<title>registerHeader</title>
</head>


<body>

<header>    
<div class="header">
    <div class="container">
        
        <div class="backArrow" onclick="location.href='#'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 25 30" fill="none" >
                <path d="M9.11701 29.6743C8.88368 29.6751 8.65314 29.6236 8.44233 29.5236C8.23152 29.4236 8.04579 29.2777 7.8988 29.0965L0.355291 19.7256C0.125579 19.4462 0 19.0956 0 18.7339C0 18.3721 0.125579 18.0216 0.355291 17.7421L8.16431 8.37133C8.4294 8.05239 8.81034 7.85181 9.22333 7.81374C9.63631 7.77566 10.0475 7.9032 10.3664 8.1683C10.6854 8.4334 10.886 8.81434 10.924 9.22732C10.9621 9.6403 10.8346 10.0515 10.5695 10.3704L3.58822 18.7417L10.3352 27.113C10.5262 27.3422 10.6475 27.6214 10.6848 27.9174C10.7221 28.2134 10.6738 28.514 10.5457 28.7834C10.4175 29.0529 10.2148 29.28 9.96166 29.4379C9.70848 29.5958 9.41536 29.6778 9.11701 29.6743Z" fill="#231F20"/>
            </svg>
            <span style="padding-top: 4px;">내가 만든 프로젝트</span>
        </div>
        


        <div class="logo">
            <img src="/icon/logo2.png" alt="로고">
        </div>

        <div class="menu">
            <div class="menu-item" onclick="alert('프로젝트 심사 약관')"><img src ="/icon/projectStart/project_terms_btn.svg" alt="프로젝트 심사 약관"></div>
            <div class="menu-item" onclick="alert('창작자 가이드')"><img src="/icon/projectStart/creator_guide_btn.svg" alt="창작자 가이드"></div>
        </div>
        
    </div>

    <nav>
        <div class="processTabWrapper">
            <ul class="processTab">
                <li class="tabItem "><a href="/projectReg/project">기본 정보</a></li>
                <li class="tabItem"><a href="/projectReg/creator">창작자 정보</a></li>
                <li class="tabItem tabBar"><a href="/projectReg/priceplan">요금제</a></li>
                <li class="tabItem"><a href="/projectReg/planning">펀딩 계획</a></li>
                <li class="tabItem"><a href="/projectReg/info">상세 정보</a></li>
                <li class="tabItem"><a href="/projectReg/goods">선물 구성</a></li>
                <li class="tabItem"><a href="/projectReg#">정책</a></li>
            </ul>
        </div>
    </nav>


</div>    
</header>

<div id="article">
    <div class="container2">
        <!-- 여기에 내용을 추가하거나 필요한 구조를 만드세요 
            여기가 하늘색 바디 부분-->

    </div>
</div>

    

</body>


</html>