@charset "utf-8";
@import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap);
@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/* reset */

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* mobile firefox too! */
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button,
select {
    text-transform: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}
ul,li,dl,dt,dd,ol{
    list-style:none;
}
a{
    text-decoration:none;
}

html {
    font-size: 14px;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    background: #f6f5f5;
    font-family: 'Spoqa Han Sans Neo', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    color: rgba(0, 0, 0, 0.87);

}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Spoqa Han Sans Neo', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.2857em;
    margin: calc(2rem -  0.14285em ) 0em 1rem;
    font-weight: bold;
    padding: 0em;
}
a {
    color: #7C1CD8;
    text-decoration: none;
}

a:hover {
    color: #6D6D6D;
    text-decoration: none;
}
::-webkit-selection {
    background-color: #CCE2FF;
    color: rgba(0, 0, 0, 0.87);
}

::-moz-selection {
    background-color: #CCE2FF;
    color: rgba(0, 0, 0, 0.87);
}

::selection {
    background-color: #CCE2FF;
    color: rgba(0, 0, 0, 0.87);
}
*{
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #f6f5f5;
  font-family: 'Spoqa Han Sans Neo', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  color: rgba(0, 0, 0, 0.87);
  padding:50px;
}

header{
    min-width: 100%;

    background-color:rgb(255, 255, 255);
    border-bottom: 1px solid lightgray;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;


    }

    .container{
    position: relative;
    background-color: rgb(255, 255, 255, 1);
    width: 70%;
    height: 115px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    }

    .backArrow{
        display: flex;
        margin-top: 20px;
    }

    .logo{

    margin-top:5px;
    margin-left: 40px;
    text-align: center;
    }

    .logo img{
    max-width: 40%;
    height: auto ;

    }

    .menu{float: right;}

    .menu-item{
        float: left;
        margin: 20px 13px 10px 5px;

    }

    .menu-item > img {width: 110px;}


    /*************** processTab ********************/


    .processTabWrapper{
        width: 1300px;
        margin-left: 230px;
    }

    .processTab{
        display: flex;
        list-style-type: none;
        font-weight: bold;
        color: #4D4D4D;
        margin-bottom: 0;

    }

    .tabItem{
        margin:0 35px;
        padding-bottom: 15px;
    }

    .tabItem > a{
        text-decoration: none;
        color: #4D4D4D;

    }

    /* 선택하면 표시되는 보라색 바 */
    .tabBar {

        border-bottom: 3px solid #7D1CD8;
        padding: 0px 3px;
    }

    .container2{

        padding-top: 50px;
        width: 65%;
        margin: auto;

    }

main {
  width: 1200px;
  margin:150px auto;
}

.out-div{
    display:flex;
    padding-bottom: 50px;
    border-bottom: 0.5px solid #6D6D6D;
}

.out-div-phone{
    display: flex;
    padding-bottom: 50px;
}

.title-div{
    width:600px;
    margin:0 10px;
}

.title-tax-div{
    width:600px;
    margin:0 10px;
}

.content-tax-div{
    width: 450px;
}

.title{
    font-weight: 800;
}

.fa-solid{
    color:#7C1CD8;
    font-size: 13px;
}

.title-content{
    color:#6D6D6D;
}

.content-div{
    width:400px;
    margin:20px 10px;
}

.content-type-div{
  display: flex;
  margin-top:50px;
}


[type="radio"],
label {
  vertical-align: middle;
  background-color: #EDEAFF;
  font-weight: 600;
  font-size:20px;
  color:#6D6D6D;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: border 0.5s ease-in-out;
  opacity: 0;
}

[type="radio"]:checked +label {
  border: 2px solid #7C1CD8;
}

[type="radio"]:hover + label {
  cursor: pointer;
}


#tax-button{
    width:200px;
    height:30px;
    margin-top:20px;
    border:2px solid #EDEAFF;
    background-color: #FFF;
    cursor: pointer;
}

.tax-button-div{
    display:flex;
    justify-content: center;
}

.input{
    width:350px;
    height:30px;
}

.image-div{
    display: flex;
    margin-top:30px;
}

.file{
    display: none;
}

#preview{
    width:190px;
    height:130px;
}

.image-button{
    width:160px;
    background-color: #fff;
    border:1px solid #EDEAFF;
    padding:5px;
    margin-top:50px;
    margin-left:10px;
    cursor: pointer;
}

.text-length-check{
    font-size: 12px;
    color:#7C1CD8;
    font-weight: 550;
}

#input-intro{
    width:350px;
    height:100px;
}

.tax-nav{
    display: flex;
  }

  #subpage1 {
    height: 720px;
  }
  #subpage2 {
    height: 720px;
  }

  .active {
    visibility: visible;
  }

  .subpage {
    display: none;
  }

  .subpage.active {
    display: block;
  }

  .sub{
    display:none;
    margin-left:45px;
  }

  .sub.active{
    display:block;
  }

  #personal{
    width:180px;
    height:35px;
    background-color: #fff;
    border: 2px solid #EDEAFF;
    color:#7C1CD8;
    font-weight: 700;
    margin-right:10px;
    cursor: pointer;
  }

  #business{
    width:180px;
    height:35px;
    background-color: #fff;
    border: 2px solid #EDEAFF;
    color:#7C1CD8;
    font-weight:700;
    cursor:pointer;
  }

  .identi{
    display: flex;
  }

  .sub-input{
    width:300px;
    height:30px;
  }

  .sub-input-half {
    width:110px;
    height:30px;
  }

  .sub-input-halft {
    width:200px;
    height:30px;
  }

  .sub-input-dhalf{
    margin-right:20px;
    width:150px;
    height:30px;
  }

  .dash{
    margin-right:20px;
  }

  .id-num{
    margin-left:30px;
  }

  .identinum{
    display:flex;
  }

  .id-text{
    width:450px;
    color:#6D6D6D;
  }

  .upload-button{
    margin-top:20px;
    margin-left:70px;
    width:300px;
    height:30px;
    background-color: #fff;
    border-color: #EDEAFF;
    cursor: pointer;
  }

  .upload-button2{
    margin-top:5px;
    width:300px;
    height:30px;
    background-color: #fff;
    border-color: #EDEAFF;
    cursor: pointer;
  }

  #upload-input{
    visibility: hidden;
  }

  #upload-input2{
    visibility: hidden;
  }

  #id-content{
    margin-right: 300px;
    margin-top:5px;
    color:#7C1CD8;
    font-weight: 700;
  }

  #id-content2{
    margin-right: 300px;
    margin-top:5px;
    color:#7C1CD8;
    font-weight: 700;
  }

  .tupload{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
  }

  .tbutton{
    width:100px;
    margin:50px 10px;
    border-style: none;
    background-color: #fff;
    border-color:#7C1CD8;
  }

  .hidden{
      display:none;
  }

  .first_button_div{
      display: flex;
      justify-content: center;
  }

  .first_button{
      width:180px;
      height:50px;
      font-size: 18px;
      border-radius: 1px;
      margin-top:40px;
      border: 0px;
      outline: none;
      font-weight: normal;
      box-sizing: border-box;
      padding: 0px 16px;
      background-color: #EDEAFF;
      color: #6d6d6d;
      font-weight: 700;
  }





