 
*{
  padding: 0;
  box-sizing: border-box;
}
body{
    padding: 50px;
}

header{
    min-width: 1200px;
    
    background-color:rgb(255, 255, 255);
    border-bottom: 1px solid lightgray;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    
    
    }
    
    .container{
    position: relative;
    background-color: rgb(255, 255, 255, 1);
    width: 70%;
    height: 115px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    }
    
    .backArrow{
        display: flex;
        margin-top: 20px;
    }
    
    .logo{
    
    margin-top:5px;
    margin-left: 40px;
    text-align: center;
    }
    
    .logo img{
    max-width: 40%; 
    height: auto ;
    
    }
    
    .menu{float: right;}
    
    .menu-item{
        float: left;
        margin: 20px 13px 10px 5px; 
    
    }
    
    .menu-item > img {width: 110px;}
    
    
    /*************** processTab ********************/
    
    
    .processTabWrapper{
        width: 1300px;
        margin-left: 230px;
    }
    
    .processTab{
        display: flex;
        list-style-type: none;
        font-weight: bold;
        color: #4D4D4D;
        margin-bottom: 0;
        
    }
    
    .tabItem{
        margin:0 35px;
        padding-bottom: 15px;
    }
    
    .tabItem > a{
        text-decoration: none;
        color: #4D4D4D;
    
    }
    
    /* 선택하면 표시되는 보라색 바 */
    .tabBar {
    
        border-bottom: 3px solid #7D1CD8;
        padding: 0px 3px;
    }
    
    .container2{
    
        padding-top: 50px;
        width: 65%;
        margin: auto;
    
    }

main {
  width: 1200px;
  margin:150px auto;
}

.out-div{
    display:flex;
    padding-bottom: 50px;
    border-bottom: 0.5px solid #6D6D6D;
}

.title-div{
    width:600px;
    margin:0 10px;
}

.title-tax-div{
    width:600px;
}

.content-tax-div{
    width: 450px;
}

.title{
    font-weight: 800;
}

.fa-solid{
    color:#7C1CD8;
    font-size: 13px;
}

.title-content{
    color:#6D6D6D;
}

.content-div{
    width:400px;
    margin:20px 10px;
}

#tax-button{
    width:200px;
    height:30px;
    margin-top:20px;
    border:2px solid #EDEAFF;
    background-color: #FFF;
    cursor: pointer;
}

.tax-button-div{
    display:flex;
    justify-content: center;
}

.input{
    width:350px;
    height:30px;
}

.image-div{
    display: flex;
    margin-top:30px;
}

.file{
    display: none;
}

#preview{
    width:190px;
    height:130px;
}

.image-button{
    width:160px;
    background-color: #fff;
    border:1px solid #EDEAFF;
    padding:5px;
    margin-top:50px;
    margin-left:10px;
    cursor: pointer;
}

.text-length-check{
    font-size: 12px;
    color:#7C1CD8;
    font-weight: 550;
}

#input-intro{
    width:350px;
    height:100px;
}

.tax-nav{
    display: flex;
  }
  
  #subpage1 {
    height: 650px;
  }
  #subpage2 {
    height: 700px;
  }
  
  .active {
    visibility: visible;
  }
  
  .subpage {
    display: none;
  }
  
  .subpage.active {
    display: block; 
  }

  .sub{
    display:none;
    margin-left:45px;
  }

  .sub.active{
    display:block;
  }
  
  #personal{
    width:180px;
    height:35px;
    background-color: #fff;
    border: 2px solid #EDEAFF;
    color:#7C1CD8;
    font-weight: 700;
    margin-right:10px;
    cursor: pointer;
  }
  
  #business{
    width:180px;
    height:35px;
    background-color: #fff;
    border: 2px solid #EDEAFF;
    color:#7C1CD8;
    font-weight:700;
    cursor:pointer;
  }
  
  .identi{
    display: flex;
  }
  
  .sub-input{
    width:300px;
    height:30px;
  }
  
  .sub-input-half {
    width:110px;
    height:30px;
  }
  
  .sub-input-halft {
    width:200px;
    height:30px;
  }
  
  .sub-input-dhalf{
    margin-right:20px;
    width:150px;
    height:30px;
  }
  
  .dash{
    margin-right:20px;
  }
  
  .id-num{
    margin-left:30px;
  }
  
  .identinum{
    display:flex;
  }
  
  .id-text{
    width:450px;
    color:#6D6D6D;
  }
  
  .upload-button{
    margin-top:20px;
    margin-left:70px;
    width:300px;
    height:30px;
    background-color: #fff;
    border-color: #EDEAFF;
    cursor: pointer;
  }
  
  .upload-button2{
    margin-top:5px;
    width:300px;
    height:30px;
    background-color: #fff;
    border-color: #EDEAFF;
    cursor: pointer;
  }
  
  #upload-input{
    visibility: hidden;
  }
  
  #upload-input2{
    visibility: hidden;
  }
  
  #id-content{
    margin-right: 300px;
    margin-top:5px;
    color:#7C1CD8;
    font-weight: 700;
  }
  
  #id-content2{
    margin-right: 300px;
    margin-top:5px;
    color:#7C1CD8;
    font-weight: 700;
  }

  .tupload{
    display: flex;
    justify-content: flex-end;
  }

  .tbutton{
    width:100px;
    margin:50px 10px;
  }

