
/* ==============================헤더 부분=========================== */
.header{
/* position: fixed; */
/* left: 0; */
/* top: 0; */
width: 100%;
background-color:rgb(255, 255, 255);
border-bottom: 1px solid lightgray;

}

.container{
position: relative;
background-color: rgb(255, 255, 255, 1);
width: 70%;
height: 115px;
margin: auto;
display: flex;
justify-content: space-between;
}

.backArrow{
    display: flex;
    margin-top: 20px;
}

.logo{

margin-top:5px;
margin-left: 40px;
text-align: center;
}

.logo img{
max-width: 40%; 
height: auto ;

}

.menu{float: right;}

.menu-item{
    float: left;
    margin: 20px 13px 10px 5px; 

}

.menu-item > img {width: 110px;}


/*************** processTab ********************/


.processTabWrapper{
    width: 1300px;
    margin-left: 230px;
}

.processTab{
    display: flex;
    list-style-type: none;
    font-weight: bold;
    color: #4D4D4D;
    margin-bottom: 0;
    
}

.tabItem{
    margin:0 35px;
    padding-bottom: 15px;
}

/* 선택하면 표시되는 보라색 바 */
.tabBar {
    /* content: ""; */
    
    /* position: absolute; */
    /* display: block;
    width: 100%;
    height: 3px;
    background: #7D1CD8; */
    border-bottom: 3px solid #7D1CD8;
    padding: 0px 3px;
}



.container2{

    padding-top: 50px;
    width: 65%;
    margin: auto;

}







