<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/Inquiry/inquiryForm.css">
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- <script src="/Frondend/resources/js/summernote/summernote-lite.js"></script>
        <script src="/Frondend/resources/js/summernote/lang/summernote-ko-KR.js"></script>

        <link rel="stylesheet" href="/Frondend/resources/css/summernote/summernote-lite.css"> -->
    <!--이쪽부터 들고가면 됨-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <meta charset="UTF-8">
    <title>inquiryForm</title>

</head>

<body>

<div class="report-wrapper">
    <div class="reportInner">
        <h2>1:1 문의</h2>
        <h4>문의 내용에 개인정보(이름, 연락처, 카드번호 등)가 포함되지 않도록 유의하시기 바랍니다.</h4>
        <span class="reportAttention">고객님의 문의에 답변하는 직원은 고객 여러분의 가족 중 한 사람일 수 있습니다. 고객의 언어폭력으로부터 직원을 보호하기 위해 관련 법에 따라
                수사기관에 필요한 조치를 요구할 수 있으며, 형법에 의해 처벌 대상이 될 수 있습니다.</span>

        <!-- <form method="post">
        <textarea id="Y-SummernoteCate" name="editor"></textarea>
        </form> -->

        <!-- 폼태그 시작 -->
    <form id="inquiryRegist" method="post" action="/inquiry/save"> <!--action에는 입력한 데이터를 보낼 주소 작성. 액션속성은 목적지를 의미-->
<!--        writer: <input type="text" name="boardWriter" th:value="${user.id}"><br>-->
<!--        receiver: <input type="text" name="boardeReciver" th:value="${user.id}"><br>-->
        writer: <input type="text" name="questioner" th:value="${#authentication.getPrincipal().userDTO.getUser_code()}" readonly><br> <!-- 인풋에 입력한 값이 네임에 담겨서 넘어간다. 반드시 네임 정해줘야함 -->
        receiver: <input type="text" name="replier" value="2" readonly><br> <!-- admin의 유저코드가 2여서 디폴트로 잡아줌.-->
        type: <input type="text" name="inquiryType"><br>
        status: <input type="text" name="inquiryStatus"><br>

<!--            <select id="category" name="category">-->
<!--                <option value="" disabled selected>카테고리를 선택하세요</option>-->
<!--                <option value="option2">카테고리 옵션1</option>-->
<!--                <option value="option3">카테고리 옵션2</option>-->
<!--                <option value="option1">기타</option>-->
<!--            </select>-->

            <textarea id="Y-SummernoteTitle" name="inquiryTitle"></textarea>


                <textarea id="Y-SummernoteContent" name="inquiryContent"></textarea>


<!--        <i class="fa-solid fa-camera" for="reportFile"></i>-->
<!--        <input id="check-file-input" type="file" multiple class="reportFile" name="reportFile" accept="image/"-->
<!--               onchange="loadFile(this)">-->
<!--        <button type="submit" class="submit-button">전송테스트</button>-->
        <input type="submit" value="작성테스트">

        </form>

        <!-- 폼태그 완료 -->
        <!-- 폼태그에 작성한 값을 컨트롤러로 보내줘야함 -->


        <!--        <div class="form-complete">-->
<!--            <button onclick="submitAllForms()">작성완료</button>-->
<!--        </div>-->
    </div>
</div>



<script>

    // function submitAllForms() {
    //     var forms = document.querySelectorAll('form');
    //     forms.forEach(function (form) {
    //         form.submit();
    //     });
    // }

    jQuery(document).ready(function () {

        $('#Y-SummernoteCate').summernote({
            lang: 'ko-KR',
            maxheight: 30,
            disableResizeEditor: true,
        });

    });

    jQuery(document).ready(function () {

        $('#Y-SummernoteTitle').summernote({
            lang: 'ko-KR',
            maxheight: 30,
            disableResizeEditor: true,
            focus: true, //새로고침 될때 여기로 커서 자동으로 잡히게 설정
            placeholder: '제목',


        });

        $('#inquiryRegist').on('submit', function(e) {
            e.preventDefault();

            var summernoteContent = $('#Y-SummernoteTitle').summernote('code');
            // HTML 태그 제거
            var inquiryTitle = summernoteContent.replace(/<[^>]*>?/gm, '');

            // html 태그 제거된 텍스트로 업데이트
            $('#Y-SummernoteTitle').summernote('code', inquiryTitle);

            // 폼 제출
            this.submit();
        })

    });
    jQuery(document).ready(function () {

        $('#Y-SummernoteContent').summernote({
            lang: 'ko-KR',              // 언어 변경
            height: 300,                 //  길이
            disableResizeEditor: true,   //  길이 늘리는 아래 바 없애기
            placeholder: '내용',

        });

        $('#inquiryRegist').on('submit', function(e) {
            e.preventDefault();

            var summernoteContent = $('#Y-SummernoteContent').summernote('code');
            // HTML 태그 제거
            var inquiryContent = summernoteContent.replace(/<[^>]*>?/gm, '');

            // html 태그 제거된 텍스트로 업데이트
            $('#Y-SummernoteContent').summernote('code', inquiryContent);

            // 폼 제출
            this.submit();
        })

    });



</script>


</body>

</html>